<template>
  <v-col cols="12" v-if="isEditionAllowed">
    <v-card>
      <v-card-title class="subheading"
        >Edit Information
        <v-spacer></v-spacer>
        <v-btn icon @click="expandEditZone = !expandEditZone">
          <v-icon>{{ expandEditZone ? icon.up : icon.down }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-slide-y-transition>
        <v-card-text v-show="expandEditZone">
          <v-form>
            <v-container>
              <v-row>
                <v-col cols="4">
                  <v-card>
                    <v-card-title>PhD graduation date</v-card-title>
                    <v-card-text>
                      <v-menu
                        ref="phdDateMenu"
                        v-model="showPhdDateMenu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="editableData.phdDate"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="editableData.phdDate"
                            :prepend-icon="icon.calendar"
                            readonly
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="editableData.phdDate"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="showPhdDateMenu = false"
                            >Cancel</v-btn
                          >
                          <v-btn
                            text
                            color="primary"
                            @click="
                              $refs.phdDateMenu.save(editableData.phdDate)
                            "
                            >OK</v-btn
                          >
                        </v-date-picker>
                      </v-menu>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn color="success" @click="submitPhdDate"
                        >Submit</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-col>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { mapGetters } from "vuex";

export default {
  props: {
    cmsId: { default: null },
  },
  data() {
    return {
      expandEditZone: false,
      showPhdDateMenu: false,

      editableData: {
        phdDate: null,
        phdDateId: null,
      },
    };
  },
  computed: {
    ...mapGetters("user", ["userId", "isAdmin"]),

    isEditionAllowed() {
      return this.userId == this.cmsId || this.isAdmin;
    },
  },

  methods: {
    init() {
      if (this.cmsId === null) return;
      if (!this.isEditionAllowed) return;
      new api.CareerEventsCall()
        .setCmsId(this.cmsId)
        .setEventType("phd completion")
        .get()
        .then(this.setCareerEvents);
    },
    setCareerEvents(data) {
      var event = data.find((e) => e.event_type == "phd completion");
      if (event != null) {
        this.editableData.phdDate = event.date;
        this.editableData.phdDateId = event.id;
      }
    },
    submitPhdDate() {
      var compo = this;
      new api.CareerEventCall()
        .setId(this.editableData.phdDateId || undefined)
        .setCmsId(this.cmsId)
        .setDate(this.editableData.phdDate)
        .setEventType("phd completion")
        .post()
        .then(() => {
          compo.$store.dispatch(
            "notification/infoMessage",
            "Information updated successfully."
          );
        });
    },
  },
  watch: {
    cmsId() {
      this.init();
    },
  },
  mounted() {
    this.init();
  },
  created() {
    this.icon = icon;
  },
};
</script>
