<template>
  <v-col class="text-left" cols="12" v-if="eprTimeLines.length > 0">
    <v-card>
      <v-card-title class="subheading">User Time Lines</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-data-table
          :headers="tluHeaders"
          :items="eprTimeLines"
          :options="tluPagination"
          :footer-props="{ 'items-per-page-options': [-1] }"
        >
          <template v-slot:[`item.instCode`]="{ item }">
            <inst-profile-link :instCode="item.instCode"
          /></template>
          <template v-slot:[`item.isAuthor`]="{ item }">
            <div :class="assignCellClass('isauthor', item.isAuthor)">
              {{ item.isAuthor }}
            </div>
          </template>
          <template v-slot:[`item.isSuspended`]="{ item }">
            <div :class="assignCellClass('issuspended', item.isSuspended)">
              {{ item.isSuspended }}
            </div>
          </template>
          <template v-slot:[`item.dueAuthor`]="{ item }">
            {{ (item.dueAuthor || 0).toFixed(2) }}
          </template>
          <template v-slot:[`item.dueApplicant`]="{ item }">
            <div :class="{ 'cell-attention': item.dueApplicant > 0 }">
              {{ (item.dueApplicant || 0).toFixed(2) }}
            </div>
          </template>
          <template v-slot:[`item.yearFraction`]="{ item }">
            {{ (item.yearFraction || 0).toFixed(2) }}
          </template>
          <template v-if="isAdmin" v-slot:[`item.comment`]="{ item }">
            {{ item.comment }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
import api from "@/api";
import { mapGetters } from "vuex";

import InstProfileLink from "@/components/common/links/InstProfileLink";

export default {
  components: {
    "inst-profile-link": InstProfileLink,
  },
  props: {
    cmsId: { default: null },
    assignCellClass: { default: null },
  },
  data() {
    return {
      eprTimeLines: [],
      tluPagination: { sortBy: ["timestamp"], sortDesc: [true] },
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),

    tluHeaders() {
      var baseColumns = [
        { text: "Year", value: "year", sortable: true },
        { text: "Date", value: "timestamp", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Institute", value: "instCode", sortable: true },
        { text: "Activity", value: "category", sortable: true },
        { text: "Authorship", value: "isAuthor", sortable: true },
        { text: "EPR Suspension", value: "isSuspended", sortable: true },
        { text: "Project", value: "mainProject", sortable: true },
        { text: "Author due", value: "dueAuthor", sortable: true },
        { text: "Applicant due", value: "dueApplicant", sortable: true },
        { text: "Year fraction", value: "yearFraction", sortable: true },
      ];
      if (this.isAdmin) {
        baseColumns.push({ text: "Comment", value: "comment", sortable: true });
      }
      return baseColumns;
    },
  },

  methods: {
    init() {
      if (this.cmsId === null) return;
      new api.EprTimeLinesCall()
        .setCmsId(this.cmsId)
        .get()
        .then(this.setEprTimeLines);
    },
    setEprTimeLines(data) {
      this.eprTimeLines = data
        .map((e) => {
          e.timestamp = e.timestamp.substring(0, e.timestamp.indexOf("T"));
          return e;
        })
        .sort((a, b) =>
          a.year != b.year
            ? a.year - b.year
            : a.timestamp.localeCompare(b.timestamp)
        );
    },
  },
  watch: {
    cmsId() {
      this.init();
    },
  },
  mounted() {
    this.init();
  },
};
</script>
