<template>
  <v-col class="text-left" cols="12" md="6" v-if="historyLines.length > 0">
    <v-card>
      <v-card-title class="subheading">
        History
        <v-spacer></v-spacer>
        <v-btn icon @click="expandHistory = !expandHistory">
          <v-icon>{{ expandHistory ? icon.up : icon.down }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-slide-y-transition>
        <v-card-text>
          <v-divider></v-divider>
          <pre>{{ historyLinesMerged }}</pre>
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-col>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { mapGetters } from "vuex";

export default {
  props: {
    cmsId: { default: null },
  },
  data() {
    return {
      historyLines: [],
      expandHistory: false,
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),
    historyLinesMerged() {
      return (this.historyLines || []).reduce(
        (s, substr) => s + "\n" + substr,
        ""
      );
    },
  },

  methods: {
    init() {
      if (!this.isAdmin || !this.cmsId) return;

      new api.HistoryLinesCall()
        .setId(this.cmsId)
        .get()
        .then(this.setHistoryLines);
    },
    setHistoryLines(data) {
      var lines = data["history"];
      this.historyLines = lines;
    },
  },
  watch: {
    cmsId() {
      this.init();
    },
  },
  mounted() {
    this.init();
  },
  created() {
    this.icon = icon;
  },
};
</script>
