<template>
  <edit-dialog ref="dialog" @reset="resetForm" @submit="submitData">
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"> </slot>
    </template>
    <template v-slot:header>{{ dialogHeader }}</template>
    <template v-slot:fields>
      <v-text-field
        v-model="domain"
        label="Unit's domain"
        model="values.domain"
      ></v-text-field>
      <v-autocomplete
        v-model="type"
        :items="options.unitType"
        label="Unit type"
        item-value="name"
        item-text="name"
      ></v-autocomplete>
      <v-autocomplete
        v-model="superiorUnitId"
        :items="superiorUnitOptions"
        label="Superior unit"
        item-value="id"
        item-text="label"
        clearable
      ></v-autocomplete>
      <v-autocomplete
        v-model="enclosingUnitId"
        :items="superiorUnitOptions"
        label="Enclosing unit"
        item-value="id"
        item-text="label"
        clearable
      ></v-autocomplete>
      <v-autocomplete
        v-model="outermostUnitId"
        :items="superiorUnitOptions"
        label="Outermost unit"
        item-value="id"
        item-text="label"
        clearable
      ></v-autocomplete>
      <v-checkbox v-model="isActive" label="Active?"></v-checkbox>
    </template>
  </edit-dialog>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";

export default {
  name: "OrgUnitEditor",
  components: {
    "edit-dialog": EditDialog,
  },
  props: {
    // used to initialize the component for edition
    value: null,
  },
  data() {
    return {
      options: {
        unitType: [],
        superiorUnit: [],
      },
      existingUnit: null,
      // form data
      domain: null,
      type: null,
      superiorUnitId: null,
      outermostUnitId: null,
      isActive: null,
      enclosingUnitId: null,
    };
  },
  computed: {
    superiorUnitOptions() {
      return this.options.superiorUnit.map((e) => ({
        id: e.id,
        label: e.domain + " " + e.type,
      }));
    },
    dialogHeader() {
      if (this.existingUnit == null) {
        return "Create a new unit";
      } else {
        return (
          "Edit unit: " +
          this.existingUnit.domain +
          " " +
          this.existingUnit.type
        );
      }
    },
  },
  mounted() {
    console.debug("Mounted OrgUnit Editor for unit id: " + this.value);
    this.loadUnitData();
    this.loadUnitTypes();
    this.loadUnits();
  },
  watch: {
    value(newValue) {
      if (newValue != null) {
        this.loadUnitData();
      } else {
        this.existingUnit = null;
        this.resetForm();
      }
    },
    enclosingUnitId(newValue, oldValue) {
      if (newValue == oldValue) return;
      var unit = null;
      var outerId = newValue;
      while (outerId != null) {
        unit = this.options.superiorUnit.find((u) => u.id == outerId);
        outerId = unit.enclosing_unit_id;
      }
      this.outermostUnitId = unit != null ? unit.id : null;
    },
  },
  methods: {
    resetForm() {
      if (this.existingUnit != null) {
        this.id = this.existingUnit.id;
        this.domain = this.existingUnit.domain;
        this.type = this.existingUnit.type;
        this.superiorUnitId = this.existingUnit.superior_unit_id;
        this.enclosingUnitId = this.existingUnit.enclosing_unit_id;
        this.outermostUnitId = this.existingUnit.outermost_unit_id;
        this.isActive = this.existingUnit.is_active;
      } else {
        this.id = null;
        this.domain = null;
        this.type = null;
        this.superiorUnitId = null;
        this.enclosingUnitId = null;
        this.outermostUnitId = null;
        this.isActive = null;
      }
    },
    async loadUnitData() {
      if (this.value != null) {
        const data = await new api.OrgUnitCall().setId(this.value).get();
        this.existingUnit = data;
        this.resetForm();
      }
    },
    async loadUnitTypes() {
      const data = await new api.OrgUnitTypesCall().get();
      data.sort(function (a, b) {
        a.name.localeCompare(b.name);
      });
      this.options.unitType = data;
    },
    async loadUnits() {
      const data = await new api.OrgUnitsCall().setActive(true).get();
      this.options.superiorUnit = data;
    },
    async submitData() {
      console.debug(
        "ABout to submit unit data, superior: " + this.superiorUnitId
      );
      const data = await new api.OrgUnitsCall()
        .setId(this.id || undefined)
        .setDomain(this.domain)
        .setType((this.type || "").toLowerCase())
        .setActive(!!this.isActive)
        .setSuperiorUnitId(this.superiorUnitId || undefined)
        .setEnclosingUnitId(this.enclosingUnitId || undefined)
        .setOutermostUnitId(this.outermostUnitId || undefined)
        .post();

      console.debug("It looks like the unit data was saved well.");
      this.$store.dispatch(
        "notification/infoMessage",
        data["domain"] + " " + data["type"] + " data saved successfully!"
      );
      this.$refs.dialog.beforeClose();
      // update our base of units
      var index = this.options.superiorUnit.findIndex((e) => e.id == data.id);
      if (index > -1) {
        this.$set(this.options.superiorUnit, index, data);
      } else {
        this.$set(
          this.options.superiorUnit,
          this.options.superiorUnit.length,
          data
        );
      }

      this.$emit("updated", data);
    },
    show() {
      this.$refs.dialog.show();
    },
  },
};
</script>
