<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Decline</span>
        <span v-if="item" class="headline" style="color: #549deb">
          &nbsp;{{ item.first_name }} {{ item.last_name }}&nbsp;
        </span>
        <span v-if="item"> for the {{ item.title }} </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-textarea label="Remarks" v-model="remarks" />
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="orange darken-1" text @click="submit">Decline</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from "vuex";
import api from "@/api";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      remarks: "",
    };
  },
  computed: { ...mapGetters("user", ["userId"]) },
  methods: {
    close() {
      this.$emit("input", false);
    },
    submit() {
      new api.JobNominationStatusCall()
        .setId(this.item.nomination_id)
        .setActorRemarks(this.remarks)
        .setActorId(this.userId)
        .setStatus("declined")
        .put();

      this.$emit("updated");
      this.close();
    },
  },
};
</script>
