<template>
  <v-dialog v-model="value" max-width="1200px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Nomination Details - </span>
        <span v-if="item" class="headline" style="color: #549deb">
          &nbsp;{{ item.title }}
        </span>
        <div v-if="item">
          <ul>
            <li v-for="status in item.statuses" :key="status.id">
              <div v-if="status.status == 'active'">
                {{ status.last_modified }} {{ status.first_name }}
                {{ status.last_name }} as nominator. Remarks:
                {{ status.actor_remarks }}
              </div>
              <div
                v-else-if="
                  status.status == 'accepted' || status.status == 'rejected'
                "
              >
                {{ status.last_modified }} {{ status.first_name }}
                {{ status.last_name }} {{ status.status }}. Remarks:
                {{ status.actor_remarks }}
              </div>
              <div v-else>
                {{ status.last_modified }} {{ status.status }} by
                {{ status.first_name }} {{ status.last_name }} . Remarks:
                {{ status.actor_remarks }}
              </div>
            </li>
          </ul>
        </div>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
};
</script>
