<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Nominee Selection</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col cols="3">
              <v-select
                label="Choose a job opening position"
                v-model="selectedJob"
                :items="nomOptions"
              />
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.info`]="props">
            <v-row no-gutters>
              <v-col>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      @click="launchDetails(props.item.nomination_id)"
                      v-bind="attrs"
                      v-on="on"
                      >{{ icon.info }}</v-icon
                    >
                  </template>
                  <span>Details</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <v-col
                  v-if="
                    canSelectDecline(props.item) &&
                    selectedJob != 'select_option' &&
                    selectedJob != 'select_all'
                  "
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        x-small
                        color="primary"
                        @click="launchSelection(props.item.nomination_id)"
                        >Select</v-btn
                      >
                    </template>
                    <span>Select Nominee</span>
                  </v-tooltip>
                </v-col>
                <v-col
                  v-if="
                    canSelectDecline(props.item) &&
                    selectedJob != 'select_option' &&
                    selectedJob != 'select_all'
                  "
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        x-small
                        color="warning"
                        @click="launchDecline(props.item.nomination_id)"
                        >Decline</v-btn
                      >
                    </template>
                    <span>Decline Nominee</span>
                  </v-tooltip>
                </v-col>
                <v-col
                  v-if="
                    isSelected(props.item) &&
                    selectedJob != 'select_option' &&
                    selectedJob != 'select_all'
                  "
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" small color="success"
                        >Selected</v-btn
                      >
                    </template>
                    <span>Selected Nominee</span>
                  </v-tooltip>
                </v-col>
                <v-col
                  v-if="
                    isDeclined(props.item) &&
                    selectedJob != 'select_option' &&
                    selectedJob != 'select_all'
                  "
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" small color="red"
                        >Declined</v-btn
                      >
                    </template>
                    <span>Declined Nominee</span>
                  </v-tooltip>
                </v-col>
                <v-col
                  v-if="
                    cannotSelectDecline(props.item) &&
                    selectedJob != 'select_option' &&
                    selectedJob != 'select_all'
                  "
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        small
                        disabled
                        color="primary"
                        >Select</v-btn
                      >
                    </template>
                    <span>Cannot Select Nominee</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
          </template>
          <template v-slot:[`item.remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td class="overflow-ellipsis" v-bind="attrs" v-on="on">
                  {{ props.item.remarks }}
                </td>
              </template>
              <span>{{ props.item.remarks }}</span>
            </v-tooltip>
          </template>
          <template v-slot:[`item.nominee_remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td class="overflow-ellipsis" v-bind="attrs" v-on="on">
                  {{ props.item.nominee_remarks }}
                </td>
              </template>
              <span>{{ props.item.nominee_remarks }}</span>
            </v-tooltip>
          </template>
          <template v-slot:[`item.inst_region`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td class="overflow-ellipsis" v-bind="attrs" v-on="on">
                  {{ props.item.inst_region }}
                </td>
              </template>
              <span>{{ props.item.inst_region_name }}</span>
            </v-tooltip>
          </template>
        </data-table>
      </template>
    </base-page>
    <Selection
      v-model="isSelectionEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <Decline
      v-model="isDeclineEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <Remarks
      v-model="isRemarksOpen"
      :item="{ name: selectedNomineeName }"
      :remarks="selectedRemarks"
    />
    <Details v-model="isDetailsOpen" :item="selectedItem" />
  </div>
</template>

<style scoped>
.overflow-ellipsis {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.overflow-ellipsis:hover {
  color: blue;
}
</style>

<script>
import { mapGetters } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";
import Selection from "./Selection";
import Decline from "./Decline";
import Remarks from "./Remarks";
import Details from "./Details";

export default {
  components: {
    Selection,
    Decline,
    Remarks,
    Details,
  },
  data() {
    return {
      loading: false,
      jobs: [],
      nominations: [],
      search: "",
      selectedJob: "select_option",
      selectedItem: null,
      isSelectionEditorOpen: false,
      isDeclineEditorOpen: false,
      isDetailsOpen: false,
      isRemarksOpen: null,
      selectedRemarks: null,
      selectedNomineeName: null,
      currently_showing: [],
      grappa_egroups: [],
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin", "isIcmsDev", "isCbChairTeam"]),
    ...mapGetters("grappaEgroups", ["grappaEgroups"]),
    nomOptions() {
      // Helper function to check if a nomination has a corresponding active job
      var job_openings_for_connected_user =
        this.isAdmin || this.isIcmsDev || this.isCbChairTeam
          ? this.jobs
          : this.jobs.filter((job) => {
              return job.notify_egroups.split(",").some((item) => {
                const normalizedItem = item.includes("@")
                  ? item.split("@")[0]
                  : item;
                return this.grappa_egroups.includes(normalizedItem);
              });
            });
      const isActiveNomination = (nomination) => {
        return job_openings_for_connected_user.some((job) => {
          return (
            job.title === nomination.title &&
            job.unit_domain === nomination.unit_domain &&
            job.unit_type === nomination.unit_type &&
            job.position === nomination.position_name &&
            job.status === "active"
          );
        });
      };

      // Filter nominations using the helper function
      let activeNominations = this.nominations.filter(isActiveNomination);

      // Map the filtered nominations to the desired format
      let options = activeNominations.map((nomination) => ({
        value:
          nomination.title +
          nomination.unit_domain +
          nomination.unit_type +
          nomination.position_name,
        text:
          nomination.title +
          " : " +
          nomination.unit_domain +
          " " +
          nomination.unit_type +
          " : " +
          nomination.position_name,
      }));

      options.unshift({
        value: "select_all",
        text: "---select all---",
      });

      options.unshift({
        value: "select_option",
        text: "---select an option---",
      });

      return options;
    },
    headers() {
      const defaultHeaders = [
        { text: "Nominee", value: "nominee", sortable: true },
        { text: "Nominee email", value: "email", sortable: true },
        { text: "Nominee Remarks", value: "nominee_remarks", sortable: true },
        { text: "Affiliations", value: "inst_code", sortable: true },
        { text: "Institute Country", value: "inst_country", sortable: true },
        { text: "Institute Region", value: "inst_region", sortable: true },
        { text: "Projects", value: "project_codes", sortable: true },
        { text: "Nominator", value: "nominators", sortable: true },
        { text: "Nominator Remarks", value: "remarks", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Last Modified", value: "last_modified", sortable: true },
        { text: "Info", value: "info", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ];
      const additionalHeaders =
        this.selectedJob === "select_option" ||
        this.selectedJob === "select_all"
          ? [{ text: "Job position", value: "title", sortable: true }]
          : [];
      return [...additionalHeaders, ...defaultHeaders];
      // return defaultHeaders;
    },
    tableData() {
      let data = [];
      if (
        this.selectedJob != "select_option" &&
        this.selectedJob != "select_all"
      ) {
        data = this.nominations.filter((nomination) => {
          return (
            nomination.title +
              nomination.unit_domain +
              nomination.unit_type +
              nomination.position_name ===
            this.selectedJob
          );
        });
      } else if (this.selectedJob == "select_all") {
        // Get the values from nomOptions that correspond to active nominations
        const activeNominationValues = this.nomOptions
          .filter(
            (option) =>
              option.value !== "select_option" && option.value !== "select_all"
          )
          .map((option) => option.value);

        // Filter nominations based on active nomination values
        data = this.nominations.filter((nomination) => {
          const nominationValue =
            nomination.title +
            nomination.unit_domain +
            nomination.unit_type +
            nomination.position_name;

          return activeNominationValues.includes(nominationValue);
        });
      }
      return data.map((d) => {
        const nominatedStatuses = d.statuses.filter((status) => {
          const validStatuses = [
            "nominated",
            "active",
            "accepted",
            "rejected",
            "selected",
            "declined",
          ];
          return validStatuses.includes(status.status);
        });

        const last_status = d.statuses[d.statuses.length - 1];
        const answers = d.questionnaire_answers || "[]";
        const questions = d.questions || "[]";
        const first_status = d.statuses[0];
        let nominee_remarks = "";
        if (nominatedStatuses.length >= 2) {
          nominee_remarks =
            nominatedStatuses[1].status == "rejected"
              ? nominatedStatuses[1].actor_remarks
              : "";
        }
        let project_codes = "";
        if (d.project_codes != null) {
          // Clean up the project_code string. TODO find a better way to be filtered in the backend
          const inputString = d.project_codes;
          // Split the string into an array using the comma as a delimiter
          const stringArray = inputString.split(",");
          // Use a Set to remove duplicates
          const uniqueArray = [...new Set(stringArray)];
          // Join the array back into a string using a comma as a delimiter
          project_codes = uniqueArray.join(",");
        }
        return {
          ...d,
          title:
            d.title +
            " : " +
            d.unit_domain +
            " " +
            d.unit_type +
            " : " +
            d.position_name,
          project_codes: project_codes,
          nominee: d.first_name + " " + d.last_name,
          nominators: first_status.first_name + " " + first_status.last_name,
          status:
            last_status.status.charAt(0).toUpperCase() +
            last_status.status.slice(1),

          questions: questions, //JSON.parse(questions),
          answers: answers, //JSON.parse(answers),
          inst_country: d.country_code,
          inst_region: d.region_code,
          inst_region_name: d.region_name,
          remarks: first_status.actor_remarks,
          nominee_remarks: nominee_remarks,
          last_modified:
            nominatedStatuses[nominatedStatuses.length - 1].last_modified,
        };
      });
    },
  },
  methods: {
    fetchData() {
      this.loading = true;

      this.$store
        .dispatch("grappaEgroups/fetchGrappaEgroups")
        .then((egroupData) => {
          this.grappa_egroups = egroupData["grappa_egroups"];

          return new api.JobOpeningsCall().get();
        })
        .then((jobData) => {
          this.jobs = jobData;

          return new api.JobNominationCall(true).get({});
        })
        .then((nominationData) => {
          this.nominations = nominationData;
        })
        .catch((error) => {
          console.error("An error occurred:", error);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    launchSelection(id) {
      let item = null;
      if (id) {
        item = this.nominations.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isSelectionEditorOpen = true;
    },
    launchDecline(id) {
      let item = null;
      if (id) {
        item = this.nominations.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isDeclineEditorOpen = true;
    },
    canSelectDecline(item) {
      if (item.status === "Accepted") return true;
      else return false;
    },
    isSelected(item) {
      if (item.status === "Selected") return true;
      else return false;
    },
    isDeclined(item) {
      if (item.status === "Declined") return true;
      else return false;
    },
    cannotSelectDecline(item) {
      if (item.status === "Rejected" || item.status === "Active") return true;
      else return false;
    },

    launchRemarks(remarks, name) {
      this.selectedRemarks = remarks;
      this.isRemarksOpen = true;
      this.selectedNomineeName = name;
    },
    itemCreated() {
      this.fetchData();
    },
    itemUpdated() {
      this.fetchData();
    },
    launchDetails(id) {
      let item = null;
      if (id) {
        item = this.tableData.find((n) => n.nomination_id == id);
      }

      this.selectedItem = item;
      this.isDetailsOpen = true;
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
