<template>
  <v-dialog :value="value" @input="$emit('input', $value)" maxWidth="360px">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-if="!item"
            v-model="paperCode"
            :rules="paperCodeRules"
            label="Paper Code"
          />
          <template v-else>
            Are you sure you want to perform this action ?
          </template>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";
import { mapActions } from "vuex";

export default {
  name: "GenerationDialog",
  props: {
    value: { type: Boolean },
    action: { type: String, default: "db" },
    item: { default: null },
  },
  data() {
    return {
      valid: true,

      paperCode: "",
      paperCodeRules: [fieldRequiredRule("Paper Code")],
      loading: false,
    };
  },
  computed: {
    title() {
      let title = "";
      if (this.item) title += "Regenerate ";
      else title += "Generate ";

      if (this.action === "db") title += "Author List in DB";
      else title += "Author List Files";
      return title;
    },
  },
  watch: {
    item(value) {
      if (value) this.paperCode = value.paper_code;
      else this.paperCode = "";
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;

      const ApiCall =
        this.action === "db"
          ? api.AuthorListListsCall
          : api.AuthorListFilesetsCall;
      const call = new ApiCall().setPaperCode(this.paperCode);

      if (this.item) {
        await call.setId(this.paperCode).put();
      } else {
        await call.post();
      }

      this.displaySuccessMessage();
      this.loading = false;
      this.close();
    },
    displaySuccessMessage() {
      let message = "Successully ";
      if (this.item) message += "regenerated ";
      else message += "generated ";

      if (this.action === "db") message += "author list in DB";
      else message += "author list files";
      this.infoMessage(message);
    },
  },
};
</script>
