<template>
  <div>
    <base-page>
      <template v-slot:toolbar-left>
        <v-menu
          bottom
          right
          :close-on-content-click="false"
          v-model="showEventsMenu"
        >
          <template v-slot:activator="{ on }">
            <v-icon v-on="on">{{ icon.menu }}</v-icon>
          </template>
          <v-card max-height="650" min-width="400" style="overflow-y: auto">
            <v-card-title>
              <v-text-field
                v-model="eventSearch"
                label="Search for an event"
                hide-details
                clearable
                clear-icon="clear"
              ></v-text-field>
            </v-card-title>
            <v-card-text>
              <v-treeview
                v-model="eventsTreeModel"
                :search="eventSearch"
                :open-on-click="true"
                :items="eventsTree"
                item-key="code"
                item-name="name"
                :transition="true"
                activatable
              >
                <template v-slot:label="{ item }">
                  <span v-on:click="pickEvent(item.code)">{{ item.name }}</span>
                </template>
              </v-treeview>
            </v-card-text>
          </v-card>
        </v-menu>
      </template>

      <template v-slot:toolbar-title
        >CMS Voting List for {{ votingCode }}</template
      >

      <template v-slot:toolbar-right>
        <v-icon v-if="isAdmin" @click="summonEventEditor(votingCode)">{{
          icon.edit
        }}</v-icon>
        <v-icon v-else></v-icon>

        <v-icon v-if="isAdmin" @click="summonEventEditor(null)">{{
          icon.add
        }}</v-icon>
        <v-icon v-else></v-icon>

        <v-icon v-if="isRoot" @click="deleteEvent(votingCode)">{{
          icon.delete
        }}</v-icon>
        <v-icon v-else></v-icon>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              v-if="isRoot && canPersistTheList"
              @click="confirmations.persist = true"
              v-bind="attrs"
              v-on="on"
            >
              {{ icon.save }}
            </v-icon>
            <v-icon v-else></v-icon>
          </template>
          Persist the list
        </v-tooltip>
      </template>

      <template v-slot:header>
        <v-text-field
          v-model="search"
          :append-icon="icon.search"
          label="Search"
        ></v-text-field>
        <v-col v-if="showVotes" cols="6">
          <v-select
            v-model="searchVotes"
            :items="votesValues"
            label="Filter by votes"
            multiple
          >
          </v-select>
        </v-col>
      </template>

      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="participants"
          :search="search"
          :egroupExportHrIdKey="'hr_id'"
          :enableEgroupExport="true"
        />
      </template>

      <template v-slot:actions>
        <voting-editor
          v-if="isAdmin"
          ref="votingEditor"
          @updated="afterVotingSaved"
          :value="editedVotingId"
        >
          <template v-slot:activator><p></p></template>
        </voting-editor>
      </template>
    </base-page>
    <confirm-dialog
      v-model="confirmations.persist"
      @cancelled="confirmations.approval = false"
      @confirmed="persistTheList"
    >
      <template v-slot:title>Confirmation needed</template>
      <template v-slot:message
        >Voting list for {{ votingCode }} will be persisted in the database. Do
        you wish to conmtinue?</template
      >
    </confirm-dialog>
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { mapGetters } from "vuex";
import VotingEditor from "./VotingEditor.vue";
import ConfirmDialog from "@/components/common/ConfirmDialog.vue";
import { VotingListsCall } from "@/api/endpoints/voting";

export default {
  name: "VotingList",
  components: {
    "voting-editor": VotingEditor,
    "confirm-dialog": ConfirmDialog,
  },
  data() {
    return {
      votingCode: null,
      events: [],
      participants: [],
      nearParticipants: [],
      votesValues: [],
      search: "",
      searchVotes: [],
      // for the events tree
      eventSearch: "",
      eventsTreeModel: [],
      showEventsMenu: false,
      //
      editedVotingId: null,
      confirmations: {
        persist: null,
      },
    };
  },
  props: {
    // if bug hunting, try searching for "this.code" - it's likely you actually meant "this.votingCode"...
    code: { type: String, name: "" },
  },
  watch: {
    async votingCode() {
      if (this.code !== this.votingCode) {
        this.$router
          .push({
            name: "voting",
            params: { code: this.votingCode },
          })
          .catch(() => {});
      }
      if (typeof this.votingCode === "string" && this.votingCode.length > 1) {
        const data = await new api.VotingParticipantsCall()
          .setCode(this.votingCode)
          .setIncludeNearlyVoting(false)
          .get();

        this.participants = [];
        this.nearParticipants = [];

        var votesValues = new Set();
        data.forEach((e) => {
          if (e.votes > 0) {
            this.participants.push(e);
            votesValues.add(e.votes);
          } else {
            this.nearParticipants.push(e);
          }
        });
        this.votesValues = Array.from(votesValues);
      }
    },
    events() {
      console.debug(
        "Events list watch triggered current code is " + this.votingCode
      );
      var bestMatchCode = null;
      var bestMatchDate = null;
      if (this.events.findIndex((e) => e.code === this.votingCode) > -1) {
        bestMatchCode = this.votingCode;
      } else {
        // console.debug('Current code ' + this.votingCode + ' NOT found in our list of events. Looking for the best match...');
        this.events.forEach((e) => {
          // console.debug('Examining code ' + e.code);
          var date = new Date(e.start_time);
          var now = new Date();
          if (bestMatchCode === null) {
            bestMatchCode = e.code;
            bestMatchDate = date;
          } else {
            if (date > now) {
              // console.debug("Event date in the future: " + e.code +' - ' +date+' vs. '+bestMatchDate);
              // future event beats current best if best is in the past or more into the future than the current event
              if (bestMatchDate < now || bestMatchDate > date) {
                bestMatchCode = e.code;
                bestMatchDate = date;
              }
            } else {
              // console.debug("Event date in the past: " + e.code +' - ' +date+' vs. '+bestMatchDate);
              // event is in the past - as long as it's more recent then current best: we're good
              if (date > bestMatchDate) {
                bestMatchDate = date;
                bestMatchCode = e.code;
              }
            }
          }
        });
      }
      this.votingCode = bestMatchCode;
    },
  },
  async mounted() {
    this.votingCode = this.code;
    this.events = await new api.VotingEventsCall().get();
  },
  methods: {
    pickEvent(code) {
      this.votingCode = code;
      this.showEventsMenu = false;
    },
    summonEventEditor(code) {
      var id = null;
      if (code !== null) {
        id = (this.events.find((e) => e.code == code)).id;
      }
      this.editedVotingId = id;
      this.$refs.votingEditor.show();
    },
    deleteEvent() {
      console.debug("should now see a question about deleting the event");
    },
    afterVotingSaved(data) {
      var idx = this.events.findIndex((e) => e.id == data.id);
      // make sure that whatever was saved will now be our primary focus
      this.votingCode = data.code;
      this.$set(this.events, idx > -1 ? idx : this.events.length, data);
    },
    persistTheList() {
      console.debug("The list should be getting saved now!");
      var compo = this;
      new VotingListsCall()
        .setCode(this.votingCode)
        .post()
        .then((data) => {
          console.debug("received " + JSON.stringify(data));
          let code = compo.votingCode;
          compo.votingCode = null;
          compo.$store.dispatch(
            "notification/infoMessage",
            "Voting list for " + code + " saved!"
          );
          compo.votingCode = data["voting_code"];
        });
    },
  },
  computed: {
    ...mapGetters("user", ["isAdmin", "isRoot"]),
    showVotes() {
      return this.votesValues.length > 1;
    },
    headers() {
      var headers = [
        { text: "Person", value: "person" },
        { text: "Institute", value: "unit" },
        { text: "Country", value: "country" },
        { text: "Region", value: "region" },
        { text: "Remarks", value: "remarks" },
      ];
      if (this.showVotes) {
        headers.splice(3, 0, { text: "Votes", value: "votes" });
      }
      return headers;
    },
    eventsTree() {
      var values = this.events.map((e) => ({
        code: e.code,
        name: e.code + ": " + e.title,
        start_time: e.start_time,
      }));
      values.sort((e, f) => {
        return new Date(f.start_time) - new Date(e.start_time);
      });
      return values;
    },
    canPersistTheList() {
      return (
        this.events.filter(
          (e) =>
            e.code === this.votingCode && e.is_written_list_present === false
        ).length == 1
      );
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
