<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Overdue Graduations</template>
      <template v-slot:header>
        <v-container class="text-center" fluid style="padding: 0">
          <v-row align="center">
            <v-col cols="2">
              <v-select
                v-model="education"
                :items="educationOptions"
                :clearable="true"
                label="Education Level"
                placeholder="PHD and Non-PHD"
                class="mr-2"
              />
            </v-col>
            <v-col cols="2" v-if="instituteSelectIsVisible">
              <v-autocomplete
                v-model="institute"
                :items="instituteOptions"
                :clearable="true"
                label="Institute"
                placeholder="All institutes"
                class="mr-2"
              />
            </v-col>
            <v-col cols="1">
              <v-text-field
                v-model="years"
                type="number"
                label="Years"
                class="mr-2"
              />
            </v-col>

            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="tableData"
          :loading="loading"
          :search="search"
          :egroupExportHrIdKey="'hrId'"
          :rows-per-page-items="[
            25,
            100,
            250,
            { text: '$vuetify.dataIterator.rowsPerPageAll', value: -1 },
          ]"
        >
          <template v-slot:item="props">
            <tr
              class="text-left table-padding"
              style="cursor: pointer"
              @click="summonDialogBox(props.item.id)"
            >
              <td>{{ props.item.instCode }}</td>
              <td>{{ props.item.lastName }}</td>
              <td>{{ props.item.firstName }}</td>
              <td>{{ props.item.status }}</td>
              <td>{{ props.item.isAuthor }}</td>
              <td>{{ props.item.dateCreation }}</td>
              <td>{{ props.item.lastChangeDate }}</td>
              <td>{{ props.item.years }}</td>
              <td>{{ props.item.activityCheck }}</td>
              <td>
                <v-icon
                  v-if="props.item.canEdit"
                  @click.stop="launchDialog(props.item.cmsId)"
                  >{{ icon.edit }}</v-icon
                >
              </td>
            </tr>
          </template>
        </data-table>
      </template>
    </base-page>
    <activity-dialog
      v-model="isDialogOpen"
      :student="selectedStudent"
      @statusupdate="onStatusUpdate"
    />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import instituteSelectMixin from "@/mixins/instituteSelectMixin";

import ConfirmationDialog from "./ConfirmationDialog";

export default {
  name: "OverdueGraduations",
  components: {
    "activity-dialog": ConfirmationDialog,
  },
  mixins: [instituteSelectMixin],
  data() {
    return {
      data: [],
      loading: false,

      education: null,
      institute: null,
      years: 3,

      search: "",

      isDialogOpen: false,
      selectedStudent: null,
    };
  },
  computed: {
    headers: () => [
      { text: "Institute", value: "instCode", sortable: true },
      { text: "Last Name", value: "lastName", sortable: true },
      { text: "First Name", value: "firstName", sortable: true },
      { text: "Status", value: "status", sortable: true },
      { text: "Author", value: "isAuthor", sortable: true },
      { text: "Joined", value: "dateCreation", sortable: true },
      { text: "Last Change", value: "lastChangeDate", sortable: true },
      { text: "Years", value: "years", sortable: true },
      { text: "Activity Confirmation", value: "activityCheck", sortable: true },
      { text: "Actions", value: "canEdit", sortable: true },
    ],
    educationOptions: () => [
      { value: "phd", text: "PHD" },
      { value: "non-phd", text: "Non-PHD" },
    ],

    tableData() {
      let tableData = this.data;

      //Apply filters
      if (this.education) {
        tableData = tableData.filter((row) =>
          this.education === "phd" ? row.isPHD : !row.isPHD
        );
      }
      if (this.institute) {
        tableData = tableData.filter((row) => row.instCode == this.institute);
      }
      if (!!this.years && this.years > 3) {
        tableData = tableData.filter(
          (row) => parseFloat(row.years) >= this.years
        );
      }

      return tableData.map((row) =>
        Object.assign({}, row, {
          lastChangeDate: row.lastChangeDate || "---",
          activityCheck: row.activityCheck.status
            ? `${
                row.activityCheck.status == "confirmed"
                  ? "Confirmed"
                  : "Declined"
              } by ${row.activityCheck.checkerName} `
            : "---",
        })
      );
    },
  },
  watch: {
    data(value) {
      this.createInstituteOptions(value);
    },
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.OverdueGraduationsCall().get();
      this.loading = false;
    },
    launchDialog(cmsId) {
      const student = this.data.find((s) => s.cmsId === cmsId);
      this.selectedStudent = student;
      this.isDialogOpen = true;
    },
    onStatusUpdate(newActivityCheck) {
      this.selectedStudent.activityCheck = newActivityCheck;
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
