<template>
  <v-container>
    <v-row v-for="announcement in announcements" :key="announcement['id']">
      <v-col sm="12">
        <v-card :color="announcement['type'] == 'WARNING' ? 'yellow' : 'green'">
          <v-card-title primary class="title"
            >Announcement: {{ announcement["subject"] }}</v-card-title
          >
          <v-divider></v-divider>
          <v-card-text>{{ announcement["content"] }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "@/api";

export default {
  data() {
    return {
      allAnnouncements: [],
    };
  },
  computed: {
    announcements() {
      var ans = [];
      for (var idx in this.allAnnouncements) {
        var a = this.allAnnouncements[idx];
        if (["tools", "common", "", null].includes(a["application"])) {
          ans.push(a);
        }
      }
      return ans;
    },
  },
  mounted() {
    new api.ActiveAnnouncements().get().then((data) => {
      this.allAnnouncements = data;
    });
  },
};
</script>
