<template>
  <base-page>
    <template v-slot:toolbar-title>iCMS Tools Dashboard</template>
    <template v-slot:header>
      <announcements />
    </template>

    <template v-slot:body>
      <v-row>
        <v-col cols="12" md="6">
          <user-info />
        </v-col>
        <v-col cols="12" md="6">
          <quick-search />
        </v-col>
      </v-row>
      <admin-info />
    </template>
  </base-page>
</template>

<script>
import UserInfo from "./UserInfo";
import QuickSearch from "./QuickSearch";
import Announcements from "./Announcements";
import AdminInfo from "./AdminInfo";

export default {
  name: "Dashboard",
  components: {
    "user-info": UserInfo,
    "quick-search": QuickSearch,
    announcements: Announcements,
    "admin-info": AdminInfo,
  },
};
</script>
