<template>
  <v-card height="100%">
    <v-card-title primary class="title">Quick search</v-card-title>
    <v-divider></v-divider>
    <v-card-title secondary class="title">Person</v-card-title>
    <v-card-text>
      <person-picker
        v-model="searchPerson"
        @change="showUserProfile"
      ></person-picker>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-title secondary class="title">Institute</v-card-title>
    <v-card-text>
      <inst-picker
        v-model="searchInst"
        @change="showInstituteProfile"
      ></inst-picker>
    </v-card-text>
    <template v-if="isAdmin">
      <v-divider></v-divider>
      <v-card-title secondary class="title">Impersonate User</v-card-title>
      <v-card-text>
        <v-container>
          <v-row align="center">
            <person-picker v-model="impersonateId" :clearable="true" />
            <v-btn v-if="!!impersonateId" @click="impersonateUser" class="ml-4"
              >Impersonate</v-btn
            >
          </v-row>
        </v-container>
      </v-card-text>
    </template>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import api from "@/api";

import PersonPicker from "@/components/common/inputs/PersonPicker";
import InstitutePicker from "@/components/common/inputs/InstitutePicker";
export default {
  data() {
    return {
      searchPerson: null,
      searchInst: null,
      impersonateId: null,
    };
  },
  components: {
    "person-picker": PersonPicker,
    "inst-picker": InstitutePicker,
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),
  },
  methods: {
    showUserProfile(cmsId) {
      this.$router
        .push({ name: "user-profile", params: { cmsId: cmsId } })
        .catch(() => {});
    },
    showInstituteProfile(instCode) {
      this.$router
        .push({
          name: "institute-profile",
          params: { urlInstCode: instCode },
        })
        .catch(() => {});
    },
    impersonateUser() {
      new api.ImpersonateUserCall()
        .setId(this.impersonateId)
        .setSuccessCallback(() => {
          this.$store.dispatch(
            "notification/infoMessage",
            `Impersonating user with id ${this.impersonateId}`
          );
          this.$router.go();
        })
        .put();
    },
  },
};
</script>
