<template>
  <v-card height="100%" pa-3>
    <v-card-title primary class="title">User info</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-list>
        <v-list-item>
          <v-list-item-content>Last name:</v-list-item-content>
          <v-list-item-content class="align-end">{{
            user.last_name
          }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>First name:</v-list-item-content>
          <v-list-item-content class="align-end">{{
            user.first_name
          }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>CMS ID:</v-list-item-content>
          <v-list-item-content class="align-end">{{
            user.cms_id
          }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>Activity:</v-list-item-content>
          <v-list-item-content class="align-end">{{
            user.activity
          }}</v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>CMS Authorship:</v-list-item-content>
          <v-list-item-content class="align-end">{{
            user.is_author ? "Yes" : "No"
          }}</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
    <v-card-actions>
      <v-btn @click="showFullProfile">Show full profile</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import api from "@/api";

export default {
  data() {
    return {
      user: {
        last_name: null,
        first_name: null,
        cms_id: null,
        activity: null,
        is_author: null,
      },
    };
  },
  methods: {
    showFullProfile() {
      this.$router
        .push({ name: "user-profile", params: { cmsId: this.user.cms_id } })
        .catch(() => {});
    },
  },
  mounted() {
    new api.UserInfoCall().get().then((data) => (this.user = data));
  },
};
</script>
