<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Close Job Opening</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <div class="text-body-1 mb-4">
            Are you sure you want to close this job opening ?
          </div>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">No</v-btn>
        <v-btn color="blue darken-1" text @click="submit">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      await new api.JobOpeningsCall()
        .setId(this.item.id)
        .setPositions([
          {
            position: this.item.position_id,
            job_unit_id: this.item.job_unit_id,
          },
        ])
        .setQuestionnaireId(this.item.questionnaire_id)
        .setTitle(this.item.title)
        .setDescription(this.item.description)
        .setRequirements(this.item.requirements)
        .setStartDate(this.item.start_date)
        .setEndDate(this.item.end_date)
        .setDeadline(this.item.deadline)
        .setStatus("canceled")
        .delete();

      this.$emit("updated");
      this.infoMessage("Job Opening Canceled.");
      this.close();
    },
  },
};
</script>
