<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Job Opening Details</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row class="mb-4">
            <v-col cols="6">
              <div class="text-subtitle-2">Title</div>
              <div class="text-body-1">{{ title }}</div>
            </v-col>
            <v-col cols="6">
              <div class="text-subtitle-2">Status</div>
              <div class="text-body-1 mb-4">{{ status }}</div>
            </v-col>
          </v-row>

          <v-row class="mb-4">
            <v-col cols="6">
              <div class="text-subtitle-2">Position</div>
              <div class="text-body-1">{{ position }}</div>
            </v-col>
            <v-col cols="6">
              <div class="text-subtitle-2">Job unit</div>
              <div class="text-body-1">{{ job_unit }}</div>
            </v-col>
          </v-row>

          <v-row class="mb-4">
            <v-col>
              <div class="text-subtitle-2">Tenure Start date</div>
              <div class="text-body-1">{{ start_date }}</div>
            </v-col>
            <v-col>
              <div class="text-subtitle-2">Tenure End date</div>
              <div class="text-body-1">{{ end_date }}</div>
            </v-col>
          </v-row>
          <v-row class="mb-4">
            <v-col>
              <div class="text-subtitle-2">Deadline</div>
              <div class="text-body-1">{{ nominations_deadline }}</div>
            </v-col>
            <v-col>
              <div class="text-subtitle-2">Days for Nominee response</div>
              <div class="text-body-1">{{ days_for_nominee_response }}</div>
            </v-col>
          </v-row>

          <div class="text-subtitle-2">Questionnaire</div>
          <div class="text-body-1 mb-4">{{ questionnaire_title }}</div>

          <div class="text-subtitle-2">Description</div>
          <div class="text-body-1 mb-4">{{ description }}</div>

          <div class="text-subtitle-2">Requirements</div>
          <div class="text-body-1 mb-4">{{ requirements }}</div>

          <div class="text-subtitle-2">Comment</div>
          <div class="text-body-1 mb-4">{{ comment }}</div>

          <!-- <div class="mb-4">
            <span class="text-subtitle-2">Send email to nominee :</span
            ><span class="text-body-1"> {{ send_mail_to_nominee }}</span>
          </div> -->
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },
  computed: {
    title() {
      return this.item ? this.item.title : null;
    },
    position() {
      return this.item
        ? `${this.item.position} ( lvl. ${this.item.position_level})`
        : null;
    },
    job_unit() {
      return this.item
        ? `${this.item.unit_domain} - ${this.item.unit_type} (lvl. ${this.item.unit_level})`
        : null;
    },
    description() {
      return this.item ? this.item.description : null;
    },
    requirements() {
      return this.item ? this.item.requirements : null;
    },
    start_date() {
      return this.item ? this.item.start_date : null;
    },
    end_date() {
      return this.item ? this.item.end_date : null;
    },
    nominations_deadline() {
      return this.item ? this.item.nominations_deadline : null;
    },
    status() {
      return this.item ? this.item.job_open_position_status : null;
    },
    comment() {
      return this.item ? this.item.comment : null;
    },
    days_for_nominee_response() {
      return this.item ? this.item.days_for_nominee_response : null;
    },
    // send_mail_to_nominee() {
    //   return this.item ? this.item.send_mail_to_nominee : null;
    // },
    questionnaire_title() {
      return this.item ? this.item.questionnaire_uri : null;
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
};
</script>
