<template>
  <v-dialog v-model="value" max-width="660px" :persistent="true">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(submit)">
        <v-card-title>
          <span class="headline">{{ modalTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationProvider
              name="Title"
              rules="required|max:200"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="title"
                label="Title*"
                counter
              ></v-text-field>
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
              <div>
                <span v-if="isDuplicate" class="red--text">
                  Another job opening already exists with the same title and job unit. 
                </span>
              </div>
            </ValidationProvider>
            <v-row v-for="(row, rowIndex) in rows" :key="rowIndex">
              <v-col v-if="!isEdit" cols="5" :style="{ marginTop: '0.5rem' }">
                <span :class="'job_unit_id_ ' + rowIndex">
                  <UnitSelect
                    v-model="row.job_unit_ids[0]"
                    :row-index="rowIndex"
                    @input="updatePositionsByUnitId(rowIndex)"
                  />
                </span>
                <div v-if="showValidationErrors">
                    <span
                      v-for="error in errors"
                      :key="error"
                      class="red--text"
                      >{{ error }}</span
                    >
                </div>
              </v-col>
              <v-col v-if="!isEdit" cols="5" :style="{ marginTop: '0.5rem' }">
                <ValidationProvider
                  name="Position"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <span :class="'position_id_' + rowIndex">
                    <v-select
                      v-model="row.position_ids"
                      label="Position"
                      :items="positionOptions(rowIndex)"
                      multiple
                    />
                  </span>
                  <div v-if="showValidationErrors">
                    <span
                      v-for="error in errors"
                      :key="error"
                      class="red--text"
                      >{{ error }}</span
                    >
                  </div>
                </ValidationProvider>
              </v-col>
              <!-- <v-col v-if="!isEdit" cols="1" class="d-flex align-center">
                <a
                  @click="removePositionRow(rowIndex)"
                  class="error-background"
                  style="color: #dc3545"
                >
                  <v-icon class="icon-small">mdi-delete</v-icon>
                </a>
                <a @click="addPositionRow" style="color: #007bff">
                  <v-icon class="icon-small">mdi-plus</v-icon>
                </a>
              </v-col> -->
            </v-row>
            <v-row v-if="isEdit">
              <v-col cols="6">
                <div class="text-subtitle-2">Position</div>
                <div class="text-body-1">{{ position }}</div>
              </v-col>
              <v-col cols="6">
                <div class="text-subtitle-2">Job unit</div>
                <div class="text-body-1">{{ job_unit }}</div>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <ValidationProvider
                  name="Tenure Start date"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <date-input label="Tenure Start date*" v-model="start_date" />
                  <div v-if="showValidationErrors">
                    <span v-for="error in errors" :key="error" class="red--text"
                      >{{ error }}
                    </span>
                  </div>
                </ValidationProvider>
              </v-col>
              <v-col>
                <ValidationProvider
                  name="Tenure End date"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <date-input label="Tenure End date*" v-model="end_date" />
                  <div v-if="showValidationErrors">
                    <span
                      v-for="error in errors"
                      :key="error"
                      class="red--text"
                      >{{ error }}</span
                    >
                  </div>
                </ValidationProvider>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <ValidationProvider
                  name="Nomination Deadline"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <date-input
                    label="Nomination Deadline*"
                    v-model="nominations_deadline"
                  />
                  <div v-if="showValidationErrors">
                    <span
                      v-for="error in errors"
                      :key="error"
                      class="red--text"
                      >{{ error }}</span
                    >
                  </div>
                </ValidationProvider>
              </v-col>
              <v-col>
                <ValidationProvider
                  name="Days for Nominee response"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    type="number"
                    label="Days for Nominee response*"
                    v-model="days_for_nominee_response"
                  />
                  <div v-if="showValidationErrors">
                    <span
                      v-if="isDaysForNomineeResponseInvalid || errors.length"
                      class="red--text"
                      >{{ errors[0] || "Please enter a positive value." }}</span
                    >
                  </div>
                </ValidationProvider>
              </v-col>
            </v-row>
            <ValidationProvider
              name="Questionnaire URI"
              rules="required|max:500"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="questionnaire_uri"
                label="Questionnaire URI*"
                counter
              ></v-text-field>
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="Description"
              rules="required|max:4000"
              v-slot="{ errors }"
            >
              <v-textarea
                label="Description*"
                rows="1"
                v-model="description"
                counter
              />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="Requirements"
              rules="required|max:4000"
              v-slot="{ errors }"
            >
              <v-textarea
                label="Requirements*"
                rows="1"
                v-model="requirements"
                counter
              />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="Comment"
              rules="required|max:1000"
              v-slot="{ errors }"
            >
              <v-textarea label="Comment*" rows="1" v-model="comment" counter />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <br />
            <v-divider
              :thickness="20"
              color="#1E88E5"
              class="border-opacity-100"
            ></v-divider>
            <ValidationProvider
              name="E-group"
              rules="required"
              v-slot="{ errors }"
            >
              <v-combobox
                v-model="notify_egroups"
                clearable
                chips
                multiple
                label="Notify e-groups*"
                variant="underlined"
              ></v-combobox>
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <div style="color: grey; font-size: 12px; font-style: italic">
              Note: While typing press 'return' or 'enter' key to add more
              egroups. The listed egroups, will be able to manage and act upon
              this job opening as well as receive emails.
            </div>
            <v-divider
              :thickness="20"
              color="#1E88E5"
              class="border-opacity-100"
            ></v-divider>
            <!-- <ValidationProvider
              name="Send email to nominee"
              rules="required"
              v-slot="{ errors }"
            >
              <v-checkbox
                label="Send email to nominee"
                v-model="send_mail_to_nominee"
              />
              <span v-for="error in errors" :key="error" class="red--text">{{
                error
              }}</span>
            </ValidationProvider>
            <ValidationProvider
              name="Nominee required to reply"
              rules="required"
              v-slot="{ errors }"
            >
              <v-checkbox
                label="Nominee required to reply"
                v-model="nominee_no_reply"
              />
              <span v-for="error in errors" :key="error" class="red--text">{{
                error
              }}</span>
            </ValidationProvider> -->
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn
            color="blue darken-1"
            type="submit"
            text
            @click="showValidationErrors = true"
            >Save</v-btn
          >
        </v-card-actions>
      </form>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import DateInput from "@/components/common/inputs/DateInput";
import UnitSelect from "./UnitSelect";
import { VSelect } from "vuetify/lib";

export default {
  components: {
    "date-input": DateInput,
    UnitSelect,
    VSelect,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
    items: { type: Array, default: () => [] },
  },
  data() {
    return {
      showValidationErrors: false,
      defaultRowIndex: 0,
      numberOfColsToAppend: 1,
      positionRows: [],
      positions: [],
      questionnaires: [],
      isDaysForNomineeResponseInvalid: false,
      title: null,
      position_id: null,
      description: null,
      requirements: null,
      start_date: null,
      end_date: null,
      nominations_deadline: null,
      comment: null,
      notify_egroups: null,
      days_for_nominee_response: null,
      job_unit_id: null,
      send_mail_to_nominee: true,
      nominee_no_reply: true,
      questionnaire_id: null,
      questionnaire_uri: null,
      rows: [
        {
          job_unit_ids: [], // Initialize with one null value
          position_ids: [], // Initialize with an empty array
          positions: [],
        },
      ],
      errors: {},
      isDuplicate: false,
    };
  },

  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Job Opening" : "Create Job Opening";
    },

    position() {
      return this.item
        ? `${this.item.position} ( lvl. ${this.item.position_level})`
        : null;
    },
    job_unit() {
      return this.item
        ? `${this.item.unit_domain} - ${this.item.unit_type} (lvl. ${this.item.unit_level})`
        : null;
    },

    questionnaireOptions() {
      return this.questionnaires.map((q) => ({
        value: q.id,
        text: q.title,
      }));
    },
    localItems: {
      get() {
        return [...this.items];
      },
      set(value) {
        this.items = value;
      },
    },
  },
  watch: {
    item(newValue) {
      if (newValue) {
        this.title = newValue.title;
        this.position_id = newValue.position_id;
        this.description = newValue.description;
        this.requirements = newValue.requirements;
        this.start_date = newValue.start_date;
        this.end_date = newValue.end_date;
        this.nominations_deadline = newValue.nominations_deadline;
        this.comment = newValue.comment;
        this.notify_egroups = newValue.notify_egroups
          ? newValue.notify_egroups.split(",")
          : [];
        this.days_for_nominee_response = newValue.days_for_nominee_response;
        this.job_unit_id = newValue.job_unit_id;
        this.nominee_no_reply = newValue.nominee_no_reply;
        this.send_mail_to_nominee = newValue.send_mail_to_nominee;
        this.questionnaire_id = newValue.questionnaire_id;
        this.questionnaire_uri = newValue.questionnaire_uri;
      } else {
        this.title = null;
        this.position_id = null;
        this.description = null;
        this.requirements = null;
        this.start_date = null;
        this.end_date = null;
        this.nominations_deadline = null;
        this.comment = null;
        this.notify_egroups = null;
        this.days_for_nominee_response = null;
        this.job_unit_id = null;
        this.send_mail_to_nominee = true;
        this.nominee_no_reply = true;
        this.questionnaire_id = null;
        this.questionnaire_uri = null;
      }
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    positionOptions(rowIndex) {
      const unitId = this.rows[rowIndex].job_unit_ids[0];
      if (unitId !== null) {
        // Filter and return positions based on the selected unit_id
        return this.rows[rowIndex].position_ids
          .filter((pos) => pos.is_active && pos.unitId === unitId)
          .map((pos) => ({
            value: pos.id,
            text: pos.name,
          }));
      } else {
        return []; // Return an empty array if unit_id is null
      }
    },
    addPositionRow() {
      this.numberOfColsToAppend++;
      this.rows.push({
        job_unit_ids: [null],
        position_ids: [[]],
      });
    },
    updatePositionsByUnitId(rowIndex) {
      const unitId = this.rows[rowIndex].job_unit_ids[0];
      if (unitId !== null) {
        // Call the method to fetch positions based on unitId
        this.fetchPositionsByUnitId(unitId, rowIndex);
      } else {
        // Handle the case where unitId is null, if needed
        this.rows[rowIndex].position_ids = [];
      }
    },
    removePositionRow(index) {
      if (index === this.defaultRowIndex) {
        return; // Do not allow deleting the default row
      }
      this.rows.splice(index, 1);
      // Decrease the count of rows to append
      this.numberOfColsToAppend--;
    },

    close() {
      if(!this.isEdit) {
        this.title = null;
        this.position_id = null;
        this.description = null;
        this.requirements = null;
        this.start_date = null;
        this.end_date = null;
        this.nominations_deadline = null;
        this.comment = null;
        this.notify_egroups = null;
        this.days_for_nominee_response = null;
        this.send_mail_to_nominee = true;
        this.nominee_no_reply = true;
        this.questionnaire_id = null;
        this.questionnaire_uri = null;
      }
      
      for (let rowIndex = 0; rowIndex < this.rows.length; rowIndex++) {
        this.removePositionRow(rowIndex);
        if (rowIndex == 0) {
          this.rows[rowIndex].job_unit_ids[0] = null;
        }
      }
      this.showValidationErrors = false;
      this.isDuplicate = false;
      this.$emit("input", false);
    },

    async submit() {
      this.showValidationErrors = true;
      if (this.days_for_nominee_response < 0) {
        this.isDaysForNomineeResponseInvalid = true;
        return;
      }
      // Reset the error message for days_for_nominee_response field
      this.isDaysForNomineeResponseInvalid = false;

      if (this.isEdit) {
        await new api.JobOpeningsCall()
          .setTitle(this.title)
          .setDescription(this.description)
          .setRequirements(this.requirements)
          .setStartDate(this.start_date)
          .setEndDate(this.end_date)
          .setDeadline(this.nominations_deadline)
          .setPositions([
            {
              position_id: this.position_id,
              job_unit_id: this.job_unit_id,
              start_date: this.start_date,
              end_date: this.end_date,
              nominations_deadline: this.nominations_deadline,
            },
          ])
          .setStatus("active")
          .setComment(this.comment)
          .setNotifyEgroups(
            this.notify_egroups.filter((item) => item && item !== ",").join(",")
          )
          .setDaysForNomineeResponse(parseInt(this.days_for_nominee_response))
          .setSendMailToNominee(this.send_mail_to_nominee)
          .setQuestionnaireUri(this.questionnaire_uri)
          .setNomineeNoReply(this.nominee_no_reply)
          .setId(this.item.id)
          .put();
        this.$emit("updated");
        this.showValidationErrors = false;
        this.displaySuccessMessage();
        this.close();
      } else {
        const positionsInfo = [];
        for (let rowIndex = 0; rowIndex < this.rows.length; rowIndex++) {
          const selectedPosition = this.rows[rowIndex].position_ids.filter(
            (id) => id > 0
          );
          for (let index = 0; index < selectedPosition.length; index++) {
            positionsInfo.push({
              job_unit_id: this.rows[rowIndex].job_unit_ids[0],
              position_id: selectedPosition[index],
            });
          }
        }

        for (let i = 0; i < this.localItems.length; i++) {
          this.isDuplicate = false;
          if (
            this.localItems[i].title === this.title &&
            this.localItems[i].job_unit_id === positionsInfo[0].job_unit_id &&
            this.localItems[i].position_id === positionsInfo[0].position_id
          ) {
            this.isDuplicate = true;
            break;
          }
        }

        if (this.isDuplicate === false) {
          await new api.JobOpeningsCall()
            .setPositions(positionsInfo)
            .setTitle(this.title)
            .setDescription(this.description)
            .setRequirements(this.requirements)
            .setStartDate(this.start_date)
            .setEndDate(this.end_date)
            .setDeadline(this.nominations_deadline)
            .setStatus("active")
            .setComment(this.comment)
            .setNotifyEgroups(
              this.notify_egroups.filter((item) => item && item !== ",").join(",")
            )
            .setDaysForNomineeResponse(parseInt(this.days_for_nominee_response))
            .setSendMailToNominee(this.send_mail_to_nominee)
            .setQuestionnaireUri(this.questionnaire_uri)
            .setNomineeNoReply(this.nominee_no_reply)
            .post();
          this.$emit("created");
          this.showValidationErrors = false;
          this.displaySuccessMessage();
          this.close();
        }
        else {
          this.showValidationErrors = true;
        }
      }
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Job Opening Edited Successfully."
          : "Job Opening Created Successfully."
      );
    },
    async fetchTypes() {
      this.positions = await new api.OrgChartPositionsCall().get();
    },
    async fetchPositionsByUnitId(unitId, index) {
      if (unitId !== null) {
        const currRow = this.rows[index];
        const updatedPositions = await new api.OrgChartPositionsCall()
          .setUnitId(unitId)
          .get();
        // Update the currRow.positions array while preserving reactivity
        this.$set(currRow, "position_ids", updatedPositions);
        currRow.position_ids.forEach((position) => {
          position.unitId = unitId;
        });
      }
    },
  },
  mounted() {
    this.fetchTypes();
  },
};
</script>
