<template>
  <div>
    <base-page
      :toolbar-actions="
        canEdit
          ? [
              {
                name: 'newEntry',
                tooltip: 'Add new Job Opening',
                icon: icon.add_circle,
              },
            ]
          : []
      "
      @newEntry="launchEditor"
    >
      <template v-slot:toolbar-title>Job Openings</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col cols="3">
              <v-switch
                label="Show only available openings"
                v-model="only_available"
              />
            </v-col>
            <v-col cols="2">
              <date-input label="Minimum Deadline" v-model="min_deadline" />
            </v-col>
            <v-col cols="2">
              <date-input label="Maximum Deadline" v-model="max_deadline" />
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
          :itemKey="'jop_id'"
        >
          <template v-slot:item.questionnaire_uri="{ item }">
            <a
              v-if="item.questionnaire_uri"
              :href="item.questionnaire_uri"
              target="_blank"
              @click="
                ($event) =>
                  handleQuestionnaireLinkClick($event, item.questionnaire_uri)
              "
            >
              Link
            </a>
            <span v-else>-</span>
          </template>
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <v-col v-if="canEdit">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        v-if="props.item.job_open_position_status !== 'closed'"
                        @click="launchEditor(props.item.jop_id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.edit }}</v-icon
                      >
                      <v-icon
                        v-if="props.item.job_open_position_status === 'closed'"
                      >
                        {{ icon.edit }}</v-icon
                      >
                    </template>
                    <span>Edit Job Opening</span>
                  </v-tooltip>
                </v-col>
                <v-col v-if="canEdit">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        v-if="props.item.job_open_position_status !== 'closed'"
                        @click="
                          launchCancelOpening(
                            props.item.id,
                            props.item.position_id
                          )
                        "
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.close }}</v-icon
                      >
                      <v-icon
                        v-if="props.item.job_open_position_status === 'closed'"
                      >
                        {{ icon.close }}</v-icon
                      >
                    </template>
                    <span>Close Job Opening</span>
                  </v-tooltip>
                </v-col>
                <v-col>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        v-if="
                          props.item.job_open_position_status !== 'closed' &&
                          !after_deadline(props.item)
                        "
                        @click="
                          launchCreateNomination(
                            props.item.id,
                            props.item.position_id
                          )
                        "
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.select_person }}</v-icon
                      >
                      <v-icon
                        v-if="
                          props.item.job_open_position_status === 'closed' ||
                          after_deadline(props.item)
                        "
                      >
                        {{ icon.select_person }}</v-icon
                      >
                    </template>
                    <span>Create Nomination</span>
                  </v-tooltip>
                </v-col>
                <v-col>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="
                          launchDetails(
                            props.item.id,
                            props.item.position_id,
                            props.item.job_unit_id
                          )
                        "
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.info }}</v-icon
                      >
                    </template>
                    <span>Details</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
    <job-opening-editor
      :items="filteredTableDataForJobOpenings"
      v-model="isEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <details-modal v-model="isDetailsOpen" :item="selectedItem" />
    <create-nomination v-model="isCreateNominationOpen" :item="selectedItem" />
    <cancel-opening
      v-model="isCancelOpeningOpen"
      :item="selectedItem"
      @updated="itemUpdated"
    />
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";
import JobOpeningEditor from "./Editor";
import DateInput from "@/components/common/inputs/DateInput";
import Details from "./Details";

import CreateNomination from "./CreateNomination";
import CancelOpening from "./CancelOpening";

export default {
  components: {
    "job-opening-editor": JobOpeningEditor,
    "date-input": DateInput,
    "details-modal": Details,
    "create-nomination": CreateNomination,
    "cancel-opening": CancelOpening,
  },
  data() {
    return {
      loading: false,
      items: [],
      search: "",
      selectedItem: null,
      isEditorOpen: false,
      isDetailsOpen: false,
      isCreateNominationOpen: false,
      isCancelOpeningOpen: false,
      only_available: false,
      min_deadline: null,
      max_deadline: null,
      grappa_egroups: [],
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin", "isIcmsDev", "isCbChairTeam"]),
    ...mapGetters("grappaEgroups", ["grappaEgroups"]),
    canEdit() {
      return (
        this.isAdmin ||
        this.isIcmsDev ||
        this.isCbChairTeam ||
        this.grappa_egroups.includes("cms-jobop-admins")
      );
    },
    headers() {
      return [
        {
          text: "Job Open Position",
          value: "title_job_unit_position",
          sortable: true,
        },
        { text: "Tenure Start Date", value: "start_date", sortable: true },
        { text: "Tenure End Date", value: "end_date", sortable: true },
        {
          text: "Nomination Deadline",
          value: "nominations_deadline",
          sortable: true,
        },
        {
          text: "Days for Nominee Response",
          value: "days_for_nominee_response",
          sortable: true,
        },
        // {
        //   text: "Questionnaire URI",
        //   value: "questionnaire_uri",
        //   sortable: true,
        // },
        { text: "Status", value: "job_open_position_status", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ];
    },
    tableData() {
      let data = [...this.items];
      data = data.reverse();

      if (this.min_deadline) {
        data = data.filter((d) => d.nominations_deadline >= this.min_deadline);
      }
      if (this.max_deadline) {
        data = data.filter((d) => d.nominations_deadline <= this.max_deadline);
      }

      if (this.only_available) {
        const today = moment().format("YYYY-MM-DD");

        data = data.filter(
          (d) =>
            d.job_open_position_status === "active" &&
            d.nominations_deadline >= today
        );
      }

      return data.map((d) => ({
        ...d,
        status:
          d.job_open_position_status.charAt(0).toUpperCase() +
          d.job_open_position_status.slice(1),
        job_unit: `${d.unit_domain} ${d.unit_type}`,
        title_job_unit_position: `${d.title}: ${d.unit_domain} ${d.unit_type}: ${d.position}`,
      }));
    },
    filteredTableDataForJobOpenings() {
      const filteredData = [];

      for (let i = 0; i < this.tableData.length; i++) {
        const item = this.tableData[i];

        if (item.job_unit_id && item.position_id && item.title) {
          filteredData.push({
            job_unit_id: item.job_unit_id,
            position_id: item.position_id,
            title: item.title,
          });
        } else {
          console.warn("Missing fields in item:", item);
        }
      }

      return filteredData;
    }
  },
  methods: {
    handleQuestionnaireLinkClick(event, questionnaire_uri) {
      event.preventDefault();
      questionnaire_uri =
        questionnaire_uri.includes("https://") ||
        questionnaire_uri.includes("http://")
          ? questionnaire_uri
          : "https://" + questionnaire_uri;
      window.open(questionnaire_uri, "_blank");
    },
    fetchData() {
      this.loading = true;

      this.$store
        .dispatch("grappaEgroups/fetchGrappaEgroups")
        .then((egroupData) => {
          this.grappa_egroups = egroupData["grappa_egroups"];

          return new api.JobOpeningsCall().get();
        })
        .then((jobData) => {
          this.items = jobData;
        })
        .catch((error) => {
          console.error("An error occurred:", error);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    after_deadline(item) {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, "0");
      const day = String(today.getDate()).padStart(2, "0");

      const formattedToday = `${year}-${month}-${day}`;
      return item.nominations_deadline < formattedToday ? true : false;
    },
    launchEditor(jop_id) {
      let item = null;
      if (jop_id) {
        item = this.items.find((n) => n.jop_id == jop_id);
      }
      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    launchStatusUpdate(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.id == id);
      }
      this.selectedItem = item;
      this.isStatusUpdate = true;
    },
    launchDetails(id, position_id, job_unit_id) {
      let item = null;
      if (id && position_id) {
        item = this.items.find(
          (n) =>
            n.id == id &&
            n.position_id == position_id &&
            n.job_unit_id == job_unit_id
        );
      }
      this.selectedItem = item;
      this.isDetailsOpen = true;
    },
    launchCreateNomination(id, position_id) {
      let item = null;
      if (id) {
        item = this.items.find(
          (n) => n.id == id && n.position_id == position_id
        );
      }
      this.selectedItem = item;
      this.isCreateNominationOpen = true;
    },
    launchCancelOpening(id, position_id) {
      let item = null;
      if (id && position_id) {
        item = this.items.find(
          (n) => n.id == id && n.position_id == position_id
        );
      }
      this.selectedItem = item;
      this.isCancelOpeningOpen = true;
    },
    itemCreated() {
      this.fetchData();
    },
    itemUpdated() {
      this.fetchData();
    },
  },

  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
