<template>
  <v-menu bottom right :close-on-content-click="false" v-model="showUnitsMenu">
    <template v-slot:activator="{ on }">
      <div v-on="on">
        <v-select label="Job Unit" :value="value" :items="unitOptions" />
      </div>
    </template>
    <v-card max-height="650" min-width="400" style="overflow-y: auto">
      <v-card-title>
        <v-text-field
          v-model="searchUnit"
          label="Search for a unit"
          hide-details
          @change="onUnitChange"
          clearable
          :clear-icon="icon.clear"
        ></v-text-field>
      </v-card-title>
      <v-card-text>
        <v-treeview
          v-model="tree"
          :search="searchUnit"
          :open-on-click="true"
          activatable
          :items="unitsTree"
        >
          <template v-slot:label="{ item }">
            <span v-on:click="pickUnit(item.id)">{{ item.name }}</span>
          </template>
        </v-treeview>
      </v-card-text>
    </v-card>
  </v-menu>
</template>

<script>
import { icon } from "@/utils/constants";
import api from "@/api";
export default {
  props: {
    value: { type: Number },
    rowIndex: { type: Number },
  },
  data() {
    return {
      selectedUnit: null,
      tree: [],
      units: [],
      unitOptions: [],
      showUnitsMenu: false,
      searchUnit: "",
      selectedUnits: [],
    };
  },
  watch: {
    selectedUnits(unitIds) {
      this.$emit("input", unitIds);
    },

    value(unitId) {
      let unit = this.units.filter((e) => e.id == unitId)[0];
      if (unit) {
        this.unitOptions = [
          { value: unit.id, text: unit.domain + " " + unit.type },
        ];
      }
    },
  },
  computed: {
    unitsTree() {
      // mapping between unitId and a treeNode - to quickly attach to a parent
      var lkp = [];
      var unitsArray = [];
      this.units.forEach((e) => {
        lkp[e.id] = { id: e.id, name: e.domain + " " + e.type, children: [] };
      });
      // doing double-pass as a child might come up before the parent in original list
      [...this.units]
        .sort(
          (a, b) =>
            10000 * (a.level - b.level) +
            100 * a.type.localeCompare(b.type) +
            a.domain.localeCompare(b.domain)
        )
        .forEach((e) => {
          if (e.superior_unit_id == null) {
            unitsArray.push(lkp[e.id]);
          } else {
            lkp[e.superior_unit_id].children.push(lkp[e.id]);
          }
        });
      return unitsArray;
    },
  },
  methods: {
    onUnitChange() {
      this.$emit("input", this.selectedUnits);
    },
    async loadUnits() {
      const data = await new api.OrgUnitsCall()
        .setActive(true)
        .setMinUnitLevel(0)
        .setMaxUnitLevel(7)
        .get();

      this.units = data.sort((a, b) => {
        return (
          10 * (a.level - b.level) +
          (a.superior_unit_id == null ? 0 : 1) -
          (b.superior_unit_id == null ? 0 : 1)
        );
      });
    },
    pickUnit(unitId) {
      this.$emit("input", unitId);
      this.showUnitsMenu = false;
    },
  },
  mounted() {
    this.loadUnits();
  },
  created() {
    this.icon = icon;
  },
};
</script>
