<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>My Notes</v-toolbar-title>
      </template>
      <template v-slot:toolbar-left> </template>
      <template v-slot:toolbar-right> </template>
      <template v-slot:header> </template>
      <template v-slot:body>
        <data-table
          :headers="tableHeaders"
          :items="tableRows"
          :enableEgroupExport="false"
          :rowsPerPageItems="[-1]"
        >
          <!-- <template v-slot:item.actions="{ item }">
                        <v-btn @click="showFiles(item.id)" color="primary" dark><v-icon>mdi-file-cabinet</v-icon></v-btn>
                    </template> -->
        </data-table>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <!-- <confirm-dialog v-model="dialogs.files" ref="dialogFiles" @cancelled="dialogs.files=false;" @confirmed="dialogs.files=false;"> 
            <template v-slot:title>Files for {{dialogs.filesFor}}</template>
            <template v-slot:message>
                <a v-for="f in files" :href="f._links.download.href" v-bind:key="f.file">{{f.file}}</a><br/>
            </template>
        </confirm-dialog> -->
  </div>
</template>

<script>
import api from "@/api";
import Hateoas from "@/api/core/Hateoas";

export default {
  name: "MyNotes",

  data: () => ({
    tableHeaders: [
      { text: "CMSNoteId", value: "id" },
      { text: "ApprovalId", value: "processNumber" },
      { text: "Submitter", value: "submitterCmsId" },
      { text: "Type", value: "type" },
      { text: "Title", value: "title" },
      { text: "Submitted on", value: "submissionTimestamp" },
    ],
    notesData: {},
    toggles: {
      fetchNotes: false,
      fetchStubs: true,
    },
  }),
  computed: {
    myCmsId() {
      return this.$store.getters.userCmsId;
    },
    tableRows() {
      return Object.values(this.notesData).map((e) => {
        e.submissionTimestamp = new Date(
          e.submissionTimestamp
        ).toLocaleString();
        return e;
      });
    },
  },
  methods: {
    requestEntries() {
      if ([null, undefined].indexOf(this.myCmsId) > -1) {
        console.debug("No CMS ID yet...");
        return;
      }
      console.debug("Good, can fetch for CMS ID: " + this.myCmsId);
      var call = new api.LegacyNotesCall()
        .setCmsId(this.myCmsId)
        .setSuccessCallback(this.receiveNotesData);
      if (this.toggles.fetchNotes != this.toggles.fetchStubs) {
        call = this.toggles.fetchStubs ? call.stubs() : call.notes();
      }
      call.get();
    },
    receiveNotesData(response) {
      var processor = new Hateoas.ResponseProcessor(response);
      var compo = this;
      processor.setEntityCollectionHandler((label, arr) => {
        arr.forEach((row) => {
          compo.$set(compo.notesData, row.id || row.processNumber, row);
        });
      });
      processor.process();
    },
  },
  watch: {
    myCmsId() {
      this.$nextTick(this.requestEntries);
    },
  },
  mounted() {
    this.requestEntries();
  },
};
</script>
