<template>
  <v-dialog
    v-model="masterSwitch"
    v-on="$listeners"
    ref="dialogDetails"
    :max-width="maxWidth"
  >
    <v-card>
      <v-card-title>{{
        note.id || "Entry " + note.processNumber
      }}</v-card-title>

      <v-list two-line>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Title</v-list-item-subtitle>
            <v-list-item-title>
              <pre>{{ note.title }}</pre>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Authors</v-list-item-subtitle>
            <v-list-item-title>{{ note.authors }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="note.abstractText">
          <v-list-item-content>
            <v-list-item-subtitle>Abstract</v-list-item-subtitle>
            <v-list-item-title>
              <pre>{{ note.abstractText }}</pre>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="note.type !== 'DP' && latest_version">
          <v-list-item-content>
            <v-list-item-subtitle>Latest File Version</v-list-item-subtitle>
            <v-list-item-title
              ><a :href="latest_version._links.download.href">{{
                latest_version.file
              }}</a></v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
        <v-list-group>
          <template v-slot:activator>
            <v-list-item-title v-if="note.type === 'DP'"
              >Files</v-list-item-title
            >
            <v-list-item-title v-else>File History</v-list-item-title>
          </template>
          <v-list-item v-for="file in files" :key="file.ordinalNumer">
            <v-list-item-avatar>
              <v-tooltip
                bottom
                v-if="(file.file || '').toLowerCase().endsWith('.pdf')"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    v-if="shownFile != file"
                    @click="shownFile = file"
                    >mdi-eye</v-icon
                  >
                  <v-icon
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    v-else
                    @click="shownFile = null"
                    >mdi-eye-off</v-icon
                  >
                </template>
                <span v-if="shownFile != file">Preview file</span>
                <span v-else>Hide preview</span>
              </v-tooltip>
            </v-list-item-avatar>
            <v-list-item-title
              ><a :href="file._links.download.href">{{
                file.file
              }}</a></v-list-item-title
            >
            <v-list-item-subtitle v-if="file.modificationTimestamp"
              >({{ new Date(file.modificationTimestamp).toLocaleString() }})
            </v-list-item-subtitle>
          </v-list-item>
        </v-list-group>
        <v-list-item v-show="shownFile !== null">
          <v-list-item-content>
            <div id="pdfHolder"></div>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Type</v-list-item-subtitle>
            <v-list-item-title>{{ note.type }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Status</v-list-item-subtitle>
            <v-list-item-title>{{ note.status }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Project</v-list-item-subtitle>
            <v-list-item-title>{{ note.project }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Categories</v-list-item-subtitle>
            <v-list-item-title>{{ categories }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Referees</v-list-item-subtitle>
            <v-list-item-title>{{ referees }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="note.type === 'TS'">
          <v-list-item-content>
            <v-list-item-subtitle
              >Presented at CMS Thesis Awards Committee</v-list-item-subtitle
            >
            <v-list-item-title>{{
              note.presentedAtThesisAwardsCommittee ? "Yes" : "Not"
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="note.type === 'TS'">
          <v-list-item-content>
            <v-list-item-subtitle>Pages</v-list-item-subtitle>
            <v-list-item-title>{{ note.pages }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Submitter</v-list-item-subtitle>
            <v-list-item-title>{{ submitter }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content v-if="note.submissionTimestamp !== null">
            <v-list-item-subtitle>Created</v-list-item-subtitle>
            <v-list-item-title>{{
              new Date(note.submissionTimestamp).toLocaleString()
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content v-if="note.modificationTimestamp !== null">
            <v-list-item-subtitle>Edited</v-list-item-subtitle>
            <v-list-item-title>{{
              new Date(note.modificationTimestamp).toLocaleString()
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Remarks</v-list-item-subtitle>
            <v-list-item-title>{{ note.remarks }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </v-dialog>
</template>

<script>
import { restplusApi } from "@/api/core";
import { BaseCall } from "common";
import Hateoas from "@/api/core/Hateoas";
import PDFObject from "pdfobject";

export default {
  name: "NoteDetailsDialog",
  props: {
    note: {
      type: Object,
      default: () => ({}),
    },
    value: {
      type: Boolean,
      default: false,
    },
    "max-width": {
      type: String,
      default: "800px",
    },
    peopleLookup: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    files: [],
    latest_version: null,
    shownFile: null,
    pdfObject: null,
  }),
  watch: {
    note(newVal) {
      this.files = [];
      this.latest_version = null;
      this.shownFile = null;
      if (newVal._links !== undefined && newVal._links.files !== undefined) {
        new BaseCall(restplusApi, newVal._links.files.href)
          .setSuccessCallback(this.updateFilesInfoFromRemote)
          .get();
      }
    },
    shownFile(newVal) {
      if (newVal !== null) {
        this.pdfObject = PDFObject.embed(
          newVal._links.download.href,
          "#pdfHolder",
          {
            assumptionMode: true,
            fallbackLink: "<p>This is a <a href='[url]'>fallback link</a></p>",
            supportRedirect: true,
          }
        );
      }
    },
  },
  computed: {
    masterSwitch: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.$emit("input", newValue);
      },
    },
    categories() {
      return (this.note.categories || []).join(", ");
    },
    referees() {
      return (this.note.referees || []).map((r) => r.displayLabel).join(", ");
    },
    submitter() {
      return (
        this.peopleLookup.getLabelForId(this.note.submitterCmsId) ||
        this.note.submitterCmsId
      );
    },
  },
  methods: {
    updateFilesInfoFromRemote(data) {
      var processor = new Hateoas.ResponseProcessor(data);
      var files = [];
      processor.setEntityCollectionHandler(function (label, arr) {
        files = arr;
      });
      processor.process();
      this.files = files.sort((a, b) =>
        a.modificationTimestamp > b.modificationTimestamp ? -1 : 1
      );
      if (this.files) {
        this.latest_version = this.files[0];
      }
    },
    addFileFromRemote(f) {
      this.$set(this.files, this.files.length, f);
    },
    hidePdfPreview() {},
  },
};
</script>

<style scoped>
.pdfobject-container {
  height: 800px;
}
</style>
