<template>
  <v-dialog v-model="masterSwitch" v-on="$listeners" :max-width="maxWidth">
    <v-card>
      <v-card-title>Select action</v-card-title>
      <v-card-text>
        <v-select label="Action" v-model="action" :items="actionOptions" />
        <v-textarea label="Remarks" v-model="remarks" />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { IcmsPiggybackCall } from "@/api/core";

export default {
  name: "NoteStubBulkActionsDiaog",
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    "max-width": {
      type: String,
      default: "800px",
    },
    noteStates: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    value(newVal) {
      this.masterSwitch = newVal;
    },
  },
  data: () => ({
    masterSwitch: false,
    action: null,
    remarks: null,
  }),
  computed: {
    actionOptions() {
      return ["ACCEPT", "REJECT"];
    },
  },
  methods: {
    resetFields() {
      this.action = null;
      this.remarks = null;
    },
    cancel() {
      this.resetFields();
      this.$emit("input", false);
    },
    async save() {
      let allReceived = [];
      for (const noteState of this.noteStates) {
        const received = await new IcmsPiggybackCall(
          ((noteState._links || {}).self || {}).href
        )
          .setData({ action: this.action, remarks: this.remarks })
          .ajaxCall("put");
        allReceived.push(received);
      }
      this.handleResponse(allReceived);
    },
    handleResponse(received) {
      this.$emit("input", null);
      this.$store.dispatch("notification/infoMessage", "Changes saved");
      this.resetFields();
      this.$emit("stubState", received);
    },
  },
};
</script>
