<template>
  <v-dialog v-model="value" max-width="600px" @keydown.esc="close" tabindex="0">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
        <v-card-title>
          {{ modalTitle }}
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationProvider
              name="Type"
              rules="required"
              v-slot="{ errors }"
            >
              <v-text-field
                v-model="awardType"
                label="Award Type"
              ></v-text-field>
              <span v-for="error in errors" :key="error" class="red--text">{{
                error
              }}</span>
            </ValidationProvider>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="handleSubmit(submit)">
            Save
          </v-btn>
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      awardType: null,
      description: null,
    };
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Award Type" : "Create Award Type";
    },
  },
  watch: {
    item(newValue) {
      this.awardType = newValue?.type;
      this.description = newValue?.description;
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      const awardTypesCall = new api.AwardTypesCall().setType(this.awardType);
      if (this.isEdit) {
        const data = await awardTypesCall.setId(this.item.id).put();
        this.$emit("updated", data);
      } else {
        const data = await awardTypesCall.post();
        this.$emit("created", data);
      }
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Award Type Edited Successfully."
          : "Award Type Created Successfully."
      );
    },
  },
};
</script>
