<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>CMS Award Types</template>

      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row style="align-items: center; justify-content: center">
            <v-btn color="primary" @click="launchEditor">
              New award type
            </v-btn>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>

      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.atypes`]="props">
            <div v-for="atype in props.item.atypes" :key="atype.id">
              {{ atype.type }}
            </div>
          </template>
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchEditor(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.edit }}</v-icon
                      >
                    </template>
                    <span>Edit award type</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
    <award-type-editor
      v-model="isEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import AwardTypeEditor from "./Editor.vue";

export default {
  components: {
    "award-type-editor": AwardTypeEditor,
  },
  data() {
    return {
      loading: false,
      items: [],
      search: "",
      selectedItem: null,
      isEditorOpen: false,
    };
  },
  computed: {
    headers() {
      return [
        { text: "ID", value: "id", sortable: true },
        { text: "Award Type", value: "type", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ];
    },
    tableData() {
      return this.items;
    },
  },
  methods: {
    fetchData() {
      this.loading = true;
      new api.AwardTypesCall().get().then((data) => {
        this.items = data;
        this.loading = false;
      });
    },
    launchEditor(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.id == id);
      }

      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    itemCreated(data) {
      this.items = [data, ...this.items];
    },
    itemUpdated(data) {
      const index = this.items.findIndex((n) => n.id === data.id);
      if (index >= 0) {
        this.$set(this.items, index, data);
      }
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
