<template>
  <div class="mt-4">
    <div class="mb-4">
      <b>{{ question.title }} {{ question.required ? "*" : "" }}</b>
    </div>
    <div class="my-2">
      <div v-if="!Array.isArray(answer)">{{ answer || "No answer" }}</div>
      <template v-else>
        <div v-if="answer.length === 0">Nothing Selected</div>
        <div v-else v-for="a in answer" :key="a">
          {{ a }}
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: Object,
      default: () => ({
        title: "",
      }),
    },
    answer: { type: [String, Array], default: () => "" },
  },
};
</script>
