<template>
    <v-dialog
      :value="value"
      @input="$emit('input', false)"
      max-width="800px"
      @keydown.esc="close"
    >
      <v-card>
        <v-card-title> Info &amp; usage instructions </v-card-title>
        <v-card-text>
          <h3>CMS Award Nomination Review</h3>
          You can find more about the CMS Awards, their purpose and history in the
          <a href="https://cms.cern/collaboration/cms-awards" target="tab">
            public CMS Awards page.
          </a>
          <br />
          <br />
          
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </template>
  
  <script>
  export default {
    props: {
      value: { type: Boolean, required: true, default: false },
    },
    methods: {
      close() {
        this.$emit("input", false);
      },
    },
  };
  </script>
  