<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
        <v-card-title>
          <span class="headline">{{ modalTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationProvider name="Id" rules="required" v-slot="{ errors }">
              <v-select
                v-model="selectedJob"
                label="Job Opening*"
                :items="jobOptions"
              />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="nominee"
              rules="required"
              v-slot="{ errors }"
            >
              <person-picker label="Nominee*" v-model="nominee_id" />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="remarks"
              rules="max:1000"
              v-slot="{ errors }"
            >
              <v-textarea label="Remarks*" rows="3" v-model="remarks" counter />
              <span v-for="error in errors" :key="error" class="red--text"
                >Max 1000 characters</span
              >
            </ValidationProvider>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="handleSubmit(submit)"
            >Save</v-btn
          >
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  components: {
    PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
    job_openings: { type: Array, default: () => [] },
  },
  data() {
    return {
      selectedJob: null,
      showValidationErrors: false,
      nominee_id: null,
      remarks: null,
    };
  },

  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Job Nomination" : "Create Job Nomination";
    },
    jobOptions() {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, "0");
      const day = String(today.getDate()).padStart(2, "0");

      const formattedToday = `${year}-${month}-${day}`;
      return this.job_openings
        .filter(
          (opening) =>
            opening.status != "closed" &&
            opening.nominations_deadline >= formattedToday
        )
        .map((opening) => ({
          text: opening.title + " : " + opening.unit_domain + " " + opening.unit_type +" : " + opening.position,
          value: {
            job_id: opening.id,
            position_id: opening.position_id,
            job_unit_id: opening.job_unit_id,
          }
        }));
    },
  },

  watch: {
    job_id() {
      this.position_id = null;
    },
    item(newValue) {
      if (newValue) {
        this.selectedJob = {
          job_id: newValue.job_id,
          position_id: newValue.position_id,
          job_unit_id: newValue.job_unit_id,
        };
        this.nominee_id = newValue.nominee_id;
        this.remarks = newValue.remarks;
      } else {
        this.selectedJob = null;     
        this.nominee_id = null;
        this.remarks = null;
      }
    },
  },

  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.selectedJob = null;
      this.nominee_id = null;
      this.remarks = null;
      this.$emit("input", false);
    },
    async submit() {
      const { job_id, position_id, job_unit_id } = this.selectedJob || {};
      if (this.isEdit) {
        this.showValidationErrors = true;
        await new api.JobNominationCall()
          .setId(this.item.id)
          .setJobId(job_id)
          .setNomineeId(this.nominee_id)
          .setPositionId(position_id)
          .setJobUnitId(job_unit_id)
          .setRemarks(this.remarks)
          .put();
        this.$emit("updated");
      } else {
        await new api.JobNominationCall()
          .setJobId(job_id)
          .setNomineeId(this.nominee_id)
          .setPositionId(position_id)
          .setJobUnitId(job_unit_id)
          .setRemarks(this.remarks)
          .post();
        this.$emit("created");
      }
      this.showValidationErrors = false;
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Job Nomination Edited Successfully."
          : "Job Nomination Created Successfully."
      );
    },
  },
};
</script>
