<template>
  <div>
    <base-page
      :toolbar-actions="[
        {
          name: 'newEntry',
          tooltip: 'Add new Nomination',
          icon: icon.add_circle,
        },
      ]"
      @newEntry="launchEditor"
    >
      <template v-slot:toolbar-title>Job Nominations</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col>
              <v-switch
                label="Only as nominee"
                v-model="show_only_my_nominations"
              />
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:item.questionnaire_uri="{ item }">
            <a
              v-if="item.questionnaire_uri"
              :href="item.questionnaire_uri"
              target="_blank"
              @click="
                ($event) =>
                  handleQuestionnaireLinkClick($event, item.questionnaire_uri)
              "
            >
              Link
            </a>
            <span v-else>-</span>
          </template>
          <template v-slot:[`item.affiliations`]="props">
            <div v-for="a in props.item.affiliations" :key="a">
              {{ a }}
            </div>
          </template>
          <!-- <template v-slot:[`item.nominator`]="props">
            <v-row v-for="a in props.item.nominator" :key="a.id">
              <v-col>
                {{ a.name }}
              </v-col>
            </v-row>
          </template> -->
          <template v-slot:[`item.remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td
                  class="overflow-ellipsis"
                  @click="launchRemarks(props.item.remarks, props.item.nominee)"
                  v-bind="attrs"
                  v-on="on"
                  :title="props.item.remarks"
                >
                  {{ props.item.remarks }}
                </td>
              </template>
            </v-tooltip>
          </template>
          <template v-slot:[`item.nominee_remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td
                  class="overflow-ellipsis"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ props.item.nominee_remarks }}
                </td>
              </template>
              <span>{{ props.item.nominee_remarks }}</span>
            </v-tooltip>
          </template>
          <template v-slot:[`item.inst_region`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td class="overflow-ellipsis" v-bind="attrs" v-on="on">
                  {{ props.item.inst_region }}
                </td>
              </template>
              <span>{{ props.item.inst_region_name }}</span>
            </v-tooltip>
          </template>
          <template v-slot:[`item.projects`]="props">
            <div v-for="a in props.item.projects" :key="a">
              {{ a }}
            </div>
          </template>
          <template v-slot:[`item.actions`]="props">
            <div
              v-if="
                props.item.nominee_id === userId &&
                props.item.status === 'Active'
              "
            >
              <v-row no-gutters>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchAcceptModal(props.item.nomination_id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.accept }}</v-icon
                      >
                    </template>
                    <span>Accept Nomination</span>
                  </v-tooltip>
                </v-col>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchRejectModal(props.item.nomination_id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.close }}</v-icon
                      >
                    </template>
                    <span>Reject Nomination</span>
                  </v-tooltip>
                </v-col>
                <v-col>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="
                          launchJobOpeningDetails(
                            props.item.job_id,
                            props.item.position_id,
                            props.item.job_unit_id
                          )
                        "
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.info }}</v-icon
                      >
                    </template>
                    <span>Details</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
            <div v-else>
              <v-col>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      @click="
                        launchJobOpeningDetails(
                          props.item.job_id,
                          props.item.position_id,
                          props.item.job_unit_id
                        )
                      "
                      v-bind="attrs"
                      v-on="on"
                      >{{ icon.info }}</v-icon
                    >
                  </template>
                  <span>Details</span>
                </v-tooltip>
              </v-col>
            </div>
            <!-- <div v-else-if="props.item.status !== 'Nominated'">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    @click="launchDetails(props.item.nomination_id)"
                    v-bind="attrs"
                    v-on="on"
                    >{{ icon.info }}</v-icon
                  >
                </template>
                <span>Details</span>
              </v-tooltip>
            </div> -->
          </template>
        </data-table>
      </template>
    </base-page>
    <JobNominationEditor
      v-model="isEditorOpen"
      :item="selectedItem"
      :job_openings="job_openings"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <Accept
      v-model="isAcceptModalOpen"
      :item="selectedItem"
      @updated="itemUpdated"
    />
    <Reject
      v-model="isRejectModalOpen"
      :item="selectedItem"
      @updated="itemUpdated"
    />
    <Details v-model="isDetailsOpen" :item="selectedItem" />
    <JobOpeningsDetails
      v-model="isJobOpDetailsOpen"
      :item="selectedJobOpening"
    />
    <Remarks
      v-model="isRemarksOpen"
      :remarks="selectedRemarks"
      :name="selectedNomineeName"
    />
  </div>
</template>

<style scoped>
.overflow-ellipsis {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.overflow-ellipsis:hover {
  color: blue;
}
</style>

<script>
import { mapGetters } from "vuex";

import api from "@/api";
import { icon } from "@/utils/constants";
import JobNominationEditor from "./Editor";
import Accept from "./Accept";
import Reject from "./Reject";
import Details from "./Details";
import JobOpeningsDetails from "./JobOpeningsDetails";
import Remarks from "./Remarks";

export default {
  components: {
    JobNominationEditor,
    Accept,
    Reject,
    Details,
    JobOpeningsDetails,
    Remarks,
  },
  data() {
    return {
      loading: false,
      items: [],
      job_openings: [],
      search: "",
      show_only_my_nominations: true,
      selectedItem: null,
      selectedJobOpening: null,
      isEditorOpen: false,
      isAcceptModalOpen: false,
      isRejectModalOpen: false,
      isDetailsOpen: false,
      isJobOpDetailsOpen: false,
      isRemarksOpen: false,
      selectedRemarks: null,
      selectedNomineeName: null,
    };
  },
  computed: {
    ...mapGetters("user", ["userId"]),
    headers() {
      if (this.show_only_my_nominations) {
        return [
          { text: "Job Position", value: "title", sortable: true },
          { text: "Nominee", value: "nominee", sortable: true },
          { text: "Nominee Remarks", value: "nominee_remarks", sortable: true },
          { text: "Email", value: "email", sortable: true },
          { text: "Affiliations", value: "inst_code", sortable: true },
          { text: "Institute Country", value: "inst_country", sortable: true },
          { text: "Institute Region", value: "inst_region", sortable: true },
          { text: "Projects", value: "project_codes", sortable: true },
          { text: "Status", value: "status", sortable: true },
          {
            text: "Questionnaire URI",
            value: "questionnaire_uri",
            sortable: true,
          },
          { text: "Actions", value: "actions", sortable: true },
        ];
      } else {
        return [
          { text: "Job Position", value: "title", sortable: true },
          { text: "Nominee", value: "nominee", sortable: true },
          { text: "Email", value: "email", sortable: true },
          { text: "Affiliations", value: "inst_code", sortable: true },
          { text: "Institute Country", value: "inst_country", sortable: true },
          { text: "Institute Region", value: "inst_region", sortable: true },
          { text: "Projects", value: "project_codes", sortable: true },
          // { text: "Nominator", value: "nominator", sortable: true },
          // { text: "Nominator Remarks", value: "remarks", sortable: true },
          {
            text: "Questionnaire URI",
            value: "questionnaire_uri",
            sortable: true,
          },
          { text: "Actions", value: "actions", sortable: true },
        ];
      }
    },
    tableData() {
      let data = [...this.items];
      data = data.reverse();

      // Filter duplicates
      const uniqueMap = {};
      let filteredData = data.filter((item) => {
        const key = `${item.cms_id}-${item.job_id}`;
        if (!uniqueMap[key]) {
          uniqueMap[key] = true;
          return true;
        }
        return false;
      });

      if (this.show_only_my_nominations) {
        filteredData = filteredData.filter((d) => d.nominee_id === this.userId);
      }
      return filteredData.map((d) => {
        const nominatedStatuses = d.statuses.filter((status) => {
          const validStatuses = [
            "nominated",
            "active",
            "accepted",
            "rejected",
            "selected",
            "declined",
          ];
          return validStatuses.includes(status.status);
        });
        const nomineeId =
          nominatedStatuses.length > 0 ? nominatedStatuses[0].nominee_id : "";
        const last_status = d.statuses[d.statuses.length - 1];
        const first_status = d.statuses[0];
        const answers = d.questionnaire_answers || "[]";
        const questions = d.questions || "[]";
        let nominee_remarks = "";
        if (nominatedStatuses.length >= 2) {
          nominee_remarks =
            nominatedStatuses[1].status == "rejected"
              ? nominatedStatuses[1].actor_remarks
              : "";
        }
        let project_codes = "";
        if (d.project_codes != null) {
          // Clean up the project_code string. TODO find a better way to be filtered in the backend
          const inputString = d.project_codes;
          // Split the string into an array using the comma as a delimiter
          const stringArray = inputString.split(",");
          // Use a Set to remove duplicates
          const uniqueArray = [...new Set(stringArray)];
          // Join the array back into a string using a comma as a delimiter
          project_codes = uniqueArray.join(",");
        }
        return {
          ...d,
          title:
            d.title +
            " : " +
            d.unit_domain +
            " " +
            d.unit_type +
            " : " +
            d.position_name,
          nominee: d.first_name + " " + d.last_name,
          nominee_remarks: nominee_remarks,
          nomineeId: nomineeId,
          project_codes: project_codes,
          nominator: first_status.first_name + " " + first_status.last_name,
          affiliations: Object.entries(this.parseJson(d.affiliations)).map(
            ([a]) => a
          ),
          projects: Object.entries(this.parseJson(d.projects)).map(([a]) => a),
          status:
            last_status.status.charAt(0).toUpperCase() +
            last_status.status.slice(1),
          questions: questions,
          answers: answers,
          remarks: first_status.actor_remarks,
          inst_country: d.country_code,
          inst_region: d.region_code,
          inst_region_name: d.region_name,
          questionnaire_uri: d.questionnaire_uri,
        };
      });
    },
  },
  methods: {
    parseJson(field) {
      return field ? JSON.parse(field.replaceAll("'", '"')) : {};
    },
    fetchData() {
      this.loading = true;

      new api.JobOpeningsCall()
        .get()
        .then((data) => {
          this.job_openings = data;

          return new api.JobNominationCall().get({});
        })
        .then((data) => {
          this.items = data;
        })
        .catch((error) => {
          console.error("An error occurred:", error);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    handleQuestionnaireLinkClick(event, questionnaire_uri) {
      event.preventDefault();
      questionnaire_uri =
        questionnaire_uri.includes("https://") ||
        questionnaire_uri.includes("http://")
          ? questionnaire_uri
          : "https://" + questionnaire_uri;
      window.open(questionnaire_uri, "_blank");
    },
    launchEditor(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    launchAcceptModal(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isAcceptModalOpen = true;
    },
    launchRejectModal(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isRejectModalOpen = true;
    },
    launchDetails(id) {
      let item = null;
      if (id) {
        item = this.tableData.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isDetailsOpen = true;
    },
    launchJobOpeningDetails(job_id, position_id, job_unit_id) {
      let job_openings = null;
      if (job_id && position_id) {
        job_openings = this.job_openings.find(
          (n) =>
            n.id == job_id &&
            n.position_id == position_id &&
            n.job_unit_id == job_unit_id
        );
      }
      this.selectedJobOpening = job_openings;
      this.isJobOpDetailsOpen = true;
    },
    launchRemarks(remarks, name) {
      this.selectedRemarks = remarks;
      this.isRemarksOpen = true;
      this.selectedNomineeName = name;
    },
    itemCreated() {
      this.fetchData();
    },
    itemUpdated() {
      this.fetchData();
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
