<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
        <v-card-title>
          <span class="headline">Reject Nomination - </span>
          <span v-if="item" class="" style="color: #549deb">
            &nbsp;{{ item.title }} : {{ item.unit_domain
            }}{{ item.unit_type }} :
            {{ item.position_name }}
          </span>
        </v-card-title>
        <v-card-text>
          <my-component :item="{ nominee_id: 123 }"></my-component>
          <v-container
            >Can you optionaly provide a reason for rejecting the nomination?

            <ValidationProvider
              name="remarks"
              rules="max:1000"
              v-slot="{ errors }"
            >
              <v-textarea label="Remarks*" v-model="remarks" counter />
              <span v-for="error in errors" :key="error" class="red--text"
                >Max 1000 characters</span
              >
            </ValidationProvider>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="handleSubmit(submit)"
            >Reject</v-btn
          >
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },
  data() {
    return {
      remarks: "",
    };
  },
  methods: {
    close() {
      this.remarks = null;
      this.$emit("input", false);
    },
    submit() {
      new api.JobNominationStatusCall()
        .setId(this.item.nomination_id)
        .setActorRemarks(this.remarks)
        .setActorId(this.item.nominee_id)
        .setStatus("rejected")
        .put();

      this.$emit("updated");
      this.close();
    },
  },
};
</script>
