<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Nominator Remarks For Nominee - {{ name }}</span>
      </v-card-title>
      <v-card-text>
        <v-container
          ><div class="text-body-1 mb-4">{{ remarks }}</div>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    remarks: { type: String, default: "" },
    name: { type: String, default: "" },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
};
</script>
