<template>
  <base-page>
    <template v-slot:toolbar-title>Authorship Applications Overview</template>
    <template v-slot:body>
      <data-table
        :items="applications"
        :headers="headers"
        :noAutoformat="false"
      />
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "AuthorApplicants",
  data() {
    return {
      applications: [],
      headers: [
        { text: "CMS ID", value: "cmsId", sortable: true },
        { text: "Last name", value: "last_name", sortable: true },
        { text: "First name", value: "first_name", sortable: true },
        { text: "Institute", value: "instCode", sortable: true },
        { text: "Activity", value: "activity", sortable: true },
        { text: "Passed", value: "passed", sortable: true },
        { text: "Failed", value: "failed", sortable: true },
        { text: "Comments", value: "reason", sortable: true },
        { text: "Days", value: "daysCount", sortable: true },
        { text: "Own EPR", value: "workedSelf", sortable: true },
        { text: "Inst EPR", value: "workedInst", sortable: true },
        { text: "Inst due", value: "neededInst", sortable: true },
        { text: "Check time", value: "datetime", sortable: true },
        { text: "Run number", value: "runNumber", sortable: true },
      ],
    };
  },
  async mounted() {
    this.applications = await new api.ApplicationsInfoCall()
      .setLastRunOnly(true)
      .get();
  },
  methods: {
    storeApplicationsData(data) {
      this.applications = data;
    },
  },
};
</script>
