<template>
  <base-page>
    <template v-slot:toolbar-title>Flags</template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-col cols="2">
            <v-autocomplete
              v-model="person"
              :items="peopleOptions"
              :clearable="true"
              label="Member"
              placeholder="All members"
              class="mr-2"
            />
          </v-col>
          <v-col cols="2">
            <v-select
              v-model="type"
              :items="typeOptions"
              :clearable="true"
              label="Flag Type"
              placeholder="All types"
              class="mr-2"
            />
          </v-col>
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="tableData"
        :loading="loading"
        :search="search"
        item-key="key"
      >
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { uniqueBy, sortAlphabeticallyBy } from "@/utils/helpers";

export default {
  name: "Flags",
  data() {
    return {
      data: [],
      loading: false,

      person: null,
      type: null,
      search: "",
    };
  },
  computed: {
    headers: () => [
      { text: "CMD ID", value: "cmsId", sortable: true },
      { text: "Last Name", value: "lastName", sortable: true },
      { text: "First Name", value: "firstName", sortable: true },
      { text: "Institute", value: "instCode", sortable: true },
      { text: "Country", value: "country", sortable: true },
      { text: "Region", value: "region_code", sortable: true },
      { text: "Flag Name", value: "id", sortable: true },
      { text: "Flag Description", value: "desc", sortable: true },
    ],
    peopleOptions() {
      const peopleOptions = uniqueBy(this.data, (row) => row.cmsId).map(
        (row) => ({
          value: row.cmsId,
          text: `${row.lastName} ${row.firstName}`,
        })
      );

      return sortAlphabeticallyBy(peopleOptions, (option) => option.text);
    },
    typeOptions() {
      const prefixes = this.data.map((row) => ({
        prefix: row.id.substr(0, row.id.indexOf("_")),
      }));

      const typeOptions = uniqueBy(prefixes, (d) => d.prefix).map((row) => ({
        value: row.prefix,
        text: `${row.prefix} Flags`,
      }));

      return sortAlphabeticallyBy(typeOptions, (option) => option.value);
    },
    tableData() {
      let tableData = this.data;

      if (this.person) {
        tableData = tableData.filter((row) => row.cmsId === this.person);
      }

      if (this.type) {
        tableData = tableData.filter((row) =>
          row.id.startsWith(this.type + "_")
        );
      }

      return tableData.map((item, key) => ({ ...item, key }));
    },
  },
  methods: {
    loadData() {
      this.loading = true;
      new api.FlagsCall()
        .setSuccessCallback((data) => {
          this.data = data;
          this.loading = false;
        })
        .get();
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
