<template>
  <base-page>
    <template v-slot:toolbar-title>CMS People</template>
    <template v-slot:header>
      <v-row style="margin-bottom: -40px">
        <v-col cols="6">
          <v-select
            v-model="statuses"
            :items="knownStatuses"
            label="CMS Statuses"
            multiple
          >
          </v-select>
        </v-col>
        <v-col cols="3">
          <v-select
            v-model="projects"
            :items="knownProjects"
            label="Projects"
            multiple
          ></v-select>
        </v-col>
        <v-col cols="2">
          <v-select
            v-model="authorFlags"
            :items="knownAuthorFlags"
            label="Authorship statuses"
            multiple
          >
          </v-select>
        </v-col>
        <v-col cols="1">
          <v-tooltip bottom>
            <template v-slot:activator="{ attrs, on }">
              <v-btn
                color="primary"
                @click="requestUpdate"
                bottom
                style="margin-top: 10px"
                :disabled="isUpdatePending"
              >
                <v-icon v-on="on" v-bind="attrs"> mdi-refresh </v-icon>
              </v-btn>
            </template>
            Update selection
          </v-tooltip>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <v-switch
            v-model="includeLdapInfo"
            label="Extended information"
          ></v-switch>
        </v-col>
        <v-spacer />
        <v-col cols="6">
          <v-text-field
            v-model="search"
            :append-icon="icon.search"
            label="Search"
          >
          </v-text-field>
        </v-col>
      </v-row>
    </template>
    <template v-slot:body>
      <data-table
        :no-autoformat="true"
        :headers="headers"
        :items="dataProxy"
        :search="search"
        :loading="isUpdatePending"
        :options="tableOrdering"
      >
        <template v-slot:[`item.assignments`]="{ item }">
          <div v-if="item.assignments.length > 1">
            <div v-for="assignment in item.assignments" :key="assignment.id">
              {{ assignment.code }}: {{ 100 * assignment.fraction }}%
            </div>
          </div>
          <div v-else-if="item.assignments.length === 1">
            {{ item.assignments[0].code }}
          </div>
        </template>
      </data-table>
    </template>
    <template v-slot:actions> </template>
  </base-page>
</template>

<script>
import api from "@/api";
import renderers from "@/utils/renderers";
import { projects, personStatuses, icon } from "@/utils/constants";
import AssignmentLinker from "@/utils/assignments";

export default {
  name: "People",
  props: {
    filterAuthor: null,
    filterStatus: null,
  },
  data() {
    return {
      people: [],
      ldapData: [],
      projects: [],
      authorFlags: [],
      statuses: [
        "CMS",
        "CMSASSOC",
        "CMSAFFILIATE",
        "CMSEXTENDED",
        "CMSEMERITUS",
      ],
      search: "",
      updateTicket: null,
      knownAuthorFlags: [true, false],
      includeLdapInfo: false,
      tableOrdering: {
        sortBy: ["cmsId"],
        sortDesc: [false],
      },
      isUpdatePending: true,
    };
  },
  computed: {
    ldapMap() {
      let ldapInfo = {};
      this.ldapData.forEach((e) => {
        ldapInfo[e.hr_id] = e;
      });
      return ldapInfo;
    },
    dataProxy() {
      let ans = [];
      for (let person of this.people) {
        if (this.includeLdapInfo) {
          const ldapEntry = this.ldapMap[person.hrId];
          person.office = ldapEntry != null ? ldapEntry.office : null;
        }
        ans.push(person);
      }
      return ans;
    },
    headers() {
      let headers = [
        { text: "CMS ID", value: "cmsId", sortable: true },
        { text: "Last name", value: "lastName", sortable: true },
        { text: "First name", value: "firstName", sortable: true },
        { text: "Institute", value: "instCode", sortable: true },
        { text: "Inst. country", value: "country", sortable: true },
        { text: "Region", value: "region_code", sortable: true },
        { text: "Authorship", value: "isAuthor", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Activity", value: "activity", sortable: true },
        {
          text: "Projects",
          value: "assignments",
          sortable: true,
          renderer: renderers.assignments,
        },
        // {text: 'Gender', value: 'gender', sortable: true}
      ];
      if (this.includeLdapInfo) {
        headers.push({
          text: "MO " + (new Date().getFullYear() - 0),
          value: "mo" + (new Date().getFullYear() - 0),
          sortable: true,
        });
        headers.push({
          text: "% at CERN",
          value: "localPercent",
          sortable: true,
        });
        headers.push({ text: "Office ", value: "office", sortable: true });
      }
      return headers;
    },
  },
  async mounted() {
    if (this.filterAuthor instanceof Array) {
      console.debug("Pre-setting the author filter to " + this.filterAuthor);
      this.authorFlags = this.filterAuthor;
    }
    if (this.filterStatus instanceof Array) {
      console.debug("Pre-setting the status filter to " + this.filterStatus);
      this.statuses = this.filterStatus;
    }

    this.requestUpdate();
    if (this.includeLdapInfo) {
      this.ldapData = await new api.UsersLiteLdapInfoCall().get();
    }
  },

  watch: {
    async includeLdapInfo() {
      if (this.includeLdapInfo && (this.ldapData || []).length == 0) {
        this.ldapData = await new api.UsersLiteLdapInfoCall().get();
      }
    },
  },

  methods: {
    async requestUpdate() {
      console.debug("Requesting update from the server");
      this.isUpdatePending = true;
      let [peopleData, assignments] = await Promise.all([
        api.getPeopleData({
          statuses: this.statuses,
          projects: this.projects,
          authorFlags:
            this.authorFlags.length > 0 ? this.authorFlags : [true, false],
        }),
        new api.AssignmentsCall().get(),
      ]);
      this.people = peopleData;
      for (let person of this.people) person.assignments = [];
      AssignmentLinker.linkAssignmentsToPeople(assignments, this.people);
      this.isUpdatePending = false;
    },
  },
  created() {
    this.icon = icon;
    this.knownProjects = projects;
    this.knownStatuses = personStatuses;
  },
};
</script>
