<template>
  <div class="centered-text-page">
    <h1 class="text--secondary">Coming Soon</h1>
  </div>
</template>

<style lang="scss" scoped>
.centered-text-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
