<template>
  <v-dialog
    v-model="dialog"
    ref="dialog"
    :max-width="'600px'"
    @submit="submitData"
    persistent
  >
    <template v-slot:activator="{ on }">
      <slot name="activator" v-bind:on="on"></slot>
    </template>

    <v-card>
      <v-toolbar color="blue" dark>
        <v-toolbar-title>
          Project assignments for {{ firstName }} {{ lastName }} ({{ value }})
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-card-text>
        <div
          v-for="(assignment, index) in assignments"
          :key="index"
          class="assignment"
          v-bind:values="fieldValues"
        >
          <v-container>
            <v-row no-gutters>
              <v-col class="col-6 mx-2">
                <v-autocomplete
                  v-model="assignment.code"
                  :label="getCodeLabel(index)"
                  :items="projectsData"
                  item-value="code"
                  item-text="code"
                  :rules="noEmptyCode"
                  ref="codeRef"
                />
              </v-col>
              <v-col class="col mx-1 d-flex justify-end">
                <v-btn
                  color="red"
                  :disabled="isRemoveDisabled"
                  @click="() => deleteAssignment(assignment)"
                >
                  <v-icon>{{ icon.delete }}</v-icon
                  >Remove project
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </div>

        <div v-if="assignments.length < max_number_of_projects">
          <div>
            <v-btn class="mt-4" color="primary" @click="addEmptyAssignment">
              <v-icon>{{ icon.add }}</v-icon
              >Add project
            </v-btn>
          </div>
        </div>
      </v-card-text>

      <v-card-text>
        <div v-if="errorMessages.length > 0">
          <v-alert
            v-for="message in errorMessages"
            :key="message"
            type="error"
            color="red"
            block
            rounded
          >
            {{ message }}
          </v-alert>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="beforeClose">Cancel</v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="beforeSave"
          :disabled="errorMessages.length > 0"
          >Save</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { MAX_NUMBER_OF_PROJECTS, icon } from "@/utils/constants";
import { deepCopyArray } from "@/utils/helpers";

export default {
  name: "AssignmentEditor",
  props: {
    value: { type: Number, default: null },
    firstName: { type: String, default: "" },
    lastName: { type: String, default: "" },
    assignmentsFromParent: { type: Array },
  },

  data() {
    return {
      max_number_of_projects: MAX_NUMBER_OF_PROJECTS,

      fieldValues: {},
      dialog: false,
      cmsId: null,
      assignments: [],
      assignmentsBackup: null,
      projectsData: null,
      intBetween1and100: [
        (value) =>
          Number.isInteger(parseFloat(value)) ||
          "Percentage must be an integer",
        (value) => {
          value = parseInt(value);
          return (
            (value >= 1 && value <= 100) ||
            "Percentage must be between 1 and 100"
          );
        },
      ],
      noEmptyCode: [
        (value) => !!value || "Caution! You chose an empty project.",
      ],
    };
  },

  watch: {
    value(newVal) {
      this.cmsId = newVal;
      this.resetForm();
    },
    dialog(newValue) {
      this.$emit("input", newValue);
    },
  },

  computed: {
    sumOfExistingFractions() {
      return this.assignments.reduce(
        (a, b) => parseInt(a) + parseInt(b.fraction),
        0
      );
    },

    isRemoveDisabled() {
      return this.assignments.length <= 1;
    },

    errorMessages() {
      let messages = [];
      if (this.areCodesDuplicated) {
        messages.push("There cannot be duplicated codes");
      }
      return messages;
    },

    areCodesDuplicated() {
      let codeCounter = {};
      for (let assignment of this.assignments) {
        if (!assignment.code) {
          continue;
        }
        if (codeCounter[assignment.code]) {
          codeCounter[assignment.code]++;
        } else {
          codeCounter[assignment.code] = 1;
        }
      }
      return Object.values(codeCounter).some((value) => value > 1);
    },

    isEveryPositionFilled() {
      for (let assignment of this.assignments) {
        if (!(assignment.code && parseInt(assignment.fraction))) {
          return false;
        }
      }
      return true;
    },
  },

  methods: {
    resetForm() {
      this.assignments = [];
      if (this.cmsId !== null) {
        this.requestAssignments();
      }
    },

    addEmptyAssignment() {
      const newAssignment = {
        code: "",
        fraction: Math.max(100 - this.sumOfExistingFractions, 0),
      };
      this.assignments.push(newAssignment);
      this.$nextTick(() => {
        const indexToCheck = this.assignments.length - 1;
        this.$refs.fractionRef[indexToCheck].validate(true);
        this.$refs.codeRef[indexToCheck].validate(true);
      });
    },

    show() {
      this.$nextTick(() => (this.dialog = true));
    },

    async requestProjects() {
      this.projectsData = await new api.ProjectsCall().get();
    },

    async requestAssignments() {
      let assignments = await new api.AssignmentsCall()
        .setCmsId(this.cmsId)
        .setActiveOnly(true)
        .get();
      this.storeAssignments(assignments);
    },

    storeAssignments(assignments) {
      if (!Array.isArray(assignments)) return;

      this.assignments = [];
      for (const index in assignments) {
        const assignment = assignments[index];
        this.assignments.push({
          row_id: index,
          code: assignment.project_code,
          fraction: 100 * parseFloat(assignment.fraction),
          id: assignment.id,
        });
      }
      this.assignments.sort(
        (first, second) => second.fraction - first.fraction
      );

      if (this.assignments.length >= 2) {
        this.assignments[0].fraction = 50.01;
        this.assignments[1].fraction = 49.99;
      } else if (this.assignments.length === 1) {
        this.assignments[0].fraction = 100;
      }

      this.assignmentsBackup = deepCopyArray(this.assignments);
    },

    async submitData() {
      let assignmentsList = [];
      for (let assignment of this.assignments) {
        if (assignment.code) {
          let additionalAssignment = {
            project_code: assignment.code,
            fraction: parseInt(assignment.fraction) / 100,
          };
          assignmentsList.push(additionalAssignment);
        }
      }

      if (assignmentsList.length >= 2) {
        assignmentsList[0].fraction = 0.5001;
        assignmentsList[1].fraction = 0.4999;
      } else if (assignmentsList.length === 1) {
        assignmentsList[0].fraction = 1.0;
      }

      await new api.AssignmentsCall()
        .setAssignmentsList(assignmentsList)
        .setCmsId(this.cmsId)
        .post();
      this.afterSubmitted();
    },

    afterSubmitted() {
      this.beforeClose(false);
      this.$emit("updated", { cmsId: this.cmsId });
    },

    deleteAssignment(assignment) {
      this.assignments.splice(
        this.assignments.findIndex((a) => a.row_id === assignment.row_id),
        1
      );
    },

    beforeSave() {
      this.submitData();
      this.dialog = false;
    },

    beforeClose(backupChanges = true) {
      if (backupChanges) {
        this.assignments = deepCopyArray(this.assignmentsBackup);
      }
      this.dialog = false;
    },

    getCodeLabel(index) {
      if (index == 0) return `Project ${index + 1} (Primary project)`;
      else return `Project ${index + 1}`;
    },
  },
  mounted() {
    this.requestProjects();
  },
  created() {
    this.icon = icon;
  },
};
</script>

<style scoped>
.assignment {
  padding: 10px;
  border: 1px black solid;
  margin-top: 5px;
  border-radius: 10px;
}
</style>
