<template>
  <v-card height="100%">
    <v-card-title class="subheading">
      <span>Members</span>
      <span class="ml-3">
        <v-switch
          v-model="toggleExmembers"
          label="Include ex-members"
        ></v-switch>
      </span>
    </v-card-title>

    <v-divider></v-divider>
    <v-card-text>
      <data-table
        :no-autoformat="true"
        :headers="peopleHeaders"
        :loading="loading"
        :items="displayedPeople"
        :options="pagination"
        :isColumnEditable="
          (header, rowData) => {
            return (
              header.value === 'project' &&
              (rowData['_links'] || {})['assignProject'] !== undefined
            );
          }
        "
      >
        <template v-slot:[`item.assignments`]="{ item }">
          <div v-if="item.assignments.length > 1">
            <div v-for="assignment in item.assignments" :key="assignment.id">
              {{ assignment.code }}: {{ 100 * assignment.fraction }}%
            </div>
          </div>
          <div v-else-if="item.assignments.length === 1">
            {{ item.assignments[0].code }}
          </div>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                color="primary"
                @click="() => launchCustomCellEditor(item)"
                v-bind="attrs"
                v-on="on"
                v-show="canEditAssignments"
                >{{ icon.edit }}</v-icon
              >
            </template>
            Edit projects
          </v-tooltip>
        </template>
      </data-table>
    </v-card-text>
    <assignment-editor
      ref="assignmentEditor"
      :value="assignmentEditorCmsId"
      :firstName="person && person.firstName"
      :lastName="person && person.lastName"
      @updated="assignmentEditedListener"
    >
      <template v-slot:activator><p></p></template>
    </assignment-editor>
  </v-card>
</template>

<script>
import api from "@/api";
import store from "@/store";
import { icon } from "@/utils/constants";
import renderers from "@/utils/renderers";
import AssignmentEditor from "./AssignmentEditor";
import AssignmentLinker from "@/utils/assignments";

export default {
  components: {
    "assignment-editor": AssignmentEditor,
  },
  props: {
    instCode: { type: String },
  },
  data() {
    return {
      people: [],
      loading: false,
      toggleExmembers: false,
      pagination: {
        sortBy: ["cmsid"],
        sortDesc: [false],
      },

      assignmentEditorCmsId: null,
      person: null,
    };
  },
  watch: {
    instCode() {
      this.fetchData();
    },
  },
  computed: {
    peopleHeaders() {
      let headers = [
        { text: "CMS ID", value: "cmsId", sortable: true },
        { text: "First name", value: "firstName", sortable: true },
        { text: "Last name", value: "lastName", sortable: true },
        { text: "Status", value: "status" },
        { text: "Activity", value: "activity" },
        { text: "Author?", value: "isAuthor" },
        {
          text: "Projects",
          value: "assignments",
          renderer: renderers.assignments,
        },
        {
          text: "Has Physics Access",
          value: "physicsAccess",
          sortable: true,
        },
      ];

      if (this.canEditAssignments) {
        headers.push({
          text: "Edit projects",
          value: "actions",
        });
      }

      return headers;
    },
    displayedPeople() {
      if (!this.toggleExmembers) {
        return this.people.filter((person) => person.status !== "EXMEMBER");
      } else {
        return this.people;
      }
    },
    canEditAssignments() {
      const institutesOfUser = store.getters["user/ledInstitutes"];
      return (
        institutesOfUser.includes(this.instCode) ||
        store.getters["user/isAdmin"]
      );
    },
  },
  methods: {
    async fetchData() {
      this.loading = true;
      let [peopleData, assignments] = await Promise.all([
        new api.MemberPeopleCall().setInstCode(this.instCode).get(),
        new api.AssignmentsCall().get(),
      ]);
      this.people = peopleData;
      for (let person of this.people) person.assignments = [];
      AssignmentLinker.linkAssignmentsToPeople(assignments, this.people);
      this.loading = false;
    },
    launchCustomCellEditor(data) {
      this.assignmentEditorCmsId = data.cmsId;
      this.person = this.people.find(
        (person) => person.cmsId == this.assignmentEditorCmsId
      );
      this.$refs.assignmentEditor.show();
    },
    async assignmentEditedListener(data) {
      const cmsId = data.cmsId;
      this.assignmentEditorCmsId = null;

      if (cmsId) {
        let person = this.people.find((person) => person.cmsId == cmsId);
        this.loading = true;
        person.assignments = [];
        let assignments = await new api.AssignmentsCall().setCmsId(cmsId).get();
        for (let assignment of assignments) {
          AssignmentLinker.linkAssignmentToPerson(assignment, person);
        }
        this.loading = false;
      }
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
