<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>CADI Lines</v-toolbar-title>
      </template>
      <template v-slot:header>
        <v-row>
          <v-col cols="12" md="2">
            <v-row no-gutters>
              <v-spacer></v-spacer>
              <v-col cols="2">
                <v-checkbox v-model="activeFilters.year"></v-checkbox>
              </v-col>
              <v-col cols="9"
                ><v-text-field
                  label="Year"
                  v-model="criteria.year"
                  type="number"
                  :disabled="!activeFilters.year"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="2">
            <v-row no-gutters>
              <v-spacer></v-spacer>
              <v-col cols="2">
                <v-checkbox v-model="activeFilters.awg"></v-checkbox>
              </v-col>
              <v-col cols="9">
                <v-select
                  label="AWG"
                  v-model="criteria.awg"
                  :items="options.awg"
                  :disabled="!activeFilters.awg"
                ></v-select>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="7">
            <v-row no-gutters>
              <v-spacer></v-spacer>
              <v-col cols="0">
                <v-checkbox v-model="activeFilters.activity"></v-checkbox>
              </v-col>
              <v-col cols="3">
                <v-select
                  label="Activity type"
                  v-model="criteria.activityType"
                  :items="options.activityTypes"
                  :disabled="!activeFilters.activity"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  type="date"
                  label="Start date"
                  :disabled="!activeFilters.activity"
                  v-model="criteria.minDate"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  type="date"
                  label="End date"
                  :disabled="!activeFilters.activity"
                  v-model="criteria.maxDate"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="1" md="1">
            <v-row>
              <v-col cols="12" md="12">
                <v-tooltip bottom>
                  <template v-slot:activator="{ attrs, on }">
                    <v-btn color="primary" @click="requestRefetch"
                      ><v-icon v-on="on" v-bind="attrs"
                        >mdi-refresh</v-icon
                      ></v-btn
                    >
                  </template>
                  Update selection
                </v-tooltip>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </template>
      <template v-slot:body>
        <data-table
          :headers="tableHeaders"
          :items="tableRows"
          :enableEgroupExport="false"
          dense
        >
          <!-- <template v-slot:[`item.relatedNotes`]="{ item }">
            <ul>
              <li v-for="note in item.relatedNotes" v-bind:key="note.id">
                {{ note.cmsNoteId }}
              </li>
            </ul>
          </template> -->
          <template v-slot:[`item.links`]="{ item }">
            <v-row>
              <v-col v-if="item.code" cols="3">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <a
                      :href="
                        'https://cms.cern.ch/iCMS/analysisadmin/cadilines?line=' +
                        item.code
                      "
                    >
                      <v-btn icon
                        ><v-icon v-bind="attrs" v-on="on"
                          >mdi-database</v-icon
                        ></v-btn
                      >
                    </a>
                  </template>
                  CADI entry for {{ item.code }}
                </v-tooltip>
              </v-col>
              <v-col v-if="item.paper" cols="3">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <a :href="item.paper">
                      <v-btn icon
                        ><v-icon color="orange" v-bind="attrs" v-on="on"
                          >mdi-file</v-icon
                        ></v-btn
                      >
                    </a>
                  </template>
                  Paper file for {{ item.code }}
                </v-tooltip>
              </v-col>
              <v-col v-if="item.pas" cols="3">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <a :href="item.pas">
                      <v-btn icon
                        ><v-icon color="green" v-bind="attrs" v-on="on"
                          >mdi-file</v-icon
                        ></v-btn
                      >
                    </a>
                  </template>
                  Pas file for {{ item.code }}
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
        </data-table>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import Hateoas from "@/api/core/Hateoas";
import moment from "moment";

export default {
  name: "CadiLines",
  props: {
    query: { type: Object, default: () => ({}) },
  },
  data() {
    return {
      awgs: [],
      cadiLines: {},
      cmsIdLabels: {},
      cadiLinesByStatus: {},
      options: {
        // no worries, the real values will be fetched on startup
        awg: ["HIG", "HIN"],
        // this is for cross-filtering against lists of stuff that had something happen to it within a specified time-frame
        activityTypes: [
          {
            value: "modification",
            text: "Any modification",
          },
          { value: "Planned", text: "Planned" },
          {
            value: "ongoing",
            text:
              "Ongoing (ARC-GreenLight / AWG / Free / GoingToPreApp / PRE-APP / Started)",
          },
          { value: "PHYS-APP", text: "Physics Approval (PHYS-APP)" },
          {
            value: "PAS-readyForPUB",
            text:
              "Ready for Physics Analysis Summary Publication (PAS-readyForPUB)",
          },
          {
            value: "PAS-PUB",
            text: "Physics Analysis Summary Publication (PAS-PUB)",
          },
          { value: "CWR", text: "Collaboration-Wide Review (CWR)" },
          { value: "SUB", text: "Journal submission (SUB)" },
          { value: "PUB", text: "Publication (PUB)" },
          { value: "Inactive", text: "Inactive" },
        ],
      },
      // storing the filters' criteria
      criteria: {
        year: null,
        awg: null,
        activityType: "modification",
        minDate: null,
        maxDate: null,
      },
      // for controlling which filters are active
      activeFilters: {
        year: true,
        awg: true,
        activity: false,
      },
      // these will store the updates or state changes or what not that the entries will be cross-filtered against
      matchingEvents: {},
    };
  },
  computed: {
    tableRows() {
      let compo = this;
      return Object.values(this.cadiLines).map((cl) => ({
        ...cl,
        created: (cl.creationInfo || {}).date || "",
        updated:
          compo.activeFilters.activity === true
            ? compo.matchingEvents[cl.code]
            : (cl.updateInfo || {}).date || "",
        relatedNotes: cl.relatedNotes
          ? cl.relatedNotes.map((note) => note.cmsNoteId).join(", ")
          : "",
      }));
    },
    tableHeaders() {
      return [
        { text: "Code", value: "code" },
        { text: "Title", value: "name" },
        { text: "Status", value: "status" },
        { text: "Associated notes", value: "relatedNotes" },
        { text: "Created", value: "created" },
        { text: "Target PreApp Date", value: "targetDatePreApp" },
        { text: "Target PhysApp Date", value: "targetDatePhyApp" },
        {
          text: this.activeFilters.activity === true ? "Event date" : "Updated",
          value: "updated",
        },
        { text: "Links", value: "links" },
      ];
    },
  },
  methods: {
    receiveCadiLinesData(response) {
      console.time("receiveCadiLinesData");
      var compo = this;
      new Hateoas.ResponseProcessor(response)
        .setEntityCollectionHandler((label, arr) => {
          arr.forEach(compo.processIncomingCadiLineData);
        })
        .process();
      console.timeEnd("receiveCadiLinesData");
    },
    processIncomingCadiLineData(cadiLine) {
      this.$set(this.cadiLines, cadiLine.code, cadiLine);
      this.$set(
        this.cadiLinesByStatus,
        cadiLine.status,
        this.cadiLinesByStatus[cadiLine.status] || []
      );
      this.$set(
        this.cadiLinesByStatus[cadiLine.status],
        this.cadiLinesByStatus[cadiLine.status].length,
        cadiLine.id
      );
    },
    requestActivityData: async function () {
      // Depending on what's selected in the interface we'll fetch the state changes or just any updates
      var call = null;
      if (this.criteria.activityType === "modification") {
        call = new api.CadiLineUpdatesCall();
      } else {
        let targetStates = [];
        let currentStates;
        if (this.criteria.activityType === "ongoing") {
          targetStates = [
            "ARC-GreenLight",
            "AWG",
            "Free",
            "GoingToPreApp",
            "PRE-APP",
            "Started",
          ];
          currentStates = targetStates;
        } else {
          targetStates = [this.criteria.activityType];
        }
        call = new api.ToolkitCadiLineStateChangesCall()
          .setTargetStates(targetStates)
          .setCurrentStates(currentStates);
        if (this.activeFilters.year === true && this.criteria.year !== null) {
          call.setYear(this.criteria.year);
        }
        if (this.activeFilters.awg == true && this.criteria.awg !== null) {
          call.setAwg(this.criteria.awg);
        }
      }
      if (this.criteria.minDate !== null) {
        call.setMinDate(this.criteria.minDate);
      }
      if (this.criteria.maxDate != null) {
        call.setMaxDate(this.criteria.maxDate);
      }
      let data = await call.get();
      return data;
    },
    processMatchingEventsData(events) {
      let mostRecentAnalysisEvents = {};
      events.forEach((e) => {
        let code = e["code"];
        let changeDate = (e["changeTime"] || e["changeDate"]).substring(0, 10);
        if (changeDate >= (mostRecentAnalysisEvents[code] || changeDate)) {
          mostRecentAnalysisEvents[code] = changeDate;
        }
      });
      this.matchingEvents = mostRecentAnalysisEvents;
    },
    receiveAwgsData(response) {
      var compo = this;
      new Hateoas.ResponseProcessor(response)
        .setEntityCollectionHandler((label, arr) => {
          arr.forEach(compo.processIncomingAwgData);
        })
        .process();
      //
      this.$set(
        this.options,
        "awg",
        this.awgs
          .filter(() => true)
          .map((e) => ({
            text: e.name + " (" + e.fullName + ")",
            value: e.name,
          }))
          .sort((a, b) => (a.value < b.value ? -1 : 1))
      );
    },
    processIncomingAwgData(record) {
      this.awgs.push(record);
    },
    requestRefetch() {
      // on top of refetching, it updates the query string
      this.$router
        .push({
          query: Object.entries(this.criteria).reduce((res, el) => {
            if (el[1] !== null) {
              res[el[0]] = el[1];
            }
            return res;
          }, {}),
        })
        .catch(() => {});
      this.refetch();
    },
    refetch: async function () {
      // fetches the CADIline data plus the cross-filtering records, if need be
      this.cadiLines = {};
      var request = new api.CadiLinesCall().setSuccessCallback(
        this.receiveCadiLinesData
      );
      if (this.activeFilters.year === true && this.criteria.year !== null) {
        console.debug("Requesting data for year: " + this.criteria.year);
        request.setYear(this.criteria.year);
      }
      if (this.activeFilters.awg == true && this.criteria.awg !== null) {
        console.debug("Requesting data for awg: " + this.criteria.awg);
        request.setAwg(this.criteria.awg);
      }
      if (
        this.activeFilters.activity === true &&
        this.criteria.activityType !== null
      ) {
        let data = await this.requestActivityData();
        this.processMatchingEventsData(data);
        let codes = Object.keys(this.matchingEvents);
        let bucketSize = 200;
        for (let i = 0; i < codes.length; i += bucketSize) {
          let subcodes = codes.slice(i, Math.min(codes.length, i + bucketSize));
          request.setCodes(subcodes);
          await request.get();
        }
      } else {
        request.get();
      }
    },
    initialize() {
      //
      this.criteria.year = this.$route.query.year || null;
      this.criteria.awg = this.$route.query.awg || null;
      this.criteria.activityType = this.$route.query.activityType || null;
      this.criteria.minDate =
        this.$route.query.minDate ||
        moment().subtract(14, "days").format("YYYY-MM-DD");
      this.criteria.maxDate =
        this.$route.query.maxDate || moment().format("YYYY-MM-DD");
      // query params passed from the router should take precedence, with certain fallbacks
      console.debug("Received query prop: " + JSON.stringify(this.query));
      if (Object.keys(this.query || {}).length > 0) {
        this.criteria = {
          ...this.criteria,
          year: null,
          awg: null,
          ...this.query,
        };
      } else if (Object.keys(this.$route.query).length == 0) {
        this.criteria.year = new Date().getFullYear();
      }
      console.debug("Criteria is " + JSON.stringify(this.criteria));
      // disable-enable filters in function of available values
      this.activeFilters.activity = this.criteria.activityType !== null;
      this.activeFilters.year = this.criteria.year !== null;
      this.activeFilters.awg = this.criteria.awg !== null;
      this.refetch();
    },
  },
  watch: {
    query: function (newVal) {
      /**
       * This happens when navigation happens within the same component (but with different params imposed by the router)
       */
      console.debug("Query changed to " + JSON.stringify(newVal));
      this.initialize();
    },
    "activeFilters.year": function (newVal) {
      if (newVal === true) {
        this.criteria.year = this.criteria.year || new Date().getFullYear();
      }
    },
    "activeFilters.awg": function (newVal) {
      if (newVal == true) {
        this.criteria.awg = this.options.awg[0];
      }
    },
  },
  mounted() {
    // awgs will always be fetched and kept
    new api.AwgsCall().setSuccessCallback(this.receiveAwgsData).get();
    // other stuff varies depending on mode (query prop)
    this.initialize();
  },
};
</script>
