<template>
  <base-page>
    <template v-slot:toolbar-title>Select CadiLine</template>
    <template v-slot:body>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-container>
          <v-row justify="center">
            <div style="width: 600px">
              <v-text-field v-model="cadiLine" label="Enter CADI Line" />
              <v-radio-group v-model="cadiType">
                <v-radio
                  v-for="type in [
                    { value: 'pas', label: 'PAS' },
                    { value: 'paper', label: 'Paper' },
                  ]"
                  :key="type.value"
                  :label="type.label"
                  :value="type.value"
                ></v-radio>
              </v-radio-group>
              <v-radio-group v-model="dataMC">
                <v-checkbox label="Preview (MathJax check)" v-model="preview" />
                <v-radio
                  v-for="type in [
                    { value: 'd', label: 'Data' },
                    { value: 'm', label: 'MC' },
                  ]"
                  :key="type.value"
                  :label="type.label"
                  :value="type.value"
                ></v-radio>
              </v-radio-group>
              <v-row>
                <v-col>
                  <v-checkbox label="Verbose" v-model="verbose" />
                </v-col>
                <v-col v-if="isAdmin">
                  <v-checkbox label="Keep files and dirs" v-model="keepFiles" />
                </v-col>
              </v-row>
              <v-btn color="success" @click="submit">Submit</v-btn>
              <div class="mt-2" v-if="loading">
                <v-progress-circular
                  class="mt-2"
                  indeterminate
                  color="primary"
                />
              </div>
              <div class="mt-4 text-left">
                <text-box v-if="logs" :body="logs" />
              </div>
            </div>
          </v-row>
        </v-container>
      </v-form>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { mapActions, mapGetters } from "vuex";
import TextBox from "@/components/common/TextBox";

export default {
  name: "CheckLatexBuild",
  components: {
    "text-box": TextBox,
  },
  data() {
    return {
      valid: true,
      cadiLine: "",
      cadiType: "pas",
      preview: false,
      dataMC: "d",
      verbose: false,
      keepFiles: false,
      logs: null,
      loading: false,
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    async submit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
      const call = await new api.CheckLatexBuildCall()
        .setCadiLine(this.cadiLine)
        .setCadiType(this.cadiType)
        .setPreview(this.preview)
        .setDataMC(this.dataMC)
        .setVerbose(this.verbose)
        .setKeepFiles(this.keepFiles);

      if (this.isAdmin) {
        call.setVerbose(this.verbose).setKeepFiles(this.keepFiles);
      }

      const data = await call.post();
      this.logs = data.logs.reduce(
        (acc, { title, content }) => acc + `${title} : ${content}\n`,
        ""
      );

      this.loading = false;
    },
  },
};
</script>
