<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Weekly Meetings</template>
      <template v-slot:header>
        <div style="font-size: 14px; margin-right: 10px">
          Odd or even week
          <br />
          <v-btn-toggle v-model="oddOrEven" rounded>
            <v-btn :value="'odd'"> odd </v-btn>
            <v-btn :value="'even'"> even </v-btn>
          </v-btn-toggle>
        </div>
        <div style="font-size: 14px; margin-right: 10px">
          Day
          <br />
          <v-btn-toggle v-model="dayOfWeek" rounded>
            <v-btn v-for="{ full, short } in days" :key="short" :value="full">
              {{ short }}
            </v-btn>
          </v-btn-toggle>
        </div>
        <v-spacer />
        <div style="font-size: 14px; margin-right: 10px">
          Legend
          <br />
          <span style="color: orange"> &#9632; proposed</span>
          <span style="color: rgb(85, 189, 213)"> &#9632; approved</span>
        </div>
        <v-spacer />
        <div style="font-size: 14px; margin-left: auto; margin-right: 0">
          <v-btn color="primary" @click="handleNewWeeklyMeeting()">
            Add new meeting
          </v-btn>
        </div>
      </template>
      <template v-slot:body>
        <time-table
          v-if="!loading"
          :meetings="meetingsForSelectedDay"
          :states="[
            { name: 'approved', color: '#55BDD5' },
            { name: 'proposed', color: '#F19733' },
            { name: 'cancelled', color: '#FF3333' },
          ]"
          :showGridLines="false"
          dayStartTime="08:00"
          dayEndTime="21:00"
          @meetingselect="handleMeetingSelect"
        />
      </template>
    </base-page>
    <weekly-meetings-info-dialog
      v-if="selectedRequest"
      v-model="showInfo"
      :meeting="selectedRequest"
      :catalog="meetingsCatalog"
      @selectaction="handleMeetingAction"
    />
    <weekly-meetings-form-dialog
      v-model="showWeeklyMeetingForm"
      :meeting="selectedRequest"
      :isEdit="selectedFromInfoDialog"
      :userInfo="userInfo"
      @meetingcreated="handleMeetingCreation"
      @meetingupdated="handleMeetingUpdate"
    />
    <weekly-meetings-action-dialog
      v-model="showWeeklyMeetingActionModal"
      :meeting="selectedRequest"
      :action="selectedAction"
      @meetingstatechange="handleMeetingStateChange"
    />
  </div>
</template>

<script>
import api from "@/api";
import WeeklyMeetingTimeTable from "./WeeklyMeetingTimeTable";
import WeeklyMeetingsInfoDialog from "./WeeklyMeetingsInfoDialog";
import WeeklyMeetingsFormDialog from "./WeeklyMeetingsFormDialog";
import WeeklyMeetingsActionDialog from "./WeeklyMeetingsActionDialog";
import { mapGetters } from "vuex";

export default {
  name: "WeeklyMeetings",
  components: {
    timeTable: WeeklyMeetingTimeTable,
    "weekly-meetings-info-dialog": WeeklyMeetingsInfoDialog,
    "weekly-meetings-form-dialog": WeeklyMeetingsFormDialog,
    "weekly-meetings-action-dialog": WeeklyMeetingsActionDialog,
  },
  data() {
    return {
      days: [
        { full: "Monday", short: "Mon" },
        { full: "Tuesday", short: "Tue" },
        { full: "Wednesday", short: "Wed" },
        { full: "Thursday", short: "Thu" },
        { full: "Friday", short: "Fri" },
        { full: "Saturday", short: "Sat" },
        { full: "Sunday", short: "Sun" },
      ],
      oddOrEven: "odd",
      dayOfWeek: "Monday",
      loading: true,
      meetings: [],
      meetingsCatalog: {
        odd: {
          monday: [],
          tuesday: [],
          wednesday: [],
          thursday: [],
          friday: [],
          saturday: [],
          sunday: [],
        },
        even: {
          monday: [],
          tuesday: [],
          wednesday: [],
          thursday: [],
          friday: [],
          saturday: [],
          sunday: [],
        },
      },
      cancelledCatalog: [],

      odd_even_weekly: [],
      rooms: [],

      selectedRequest: null,
      showInfo: true,
      showWeeklyMeetingForm: false,
      showWeeklyMeetingActionModal: false,
      selectedAction: null,
      selectedFromInfoDialog: false,
    };
  },
  computed: {
    ...mapGetters("user", ["userId", "firstName", "lastName"]),
    userInfo() {
      return {
        cms_id: this.userId,
        first_name: this.firstName,
        last_name: this.lastName,
      };
    },
    meetingsForSelectedDay() {
      return this.meetingsCatalog[this.oddOrEven.toLowerCase()][
        this.dayOfWeek.toLowerCase()
      ];
    },
  },
  watch: {},
  methods: {
    async fetchMeetings() {
      this.meetings = await new api.WeeklyMeetingsCall().get();
      this.meetings.forEach((meeting) => {
        let oew = meeting.odd_even_weekly.toLowerCase();
        let day = meeting.day_of_week.toLowerCase();
        let st = meeting.state.toLowerCase();
        if (st !== "cancelled") {
          if (oew === "odd" || oew === "weekly") {
            this.meetingsCatalog["odd"][day].push(meeting);
          }
          if (oew === "even" || oew === "weekly") {
            this.meetingsCatalog["even"][day].push(meeting);
          }
        } else {
          this.cancelledCatalog.push(meeting);
        }
      });
      this.loading = false;
    },
    handleNewWeeklyMeeting() {
      this.showWeeklyMeetingForm = true;
      this.selectedFromInfoDialog = false;
      this.selectedRequest = null;
    },
    handleMeetingSelect({ meeting }) {
      if (meeting.odd_even_weekly === "weekly") {
        // If a weekly meeting selected we choose to show either the odd entry from the meetings catalog either the even, it's the same
        this.selectedRequest = this.meetingsCatalog["odd"][
          meeting.day_of_week
        ].find((req) => req.id === meeting.id);
      } else {
        this.selectedRequest = this.meetingsCatalog[meeting.odd_even_weekly][
          meeting.day_of_week
        ].find((req) => req.id === meeting.id);
      }

      this.showInfo = true;
    },

    handleEditBooking() {
      this.showBookingForm = true;
    },

    handleMeetingAction(action) {
      if (action == "edit") {
        this.showWeeklyMeetingForm = true;
        this.selectedFromInfoDialog = true;
      } else {
        this.showWeeklyMeetingActionModal = true;
        this.selectedAction = action;
      }
    },
    handleMeetingCreation(meeting) {
      new api.WeeklyMeetingsCall()
        .setId(meeting.id)
        .get()
        .then((data) => {
          if (data.odd_even_weekly === "weekly") {
            this.meetingsCatalog["odd"][data.day_of_week].push(data);
            this.meetingsCatalog["even"][data.day_of_week].push(data);
          } else {
            this.meetingsCatalog[data.odd_even_weekly][data.day_of_week].push(
              data
            );
          }
        });
    },
    handleMeetingUpdate(updatedRequest) {
      new api.WeeklyMeetingsCall()
        .setId(updatedRequest.id)
        .get()
        .then((data) => {
          if (data.odd_even_weekly === "weekly") {
            this.meetingsCatalog["odd"][
              data.day_of_week
            ] = this.meetingsCatalog["odd"][data.day_of_week].map((request) =>
              request.id === updatedRequest.id ? data : request
            );
            this.meetingsCatalog["even"][
              data.day_of_week
            ] = this.meetingsCatalog["even"][data.day_of_week].map((request) =>
              request.id === updatedRequest.id ? data : request
            );
          } else {
            this.meetingsCatalog[data.odd_even_weekly][
              data.day_of_week
            ] = this.meetingsCatalog[data.odd_even_weekly][
              data.day_of_week
            ].map((request) =>
              request.id === updatedRequest.id ? data : request
            );
          }
        });
    },

    handleMeetingStateChange(newState) {
      this.selectedRequest.state = newState;
      if (newState === "cancelled") {
        let data = this.selectedRequest;
        if (data.odd_even_weekly === "weekly") {
          this.meetingsCatalog["odd"][data.day_of_week].splice(
            this.meetingsCatalog["odd"][data.day_of_week].findIndex(
              ({ id }) => id == data.id
            ),
            1
          );
          this.meetingsCatalog["even"][data.day_of_week].splice(
            this.meetingsCatalog["even"][data.day_of_week].findIndex(
              ({ id }) => id == data.id
            ),
            1
          );
        }
        this.meetingsCatalog[data.odd_even_weekly][data.day_of_week].splice(
          this.meetingsCatalog[data.odd_even_weekly][
            data.day_of_week
          ].findIndex(({ id }) => id == data.id),
          1
        );
      } else if (newState === "approved") {
        this.selectedRequest._allowed_actions.splice(
          this.selectedRequest._allowed_actions.indexOf("approve"),
          1
        );
      }
    },
  },
  created() {},
  mounted() {
    this.fetchMeetings();
  },
};
</script>
