<template>
  <v-dialog
    :value="value"
    @input="$emit('input', $value)"
    maxWidth="600px"
    class="zindex-modal"
  >
    <v-card>
      <v-card-title class="headline">{{
        isEdit ? "Edit Meeting" : "Create Meeting"
      }}</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-text-field
                  label="Title"
                  v-model="formState.title"
                  :rules="titleRules"
                />
              </v-col>
              <v-col :cols="3">
                <v-select
                  label="Room"
                  v-model="formState.room"
                  :items="roomOptions"
                  :rules="roomRules"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col :cols="6" class="mr-2">
                <v-select
                  label="Day"
                  v-model="formState.day"
                  :items="daysOptions"
                  :rules="daysRules"
                />
              </v-col>
              <v-col class="mr-2">
                <time-input
                  ref="startTimeInput"
                  label="Starts At"
                  v-model="formState.startTime"
                  :rules="timeStartRules"
                />
              </v-col>
              <v-col>
                <time-input
                  ref="endTimeInput"
                  label="Ends At"
                  v-model="formState.endTime"
                  :rules="timeEndRules"
                />
              </v-col>
            </v-row>
            <v-select
              label="Odd, Even Or Both"
              v-model="formState.oddEvenWeekly"
              :items="oddEvenWeeklyOptions"
              :rules="oddEvenWeeklyRules"
            />
            <v-textarea
              label="Primary Contact (optional)"
              rows="1"
              v-model="formState.primaryContact"
            />
            <h3>Meeting conveners</h3>
            <div>
              <v-row no-gutters>
                <person-picker
                  label="Add a meeting convener"
                  clearable
                  placeholder
                  v-model="formState.tempConvenerCmsId"
                  ref="convenerPicker"
                ></person-picker>
              </v-row>
              <v-row
                no-gutters
                v-if="formState.weekly_meeting_conveners.length > 0"
              >
                <ul>
                  <li
                    v-for="convener in formState.weekly_meeting_conveners"
                    :key="convener.cmsId"
                  >
                    <v-btn
                      color="red"
                      x-small
                      @click="removeConvener(convener)"
                    >
                      x
                    </v-btn>
                    {{ convener.first_name }}
                    {{ convener.last_name }}
                    ({{ convener.cms_id }})
                  </li>
                </ul>
              </v-row>
              <div v-else>No conveners selected.</div>
            </div>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="red darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.li {
  font-size: 18px;
}
</style>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";

import TimeInput from "@/components/common/inputs/TimeInput";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  name: "WeeklyMeetingFormDialog",
  components: {
    "time-input": TimeInput,
    "person-picker": PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    meeting: { type: Object },
    isEdit: { type: Boolean, default: false },
    userInfo: { type: Object },
  },
  data() {
    return {
      formState: this.getInitialFormState(),

      valid: true,
      titleRules: [fieldRequiredRule("Title")],
      daysRules: [fieldRequiredRule("Day")],
      oddEvenWeeklyRules: [fieldRequiredRule("Odd, Even Or Both")],
      roomRules: [fieldRequiredRule("Room")],
      timeStartRules: [fieldRequiredRule("Starts At"), this.timeIsAfterRule],
      timeEndRules: [fieldRequiredRule("Ends At"), this.timeIsAfterRule],

      daysOptions: [
        "monday",
        "tuesday",
        "wednesday",
        "thursday",
        "friday",
        "saturday",
        "sunday",
      ],
      roomOptions: [
        "28/S-029",
        "40/2-A01",
        "40/5-A01",
        "40/S2-A01",
        "40/S2-B01",
        "40/R-A10",
        "40/R-B10",
        "354/1-016",
        "354/1-019",
        "653/1-002",
        "Virtual",
      ],
      oddEvenWeeklyOptions: ["odd", "even", "weekly"],
    };
  },
  watch: {
    meeting() {
      this.initialize();
    },
    "formState.tempConvenerCmsId"() {
      this.addConvener();
    },
    "formState.startTime"() {
      if (this.$refs.endTimeInput === undefined) {
        return;
      }
      this.$nextTick(() => {
        this.$refs.endTimeInput.$refs.timeField.validate(true);
      });
    },
    "formState.endTime"() {
      if (this.$refs.startTimeInput === undefined) {
        return;
      }
      this.$nextTick(() => {
        this.$refs.startTimeInput.$refs.timeField.validate(true);
      });
    },
  },
  computed: {},
  methods: {
    initialize() {
      if (this.$refs.form) this.$refs.form.reset();
      this.$nextTick(() => {
        this.formState = this.meeting
          ? this.getFormStateFromBooking(this.meeting)
          : this.getInitialFormState();
      });
    },
    getInitialFormState() {
      return {
        title: "",
        oddEvenWeekly: "",
        day: "",
        startTime: "",
        endTime: "",
        room: "",
        primaryContact: "",
        weekly_meeting_conveners: [this.userInfo],
        tempConvenerCmsId: null,
      };
    },
    getFormStateFromBooking(meeting) {
      return {
        title: meeting.title,
        oddEvenWeekly: meeting.odd_even_weekly,
        day: meeting.day_of_week,
        startTime: meeting.start_time,
        endTime: meeting.end_time,
        room: meeting.room,
        primaryContact: meeting.primary_contact,
        weekly_meeting_conveners: meeting.weekly_meeting_conveners,
        tempConvenerCmsId: null,
      };
    },
    timeIsAfterRule() {
      const { startTime, endTime } = this.formState;
      if (startTime && endTime && endTime <= startTime)
        return "The starting time must be before the ending time.";
      return true;
    },
    close() {
      this.$emit("input", false);
    },
    addConvener() {
      const cmsId = this.formState.tempConvenerCmsId;
      if (cmsId) {
        const personPickerEntries = this.$refs.convenerPicker.entries;
        let userData;
        for (let person of personPickerEntries) {
          if (person.cms_id == cmsId) {
            userData = person;
            break;
          }
        }
        let { cms_id, first_name, last_name } = userData;
        let conveners = this.formState.weekly_meeting_conveners;
        this.formState.tempConvenerCmsId = "";
        this.$refs.convenerPicker.entries = [];
        for (const convener of conveners) {
          if (convener.cms_id == cms_id) {
            return;
          }
        }
        conveners.push({
          cms_id: cms_id,
          first_name: first_name,
          last_name: last_name,
        });
      }
    },
    removeConvener(convener) {
      let cmsIdToRemove = convener.cms_id;
      this.formState.weekly_meeting_conveners = this.formState.weekly_meeting_conveners.filter(
        (form_convener) => form_convener.cms_id != cmsIdToRemove
      );
    },
    async submit() {
      if (!this.$refs.form.validate()) return;

      const {
        title,
        oddEvenWeekly,
        day,
        startTime,
        endTime,
        room,
        primaryContact,
        weekly_meeting_conveners,
      } = this.formState;
      const call = new api.WeeklyMeetingsCall()
        .setTitle(title)
        .setOddEvenWeekly(oddEvenWeekly)
        .setDayOfWeek(day.toLowerCase())
        .setStartTime(startTime)
        .setEndTime(endTime)
        .setRoom(room)
        .setPrimaryContact(primaryContact)
        .setState("proposed")
        .setConveners(
          weekly_meeting_conveners.map(({ cms_id }) => ({ cms_id }))
        );
      let data;
      if (this.isEdit) data = await call.setId(this.meeting.id).put();
      else data = await call.post();
      this.$store.dispatch(
        "notification/infoMessage",
        `Meeting ${this.isEdit ? "Updated" : "Created"}!`
      );
      this.$emit(this.isEdit ? "meetingupdated" : "meetingcreated", data);
      this.close();
    },
  },
  mounted() {},
};
</script>
