<template>
  <div class="timetable-container">
    <div class="d-flex">
      <div style="width: 100px"></div>
      <div class="hours">
        <div
          v-for="hour in hours"
          :key="hour"
          class="hour-container"
          :style="`width:${durationToWidth(60)}%;`"
        >
          <div class="hour">{{ hour }}</div>
        </div>
      </div>
    </div>
    <div class="timetable-row">
      <div class="before-tickmark"></div>
      <div class="hours">
        <div
          v-for="hour in hours"
          :key="hour"
          class="tickmark"
          :style="`width:${durationToWidth(60)}%;`"
        ></div>
      </div>
    </div>
    <div v-if="meetings.length">
      <template v-for="room in rooms">
        <div
          v-if="meetingsByRoom.get(room).length"
          :key="room"
          class="timetable-row"
        >
          <div class="room">
            {{ room }}
          </div>
          <timeline
            :bookings="meetingsByRoom.get(room)"
            :states="states"
            :dayStartTime="dayStartTime"
            :dayEndTime="dayEndTime"
            :showGridLines="showGridLines"
            v-on="$listeners"
          />
        </div>
      </template>
    </div>
    <div v-else class="empty-message">
      <div>
        <div class="mb-2">
          No meetings for the selected week and day combination
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.timetable-container {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  margin: 12px;
}
.timetable-row {
  display: flex;
  align-items: top;
  border-bottom: 1px solid #e0e0e0;
}
.timetable-row:last-child {
  border-right: none;
}

.room {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  color: #424242;
  border-right: 1px solid #e0e0e0;
  width: 100px;
  align-self: stretch;

  min-height: 50px;

  font-size: 16px;
}

.timetable-row:hover .add-button {
  opacity: 1;
}

.hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.hour-container {
  position: relative;
  margin-top: 24px;
}
.hour {
  font-size: 12px;
  color: #424242;
  position: absolute;
  left: -15px;
  top: -17px;
}

.before-tickmark {
  width: 100px;
  height: 12px;
  border-right: 1px solid #e0e0e0;
}
.tickmark {
  border-right: 1px solid #e0e0e0;
  height: 12px;
}

.empty-message {
  height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.38);
}
</style>

<script>
import moment from "moment";
import WeeklyMeetingTimeline from "./WeeklyMeetingTimeline";

export default {
  name: "WeeklyMeetingTimeTable",
  components: {
    timeline: WeeklyMeetingTimeline,
  },
  props: {
    meetings: {
      type: Array,
      required: true,
      // default: () => [],
    },
    states: { type: Array },
    dayStartTime: {
      type: String,
      default: "00:00",
    },
    dayEndTime: {
      type: String,
      default: "00:00",
    },
    showGridLines: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectedDay: null,
    };
  },
  watch: {},
  computed: {
    rooms() {
      let rooms = new Set();
      this.meetings.forEach((m) => {
        rooms.add(m.room);
      });
      return rooms;
    },
    hours() {
      const { dayStartTime, dayEndTime } = this.$props;
      const currentTime = moment(dayStartTime, "HH:mm:ss");
      const endTime =
        dayStartTime !== dayEndTime
          ? moment(dayEndTime, "HH:mm:ss")
          : currentTime.clone().add(1, "day");
      let hours = [];
      do {
        hours.push(currentTime.format("HH:mm"));
        currentTime.add(1, "hour");
      } while (currentTime.isBefore(endTime));
      return hours;
    },
    totalMinutes() {
      const { dayStartTime, dayEndTime } = this.$props;
      const dayStart = moment(dayStartTime, "HH:mm:ss");
      const dayEnd =
        dayStartTime !== dayEndTime
          ? moment(dayEndTime, "HH:mm:ss")
          : dayStart.clone().add(1, "day");
      return moment.duration(dayEnd.diff(dayStart)).asMinutes();
    },
    meetingsByRoom() {
      let meetingsByRoom = new Map();
      this.meetings.forEach((m) => {
        let room = m.room;
        let meetingsInRoom = meetingsByRoom.get(room);
        if (meetingsInRoom) {
          meetingsInRoom.push(m);
        } else {
          meetingsByRoom.set(room, [m]);
        }
      });
      return meetingsByRoom;
    },
  },
  methods: {
    durationToWidth(duration) {
      return duration * (100 / this.totalMinutes);
    },
  },
  mounted() {
  },
};
</script>
