<template>
  <base-page>
    <template v-slot:toolbar-title>CBI flags check</template>
    <template v-slot:body>
      <div v-for="entry in entries" :key="entry.key" class="py-8">
        <h4>{{ entry.header }}</h4>
        <v-divider></v-divider>
        <data-table
          :no-autoformat="true"
          :headers="flagsHeaders"
          :items="flags[entry.key]"
          :options="pagination"
          :isColumnEditable="() => false"
        />
      </div>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "CBIFlags",
  data() {
    return {
      flags: {
        cbi_unflagged: [],
        cbi_unlinked: [],
        cbd_unflagged: [],
        cbd_unlinked: [],
        multicbis: [],
      },
      entries: [
        { header: "De facto CBIs without the flag", key: "cbi_unflagged" },
        {
          header: "Flagged as CBIs although they are not",
          key: "cbi_unlinked",
        },
        { header: "De facto CBDs without the flag", key: "cbd_unflagged" },
        {
          header: "Flagged as CBDs although they are not",
          key: "cbd_unlinked",
        },
      ],
      pagination: {
        sortBy: ["cmsid"],
        sortDesc: [false],
      },
    };
  },
  computed: {
    flagsHeaders() {
      return [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "First Name", value: "first_name", sortable: true },
        { text: "Last Name", value: "last_name", sortable: true },
        { text: "Current Institute", value: "inst_code", sortable: true },
      ];
    },
  },
  async mounted() {
    const flags = await new api.CBIFlagsCall().get();
    this.flags = { ...flags };
  },
};
</script>
