<template>
  <base-page>
    <template v-slot:toolbar-title>Compose Email</template>
    <template v-slot:body>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-container>
          <v-row justify="center">
            <div style="width: 600px">
              <v-text-field
                v-model="sender"
                label="Sender"
                :rules="senderRules"
              />
              <v-text-field v-model="to" label="Recepients" :rules="toRules" />
              <v-text-field v-model="bcc" label="Bcc" :rules="bccRules" />
              <v-text-field v-model="cc" label="Cc" :rules="ccRules" />
              <v-text-field
                v-model="subject"
                label="Subject"
                :rules="subjectRules"
              />
              <v-textarea v-model="body" label="Content" :rules="bodyRules" />
              <v-btn color="success" block @click="sendMail"> Send </v-btn>
            </div>
          </v-row>
        </v-container>
      </v-form>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import {
  fieldRequiredRule,
  emailAddressRule,
  emailAddressListRule,
} from "@/utils/validation";

export default {
  name: "ComposeEmail",
  data() {
    return {
      valid: true,
      sender: "",
      senderRules: [fieldRequiredRule("Sender"), emailAddressRule("Sender")],
      to: "",
      toRules: [
        fieldRequiredRule("Recepient"),
        emailAddressListRule("Recepient"),
      ],
      bcc: "",
      bccRules: [emailAddressListRule("Bcc")],
      cc: "",
      ccRules: [emailAddressListRule("Cc")],
      subject: "",
      subjectRules: [fieldRequiredRule("Subject")],
      body: "",
      bodyRules: [fieldRequiredRule("Content")],
    };
  },
  methods: {
    async sendMail() {
      if (!this.$refs.form.validate()) return;

      await new api.EmailCall()
        .setSender(this.sender)
        .setTo(this.to)
        .setBcc(this.bcc)
        .setCc(this.cc)
        .setSubject(this.subject)
        .setBody(this.body)
        .post();

      this.$store.dispatch("notification/infoMessage", "Email Sent!");
      this.$router.push({ name: "email-list" }).catch(() => {});
    },
  },
};
</script>
