<template>
  <base-page>
    <template v-slot:toolbar-title>Free MO checks</template>
    <template v-slot:body>
      <v-divider></v-divider>
      <data-table
        :no-autoformat="true"
        :headers="arrivalsHeaders"
        :items="data.post_closure_arrivals"
        :options="pagination"
        :isColumnEditable="() => false"
      />
      <v-divider></v-divider>
      <data-table
        :no-autoformat="true"
        :headers="membersHeaders"
        :items="data.members"
        :options="pagination"
        :isColumnEditable="() => false"
      />
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "FreeAuthorshipMonth",
  data() {
    return {
      data: {
        members: [],
        post_closure_arrivals: []
      },
      entries: [
        { header: "Post closure arrivals", key: "post_closure_arrivals" },
        { header: "Members", key: "members" },
      ],
      pagination: {
        sortBy: ["cms_id"],
        sortDesc: [false],
      },
    };
  },
  computed: {
    membersHeaders() {
      return [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "Surname", value: "surname", sortable: true },
        { text: "Name", value: "name", sortable: true },
        { text: "Current Institute", value: "institute", sortable: true },
        { text: "Free MO", value: "free_mo", sortable: true },
        { text: "Activity (now)", value: "activity_now", sortable: true },
        { text: "Inst join date", value: "institute_join_date", sortable: true },
      ];
    },
    arrivalsHeaders() {
      return [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "Surname", value: "surname", sortable: true },
        { text: "Name", value: "name", sortable: true },
        { text: "Current Institute", value: "institute", sortable: true },
        { text: "Free MO", value: "free_mo_year", sortable: true },
        { text: "Transfer date", value: "transfer_date", sortable: true },
        { text: "Activity during transfer", value: "activity_during_transfer", sortable: true },
      ];
    },
  },
  async mounted() {
    const data = await new api.FreeAuthorshipMOCall().get();
    this.data = { ...data };
  },
};
</script>