<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>CMS Awardees</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col cols="3">
              <v-select
                v-model="selectedAwards"
                label="Select Award Type"
                :items="filteredAwardTypes"
                :loading="loadingAwards"
                @change="updateAwardsByFilters"
                multiple
                :searchDropdown="searchDropdownType"
                >
                <template v-slot:prepend-item>
                  <v-text-field
                    v-model="searchDropdownType"
                    placeholder="Search Award Type..."
                    dense
                    outlined
                    hide-details
                  />
                  <v-checkbox
                    v-model="isAllAwardsSelected"
                    @change="toggleSelectAllAwards"
                    dense
                    outlined
                    hide-details
                    label="Select All Awards"
                  />
                </template>
              </v-select>
            </v-col>
            <v-col cols="5">
              <v-select
                v-model="selectedYears"
                label="Select Award Year"
                :items="filteredAwardYears"
                :loading="loadingAwards"
                @change="updateAwardsByFilters"
                multiple
                :searchDropdown="searchDropdownYear"
              >
              <template v-slot:prepend-item>
                  <v-text-field
                    v-model="searchDropdownYear"
                    placeholder="Search Award Year..."
                    dense
                    outlined
                    hide-details
                  />
                  <v-checkbox
                    type="checkbox"
                    v-model="isAllYearsSelected"
                    @change="toggleSelectAllYears"
                    dense
                    outlined
                    hide-details
                    label="Select All Years"
                  />
                </template>
              </v-select>
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loadingAwardees"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.awardees`]="props">
            v-for="awardee in props.item.awardees"
            <div v-for="awardee in props.items" :key="awardee.cms_id">
              {{ awardee.award_id }}
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  data() {
    return {
      loadingAwardees: false,
      items: [],
      search: "",
      awards: [],
      loadingAwards: false,
      selectedAwards: [],
      selectedYears: [],
      filteredAwardTypes: [],
      filteredAwardYears: [],
      originalItems: [],
      searchDropdownType: "",
      searchDropdownYear: "",
      isAllAwardsSelected: true,
      isAllYearsSelected: true,
    };
  },
  computed: {
    headers() {
      return [
        { text: "Award Title", value: "award_title", sortable: true },
        { text: "Project", value: "project", sortable: true },
        { text: "Awardee", value: "awardee_name", sortable: true },
        { text: "Institute", value: "institute", sortable: true },
        { text: "Year", value: "award_year", sortable: true },
        { text: "Citation", value: "citation", sortable: true },
      ];
    },
    tableData() {
      return this.items.map((item) => {
        return {
          ...item,
          awardee_name: `${item.first_name} ${item.last_name}`,
        };
      });
    },
  },
  watch: {
    searchDropdownType() {
      this.filterDropdownOptions();
    },
    searchDropdownYear() {
      this.filterDropdownOptions();
    },
  },
  methods: {
    // fetchAwardees() {
    //   this.loadingAwardees = true;
    //   new api.AwardeesCall().get().then((data) => {
    //     this.items = data;
    //     this.loadingAwardees = false;
    //   });
    // },
    fetchAwards() {
      this.loadingAwards = true;
      new api.AwardsCall().get().then((data) => {
        this.awards = data?.awards?.sort((a, b) =>
          a.nominations_deadline > b.nominations_deadline ? -1 : 1
        );

        this.filterDropdownOptions();
        this.isAllAwardsSelected = true;
        this.isAllYearsSelected = true;
        this.loadingAwards = false;
        this.setDefaultSelectedAwards();
      });
    },
    async fetchAwardees() {
      this.loadingAwardees = true;
      // fetch nominations for review after an award is specified
      // this.selectedAwards
      if (this.selectedAwards > 0) {
        await new api.AwardeesCall()
          .setAwardId(this.selectedAwards)
          .get()
          .then((data) => {
            this.items = data?.sort((a, b) => {
              if (a.award_year !== b.award_year) {
                return a.award_year > b.award_year ? -1 : 1;
              } else {
                return a.award_id > b.award_id ? 1 : -1;
              }
            });
          });
      } else {
        await new api.AwardeesCall().get().then((data) => {
          this.items = data?.sort((a, b) => {
            if (a.award_year !== b.award_year) {
              return a.award_year > b.award_year ? -1 : 1;
            } else {
              return a.award_id > b.award_id ? 1 : -1;
            }
          });
        });
      }
      this.loadingAwardees = false;
    },
    updateAwardsByFilters() {
      if (!this.originalItems || this.originalItems.length === 0) {
        this.originalItems = [...this.items];
      }
      let updatedItems = [];

      if(this.selectedAwards.length === 0) {
        this.isAllAwardsSelected = false;
      }
      else {
        this.isAllAwardsSelected = this.selectedAwards.length === this.filteredAwardTypes.length;
      }
      if(this.selectedYears.length === 0) {
        this.isAllYearsSelected = false;
      }
      else {
        this.isAllYearsSelected = this.selectedYears.length === this.filteredAwardYears.length;
      }

      this.originalItems.forEach(item => {
        if (item.award_title) {
          const parts = item.award_title.split(" ");
          const year = parts[parts.length - 1]; 
          const type = parts.slice(0, parts.length - 1).join(" "); 

          const isTypeSelected = this.selectedAwards.some(award =>
            award.toLowerCase().includes(type.toLowerCase())
          );
          const isYearSelected = this.selectedYears.some(award => award === parseInt(year));

          if (isTypeSelected && isYearSelected) {
            updatedItems.push(item);
          }
        }
      });

      this.items = updatedItems;
    },
    toggleSelectAllAwards() {
      if (this.isAllAwardsSelected) {
        this.selectedAwards = this.filteredAwardTypes.map((award) => award.value);
      } else {
        this.selectedAwards = [];
      }
      this.updateAwardsByFilters();
    },
    toggleSelectAllYears() {
      if (this.isAllYearsSelected) {
        this.selectedYears = this.filteredAwardYears.map((award) => award.value);
      } else {
        this.selectedYears = [];
      }
      this.updateAwardsByFilters();
    },
    filterDropdownOptions() {
      const uniqueTypes = [...new Set(this.awards.map((award) => award.type))];
      this.filteredAwardTypes = uniqueTypes
        .filter((type) =>
          type.toLowerCase().includes(this.searchDropdownType.toLowerCase())
        )
        .map((type) => ({
          value: type,
          text: type,
        }))
        .sort((a, b) => (a.text > b.text ? 1 : -1));

      const uniqueYears = [...new Set(this.awards.map((award) => award.year))];
      this.filteredAwardYears = uniqueYears
        .filter((year) =>
          year.toString().includes(this.searchDropdownYear.toLowerCase())
        )
        .map((year) => ({
          value: year,
          text: year,
        }))
        .sort((a, b) => (a.text > b.text ? 1 : -1));
    },
    setDefaultSelectedAwards() {
      this.selectedAwards = this.filteredAwardTypes.map((award) => award.value);
      this.selectedYears = this.filteredAwardYears.map((award) => award.value);
    },
  },

  mounted() {
    this.fetchAwards();
    this.fetchAwardees();
    this.updateAwardsByFilters();
  },
  created() {
    this.icon = icon;
  },
};
</script>
