<template>
  <router-link
    :to="{ name: 'institute-profile', params: { urlInstCode: instCode } }"
    >{{ fallbackLabel }}</router-link
  >
</template>

<script>
export default {
  name: "InstProfileLink",
  props: {
    instCode: null,
    label: null,
  },
  computed: {
    fallbackLabel: function () {
      return this.label || this.instCode;
    },
  },
};
</script>
