<template>
  <base-page>
    <template v-slot:toolbar-title>
      <div>
        PhD Project List
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              medium
              style="cursor: help; margin-bottom: 3px"
              v-bind="attrs"
              v-on="on"
              >{{ icon.info }}</v-icon
            >
          </template>
          <span>M&O PhD list with project info</span>
        </v-tooltip>
      </div>
    </template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-col cols="2">
            <v-select
              :value="year"
              @change="$router.push({ query: { year: $event } })"
              :items="yearOptions"
              label="Year"
              class="mr-2"
            />
          </v-col>
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="data"
        :loading="loading"
        :search="search"
        :options="tableOrdering"
      >
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  name: "PhDProjectList",
  props: {
    year: { required: true, type: Number },
  },
  data() {
    return {
      data: [],
      loading: false,
      search: "",
      tableOrdering: {
        sortBy: ["cmsId"],
      },
    };
  },
  computed: {
    headers: () => [
      { text: "CMS ID", value: "cmsId", sortable: true },
      { text: "First Name", value: "firstName", sortable: true },
      { text: "Last Name", value: "lastName", sortable: true },
      { text: "Current Institute", value: "instCode", sortable: true },
      { text: "Projects", value: "project", sortable: true },
      { text: "Funding Agency", value: "fundingAgency", sortable: true },
    ],
    yearOptions: () => {
      const currentYear = new Date().getFullYear();
      const options = [];
      for (let year = currentYear + 1; year >= 2011; year--) {
        options.push({ value: year, text: String(year) });
      }
      return options;
    },
  },
  watch: {
    year() {
      this.loadData();
    },
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.PhdProjectListCall().setYear(this.year).get();
      this.loading = false;
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
