<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="800px"
    @keydown.esc="close"
  >
    <v-card>
      <v-card-title> Info &amp; usage instructions </v-card-title>
      <v-card-text>
        <h3>CMS Awards</h3>
        You can find more about the CMS Awards, their purpose and history in the
        <a href="https://cms.cern/collaboration/cms-awards" target="tab">
          public CMS Awards page
        </a>
        of the CMS Collaboration.
        <br />
        <br />
        <h3>Submit new nomination</h3>
        If there are any awards currently accepting nominations, you will find a
        "SUBMIT NEW NOMINATION" button on the top-left of the page. This opens a
        submission form with the following fields (fields marked with an
        asterisk are required):
        <ul>
          <li>
            <strong>Award:</strong>
            <br />
            From the drop-down menu, choose the award for which you would like
            to submit a nomination.
          </li>
          <li>
            <strong>Nominee:</strong>
            <br />
            Start typing your intended nominee's name, email or CMS ID and
            select them from the matching drop-down options.
          </li>
          <li>
            <strong>Projects:</strong>
            <br />
            For their outstanding contribution to which project(s) are you
            nominating this candidate? Select one or more options.
          </li>
          <li>
            <strong>Justification:</strong>
            <br />
            Why should this candidate be selected?
          </li>
          <li>
            <strong>Working relationship:</strong>
            <br />
            Describe your working relationship with the nominee, e.g. colleague
            or supervisor.
          </li>
          <li>
            <strong>Proposed citation:</strong>
            <br />
            Optionally, propose an appropriate citation should this nominee be
            selected.
          </li>
          <li>
            <strong>Remarks:</strong>
            <br />
            Additional, optional remarks, e.g. to specify a contribution to an
            area not among the listed projects.
          </li>
        </ul>
        <br />
        <h3>View past nominations</h3>
        The table in this page lists your past nominations that have not been
        canceled. For the full details, click on the info icon to the right of
        the row corresponding to the nomination.
        <br />
        <br />
        <h3>Edit or cancel your nomination</h3>
        While nominations are open, you can update or cancel your nominations by
        clicking on the pencil or trash bin icon, respectively, to the right of
        the row corresponding to the nomination.
        <br />
        <br />
        <h3>Nomination visibility</h3>
        For privacy reasons, you can only view your own nominations. Only the
        Awards Committee tasked with the awardee selection (and iCMS admins)
        have full access to the nominations. Anonymized statistics may be shared
        with the Collaboration, e.g. for Diversity and Inclusion purposes.
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, required: true, default: false },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
};
</script>
