<template>
  <v-app>
    <AppBar />
    <app-notification :subscribeToStore="true" />
    <screen-size-warning />
    <v-main>
      <router-view v-if="!!username" />
    </v-main>
    <AppFooter />
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import AppBar from "@/components/layout/AppBar";
import AppFooter from "@/components/layout/AppFooter";

export default {
  name: "App",
  components: {
    AppBar,
    AppFooter,
  },
  computed: mapGetters("user", ["username"]),
  methods: mapActions("user", ["fetchUser", "fetchIsImpersonating"]),
  mounted() {
    this.fetchUser();
  },
};
</script>
