<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>PhD Info</template>
      <template v-slot:header>
        <v-container class="text-center" fluid style="padding: 0">
          <v-row align="center">
            <v-btn
              v-if="canCreate"
              depressed
              color="success"
              @click="showCreateDialog()"
              class="ml-2"
            >
              Create PhD Info
            </v-btn>
            <v-switch
              style="margin-left: 12px"
              v-model="includeExtendedInfo"
              label="Extended information"
            ></v-switch>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="tableData"
          :loading="loading"
          :search="search"
        >
          <template v-slot:[`item.thesis_title`]="props">
            <td class="overflow-ellipsis" :title="props.item.thesis_title">
              {{ props.item.thesis_title }}
            </td>
          </template>
          <template v-slot:[`item.thesis_link`]="props">
            <tr class="text-left table-padding" style="cursor: pointer">
              <td>
                <a :href="props.item.thesis_link" target="_blank">
                  {{ props.item.thesis_link ? props.item.thesis_link.split("/").pop() : "" }}
                </a>
              </td>
            </tr>
          </template>
          <template v-slot:[`item.remarks`]="props">
            <td class="overflow-ellipsis" :title="props.item.remarks">
              {{ props.item.remarks }}
            </td>
          </template>
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        small
                        @click.stop="launchDialog(props.item.student.cms_id)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ icon.info }}
                      </v-icon>
                    </template>
                    <span>Show details</span>
                  </v-tooltip>
                </v-col>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        v-if="props.item._allowed_actions ? props.item._allowed_actions.includes('edit') : ''"
                        small
                        color="blue"
                        @click="showEditDialog(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ icon.edit }}
                      </v-icon>
                    </template>
                    <span>Edit phd info</span>
                  </v-tooltip>
                </v-col>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                         v-if="props.item._allowed_actions ? props.item._allowed_actions.includes('delete') : ''"
                        small
                        color="red"
                        @click="showDeleteDialog(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ icon.delete }}
                      </v-icon>
                    </template>
                    <span>Delete phd info</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
    <details-dialog
      v-model="isDialogOpen"
      :student="selectedStudent"
      :compact_info="[student_info, updater_info]"
    />
    <phd-info-form-dialog
      v-model="showPhdInfoForm"
      :phdInfo="phdInfo"
      :currentUserInfo="currentUser"
      :currentUserId="userId"
      :collectionActions="collectionActions"
      :isEdit="isEdit"
      @infocreated="handleInfoCreate"
      @infoupdated="handleInfoUpdate"
    />
    <phd-info-delete-dialog
      v-model="showConfirmDeletionDialog"
      :phdInfo="phdInfo"
      @deletedInfo="handleDeletedInfo"
    />
  </div>
</template>

<style scoped>
.overflow-ellipsis {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
</style>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import DetailsDialog from "./DetailsDialog.vue";
import PhdInfoDeleteDialog from "./PhdInfoDeleteDialog";
import PhdInfoFormDialog from "./PhdInfoFormDialog";
import { mapGetters } from "vuex";

export default {
  name: "PhdInfo",
  components: {
    "details-dialog": DetailsDialog,
    "phd-info-delete-dialog": PhdInfoDeleteDialog,
    "phd-info-form-dialog": PhdInfoFormDialog,
  },
  data() {
    return {
      data: [],
      loading: false,
      institute: null,
      search: "",
      isDialogOpen: false,
      selectedStudent: "",
      student_info: "",
      updater_info: "",
      showConfirmDeletionDialog: false,
      deleteInfoId: null,
      phdInfo: null,
      collectionActions: { actions: "", institutes: [] },
      showPhdInfoForm: false,
      isEdit: false,
      includeExtendedInfo: false,
    };
  },
  computed: {
    ...mapGetters("user", ["currentUser", "userId"]),
    headers() {
      var headers = [
        {
          text: "Thesis Title",
          value: "thesis_title",
          sortable: true,
        },
        { text: "Thesis Record", value: "thesis_link", sortable: true },
        { text: "First Name", value: "student.first_name", sortable: true },
        { text: "Last Name", value: "student.last_name", sortable: true },
        { text: "CMS Id", value: "student.cms_id", sortable: true },
        { text: "CMS Institute", value: "student_institute", sortable: true },
        { text: "Enrollment Date", value: "enrollment_date", sortable: true },
        {
          text: "Dissertation Defense Date",
          value: "dissertation_defense_date",
          sortable: true,
        },
        { text: "Start Date", value: "start_date", sortable: true },
        { text: "End Date", value: "end_date", sortable: true },
      ];
      if (this.includeExtendedInfo) {
        headers.push({
          text: "Physics Groups",
          value: "physics_groups",
          sortable: true,
        });
        headers.push({
          text: "Cms Projects",
          value: "cms_projects",
          sortable: true,
        });
        headers.push({
          text: "Analysis",
          value: "cadi_analyses",
          sortable: true,
        });
        headers.push({ text: "Notes", value: "cms_notes", sortable: true });
        headers.push({
          text: "Remarks",
          value: "remarks",
          sortable: true,
        });
      }
      headers.push({ text: "Actions", value: "actions", sortable: true });
      return headers;
    },
    tableData() {
      let tableData = [];
      if (this.data["phd_info"]) {
        tableData = this.data["phd_info"];
      } else {
        tableData = [{}];
      }
      return tableData.map((row) => Object.assign({}, row, {}));
    },
    canCreate() {
      let actions = "";
      if (this.data["_allowed_collection_actions"]) {
        actions = this.data._allowed_collection_actions.actions;
        return actions ? true : false;
      }
      return false;
    },
  },
  watch: {},
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.PhdInfoCall().get();
      this.data["phd_info"].forEach((element) => {
        if (element.start_date) {
          element.start_date = element.start_date.split(" ")[0];
        }
        if (element.end_date) {
          element.end_date = element.end_date.split(" ")[0];
        }
        element.physics_groups = this.arrayToString(element.physics_groups);
        element.cms_projects = this.arrayToString(element.cms_projects);
        element.cadi_analyses = this.arrayToString(element.cadi_analyses);
        element.cms_notes = this.arrayToString(element.cms_notes);
      });
      this.loading = false;
      this.collectionActions = this.data["_allowed_collection_actions"];
    },
    arrayToString(arr) {
      return arr.toString().split(",").join(",\n");
    },
    launchDialog(cms_id) {
      const student = this.data["phd_info"].find(
        (s) => s.student.cms_id === cms_id
      );
      this.selectedStudent = student;
      this.student_info =
        this.selectedStudent.student.first_name +
        " " +
        this.selectedStudent.student.last_name +
        " (" +
        this.selectedStudent.student_institute +
        ", " +
        this.selectedStudent.student.cms_id +
        ") ";
      this.updater_info =
        this.selectedStudent.updater.first_name +
        " " +
        this.selectedStudent.updater.last_name +
        " (" +
        this.selectedStudent.updater.last_updated_by +
        ") ";
      this.isDialogOpen = true;
    },
    showDeleteDialog(idToDelete) {
      if (idToDelete > 0) {
        this.phdInfo = this.data["phd_info"].find((e) => e.id == idToDelete);
      }
      this.showConfirmDeletionDialog = true;
    },
    handleDeletedInfo(deletedInfoId) {
      this.data["phd_info"] = this.data["phd_info"].filter(
        (t) => t.id != deletedInfoId
      );
      this.deleteInfoId = null;
    },
    showEditDialog(idToEdit) {
      if (idToEdit > 0) {
        this.phdInfo = this.data["phd_info"].find((e) => e.id == idToEdit);
      }
      this.isEdit = true;
      this.showPhdInfoForm = true;
    },
    showCreateDialog() {
      this.phdInfo = null;
      this.isEdit = false;
      this.showPhdInfoForm = true;
    },
    handleInfoCreate(phdInfo) {
      new api.PhdInfoCall()
        .setId(phdInfo.id)
        .get()
        .then((d) => {
          if (d.start_date) {
            d.start_date = d.start_date.split(" ")[0];
          }
          if (d.end_date) {
            d.end_date = d.end_date.split(" ")[0];
          }
          d.physics_groups = this.arrayToString(d.physics_groups);
          d.cms_projects = this.arrayToString(d.cms_projects);
          d.cadi_analyses = this.arrayToString(d.cadi_analyses);
          d.cms_notes = this.arrayToString(d.cms_notes);
          this.data["phd_info"].push(d);
        });
    },
    handleInfoUpdate(updatedRequest) {
      new api.PhdInfoCall()
        .setId(updatedRequest.id)
        .get()
        .then((d) => {
          d.physics_groups = this.arrayToString(d.physics_groups);
          d.cms_projects = this.arrayToString(d.cms_projects);
          d.cadi_analyses = this.arrayToString(d.cadi_analyses);
          d.cms_notes = this.arrayToString(d.cms_notes);
          this.data["phd_info"] = this.data["phd_info"].map((request) =>
            request.id === updatedRequest.id ? d : request
          );
        });
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
