<template>
  <v-dialog
    :value="value"
    @input="$emit('input', $value)"
    maxWidth="600px"
    class="zindex-modal"
  >
    <v-card>
      <v-card-title class="headline">
        {{ isEdit ? "Edit PhD Info" : "Create PhD Info" }}
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container>
            <v-row no-gutters v-if="collectionActions.actions == 'create-self'">
              <v-col>
                <v-text-field
                  label="PhD Student"
                  v-model="formState.phdStudentSelf"
                  :rules="student"
                  readonly
                />
              </v-col>
            </v-row>
            <v-row no-gutters v-else>
              <v-col>
                <person-picker
                  label="PhD Student"
                  clearable
                  placeholder
                  v-model="formState.phdStudent"
                  ref="studentPicker"
                  :rules="student"
                  required
                  :team_only="collectionActions.actions == 'create-team'"
                ></person-picker>
              </v-col>
            </v-row>
            <v-row no-gutters v-if="collectionActions.actions == 'create-all'">
              <v-col>
                <inst-picker
                  label="Institute"
                  clearable
                  placeholder
                  v-model="formState.chosenInstCode"
                  ref="instPicker"
                  :rules="instituteRules"
                  required
                ></inst-picker>
              </v-col>
            </v-row>
            <v-row no-gutters v-else>
              <v-col>
                <v-autocomplete
                  label="Institute"
                  v-model="formState.institute"
                  :items="collectionInstitutes"
                  :rules="instituteRules"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-text-field
                  label="Thesis Title"
                  v-model="formState.thesisTitle"
                  :rules="thesisTitleRules"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-text-field
                  label="Thesis Link"
                  v-model="formState.thesisLink"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col class="mr-2">
                <date-input
                  ref="enrollment_date"
                  label="Enrollment Date"
                  v-model="formState.enrollmentDate"
                  :rules="enrollmentDateRules"
                />
              </v-col>
              <v-col class="mr-2">
                <date-input
                  ref="dissertation_defense_date"
                  label="Dissertation Defense Date"
                  v-model="formState.dissertationDefenseDate"
                  :rules="dissertationDefenseDateRules"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-autocomplete
                  label="Physics Groups"
                  v-model="formState.physicsGroups"
                  :items="physicsGroupsOptions"
                  :item-text="'label'"
                  :item-value="'value'"
                  multiple
                  chips
                  deletable-chips
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-autocomplete
                  label="CMS Projects"
                  v-model="formState.cmsProjects"
                  :items="cmsProjectsOptions"
                  :item-text="'label'"
                  :item-value="'value'"
                  multiple
                  chips
                  deletable-chips
                />
              </v-col>
            </v-row>
            <h3>Analyses</h3>
            <v-row no-gutters>
              <v-col
                ><cadi-analyses-picker
                  label="Add a CADI analysis code"
                  clearable
                  placeholder
                  v-model="formState.chosenCadiAnalysesCode"
                ></cadi-analyses-picker
              ></v-col>
            </v-row>
            <v-row no-gutters v-if="formState.cadiAnalyses.length > 0">
              <div
                v-for="analysis_code in formState.cadiAnalyses"
                :key="analysis_code"
              >
                <v-chip
                  class="ma-2"
                  close
                  @click:close="removeCadiAnalysis(analysis_code)"
                >
                  {{ analysis_code }}
                </v-chip>
              </div>
            </v-row>
            <div><br /></div>
            <h3>CMS Notes</h3>
            <v-row no-gutters>
              <v-col>
                <cms-notes-picker
                  label="Add a CMS note id"
                  clearable
                  placeholder
                  v-model="formState.chosenCMSNoteId"
                ></cms-notes-picker>
              </v-col>
            </v-row>
            <v-row no-gutters v-if="formState.cmsNotes.length > 0">
              <div v-for="cmsNoteId in formState.cmsNotes" :key="cmsNoteId">
                <v-chip
                  class="ma-2"
                  close
                  @click:close="removeCMSNoteId(cmsNoteId)"
                >
                  {{ cmsNoteId }}
                </v-chip>
              </div>
            </v-row>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-text-field label="Remarks" v-model="formState.remarks" />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="red darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.li {
  font-size: 18px;
}
</style>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";

import DateInput from "@/components/common/inputs/DateInput";
import CadiAnalysesPicker from "./CadiAnalysesPicker.vue";
import CMSNotesPicker from "./CMSNotesPicker.vue";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import InstitutePicker from "@/components/common/inputs/InstitutePicker";

export default {
  name: "PhdInfoFormDialog",
  components: {
    "date-input": DateInput,
    "person-picker": PersonPicker,
    "inst-picker": InstitutePicker,
    "cadi-analyses-picker": CadiAnalysesPicker,
    "cms-notes-picker": CMSNotesPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    phdInfo: { type: Object },
    currentUserInfo: {},
    currentUserId: {},
    collectionActions: { type: Object },
    isEdit: { type: Boolean, default: false },
  },
  data() {
    return {
      formState: this.getInitialFormState(),

      valid: true,
      thesisTitleRules: [fieldRequiredRule("Thesis Title")],
      instituteRules: [fieldRequiredRule("Institute")],
      student: [fieldRequiredRule("PhD Student")],
      enrollmentDateRules: [
        fieldRequiredRule("Enrollment Date"),
        this.dateIsAfterRule,
      ],
      dissertationDefenseDateRules: [this.dateIsAfterRule],

      physicsGroupsOptions: [],
      cmsProjectsOptions: [],
      collectionInstitutes: [],
    };
  },
  watch: {
    phdInfo() {
      this.initialize();
    },
    collectionActions() {
      this.initialize();
    },
    "formState.chosenCadiAnalysesCode"() {
      this.addCadiAnalysis();
    },
    "formState.chosenCMSNoteId"() {
      this.addCMSNoteId();
    },
    "formState.enrollmentDate"() {
      if (!this.$refs.dissertation_defense_date?.$refs?.timeField) {
        return;
      }
      this.$nextTick(() => {
        this.$refs.dissertation_defense_date.$refs.timeField.validate(true);
      });
    },
    "formState.dissertationDefenseDate"() {
      if (!this.$refs.enrollment_date?.$refs?.timeField) {
        return;
      }
      this.$nextTick(() => {
        this.$refs.enrollment_date.$refs.timeField.validate(true);
      });
    },
  },
  computed: {},
  methods: {
    initialize() {
      if (this.$refs.form) this.$refs.form.reset();
      this.$nextTick(() => {
        this.formState = this.phdInfo
          ? this.getFormState(this.phdInfo)
          : this.getInitialFormState();
      });
    },
    getInitialFormState() {
      let ins;
      if (this.collectionActions.institutes.length === 1) {
        ins = this.collectionActions.institutes[0];
      } else {
        ins = "";
      }
      return {
        phdStudentSelf: this.currentUserInfo,
        phdStudent: "",
        chosenInstCode: "",
        institute: ins,
        thesisTitle: "",
        thesisLink: "",
        enrollmentDate: "",
        dissertationDefenseDate: "",
        physicsGroups: [],
        cmsProjects: [],
        cadiAnalyses: [],
        cmsNotes: [],
        chosenCadiAnalysesCode: null,
        chosenCMSNoteId: null,
        remarks: "",
      };
    },
    getFormState(phdInfo) {
      return {
        phdStudentSelf: this.currentUserInfo,
        phdStudent: phdInfo.student.cms_id,
        chosenInstCode: phdInfo.student_institute,
        institute: phdInfo.student_institute,
        thesisTitle: phdInfo.thesis_title,
        thesisLink: phdInfo.thesis_link,
        enrollmentDate: phdInfo.enrollment_date,
        dissertationDefenseDate: phdInfo.dissertation_defense_date,
        physicsGroups: phdInfo.physics_groups
          ? phdInfo.physics_groups.replaceAll("\n", "").split(",")
          : [],
        cmsProjects: phdInfo.cms_projects
          ? phdInfo.cms_projects.replaceAll("\n", "").split(",")
          : [],
        cadiAnalyses: phdInfo.cadi_analyses
          ? phdInfo.cadi_analyses.replaceAll("\n", "").split(",")
          : [],
        cmsNotes: phdInfo.cms_notes
          ? phdInfo.cms_notes.replaceAll("\n", "").split(",")
          : [],
        remarks: phdInfo.remarks,
        chosenCadiAnalysesCode: null,
        chosenCMSNoteId: null,
      };
    },
    dateIsAfterRule() {
      const { enrollmentDate, dissertationDefenseDate } = this.formState;
      if (dissertationDefenseDate && enrollmentDate > dissertationDefenseDate)
        return "Dissertation defense date must be after enrollment date.";
      return true;
    },
    close() {
      this.$emit("input", false);
    },
    addCadiAnalysis() {
      const code = this.formState.chosenCadiAnalysesCode;
      if (code) {
        let analyses_codes = this.formState.cadiAnalyses;
        if (!analyses_codes.includes(code)) {
          analyses_codes.push(code);
          this.formState.chosenCadiAnalysesCode = "";
        }
      }
    },
    removeCadiAnalysis(codeToRemove) {
      this.formState.cadiAnalyses = this.formState.cadiAnalyses.filter(
        (analysis_code) => analysis_code != codeToRemove
      );
    },
    addCMSNoteId() {
      const chosenNodeId = this.formState.chosenCMSNoteId;
      if (chosenNodeId) {
        let cmsNotesIds = this.formState.cmsNotes;
        if (!cmsNotesIds.includes(chosenNodeId)) {
          cmsNotesIds.push(chosenNodeId);
          this.formState.chosenCMSNoteId = "";
        }
      }
    },
    removeCMSNoteId(idToRemove) {
      this.formState.cmsNotes = this.formState.cmsNotes.filter(
        (noteId) => noteId != idToRemove
      );
    },
    async submit() {
      if (!this.$refs.form.validate()) return;

      const {
        phdStudent,
        chosenInstCode,
        institute,
        thesisTitle,
        thesisLink,
        enrollmentDate,
        dissertationDefenseDate,
        physicsGroups,
        cmsProjects,
        cadiAnalyses,
        cmsNotes,
        remarks,
      } = this.formState;
      let student;
      if (this.collectionActions.actions == "create-self") {
        student = this.currentUserId;
      } else {
        student = phdStudent;
      }
      let institute_to_set =
        this.collectionActions.actions == "create-all"
          ? chosenInstCode
          : institute;
      const call = new api.PhdInfoCall()
        .setThesisTitle(thesisTitle)
        .setThesisLink(thesisLink)
        .setStudent({ cms_id: student })
        .setStudentInstitute(institute_to_set)
        .setEnrollmentDate(enrollmentDate)
        .setDissertationDefenseDate(
          dissertationDefenseDate === "" ? null : dissertationDefenseDate
        )
        .setPhysicsGroups(physicsGroups)
        .setCmsProjects(cmsProjects)
        .setCadiAnalyses(cadiAnalyses)
        .setCmsNotes(cmsNotes)
        .setRemarks(remarks)
        .setIsActive(true)
        .setUpdater({});

      let data;
      if (this.isEdit) data = await call.setId(this.phdInfo.id).put();
      else data = await call.post();
      this.$store.dispatch(
        "notification/infoMessage",
        `PhD Info ${this.isEdit ? "Updated" : "Created"}!`
      );
      this.$emit(this.isEdit ? "infoupdated" : "infocreated", data);
      this.close();
    },
  },
  async mounted() {
    const ph_grs = await new api.CadiGroups().get();
    const cms_pr = await new api.CMSProjects().get();

    this.physicsGroupsOptions = [];
    for (var i in ph_grs) {
      var gr = ph_grs[i];
      this.physicsGroupsOptions.push({
        value: gr["name"],
        label: gr["name"],
      });
    }

    this.cmsProjectsOptions = [];
    for (var j in cms_pr) {
      var pr = cms_pr[j];
      this.cmsProjectsOptions.push({
        value: pr["code"],
        label: pr["code"] + " (" + pr["name"] + ")",
      });
    }

    this.collectionInstitutes = this.collectionActions.institutes;
    //
  },
};
</script>
