<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title
        >Log of EPR authorship due corrections</template
      >
      <template v-slot:header>
        <v-container class="text-center" fluid style="padding: 0">
          <v-row align="center">
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table :headers="headers" :items="corrections" :search="search" />
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  name: "DueCorrections",
  props: {
    headers: {
      type: Array,
      default() {
        return [
          { text: "CMS ID", value: "author_cms_id", sortable: true },
          { text: "First name", value: "first_name", sortable: true },
          { text: "Last name", value: "last_name", sortable: true },
          { text: "Year", value: "year", sortable: true },
          { text: "Correction", value: "correction", sortable: true },
          { text: "Inst Code", value: "inst_code", sortable: true },
          { text: "Reason", value: "reason", sortable: true },
          { text: "Remarks", value: "remarks", sortable: true },
          { text: "by CMS ID", value: "actor_cms_id", sortable: true },
          { text: "Date", value: "date", sortable: true },
        ];
      },
    },
  },
  data() {
    return {
      corrections: [],
      search: "",
    };
  },
  async mounted() {
    this.corrections = await new api.EprCorrectionsCall().get();
  },
  created() {
    this.icon = icon;
  },
};
</script>

<style></style>
