<template>
  <base-page>
    <template v-slot:toolbar-title>EPR Due Correction Tool</template>
    <template v-slot:body>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-container>
          <v-row justify="center">
            <div style="width: 600px">
              <div class="form-group mb-4">
                <person-picker
                  label="Person"
                  ref="person"
                  v-model="cmsId"
                  :rules="cmsIdRules"
                  :messages="[
                    'Please type at least 3 characters, multiple tokens should be separated by spaces.',
                  ]"
                />
              </div>

              <div class="form-group mb-4">
                <v-radio-group
                  label="Type"
                  v-model="typeVal"
                  :messages="['Type of the due to be corrected.']"
                  :rules="typeValRules"
                >
                  <template>
                    <v-radio
                      v-for="dueType in dueTypes"
                      :key="dueType"
                      :label="dueType"
                      :value="dueType"
                    ></v-radio>
                  </template>
                </v-radio-group>
              </div>

              <div class="form-group mb-4">
                <v-text-field
                  label="Correction"
                  v-model="correction"
                  :messages="[
                    'A positive number will increase the due, a negative will result in a deduction.',
                  ]"
                  type="number"
                />
              </div>

              <div class="form-group mb-4" v-if="instCodes.length > 0">
                <v-radio-group
                  label="Institute"
                  v-model="instVal"
                  :messages="[
                    'Relevant when changes should only apply to particular institute and person changed institutes during the year.',
                  ]"
                >
                  <v-radio
                    v-for="code in instCodes"
                    :key="code"
                    :label="code"
                    :value="code"
                  ></v-radio>
                </v-radio-group>
              </div>

              <div class="form-group mb-4">
                <v-text-field
                  label="Year"
                  v-model="year"
                  v-on:change="updateTimeLines"
                  :messages="['Only possible for the (recent) past.']"
                  type="number"
                  :min="minYear"
                  :max="maxYear"
                />
              </div>

              <div class="form-group mb-4">
                <v-select
                  label="Reason for reduction"
                  v-model="reason"
                  :rules="reasonRules"
                  :items="reasons"
                  :messages="['In case of other, please specify in remarks.']"
                />
              </div>

              <div class="form-group">
                <v-textarea label="Additional remarks" v-model="remarks" />
              </div>

              <v-row justify="center" class="mb-4">
                <v-btn color="primary" dark @click.stop="openDialog"
                  >Apply</v-btn
                >
                <v-dialog v-model="dialog" persistent max-width="290">
                  <v-card>
                    <v-card-title class="headline">Please confirm</v-card-title>
                    <v-card-text>
                      The {{ typeVal }} EPR due of {{ personString }} for
                      {{ year }} ({{ instVal }}) will be
                      <font v-bind:color="correction > 0 ? 'red' : 'green'">
                        {{ correction > 0 ? "increased" : "reduced" }}</font
                      >
                      by {{ Math.abs(correction) }}. Would you like to proceed?
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="green darken-1" text @click="dialog = false"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="green darken-1"
                        text
                        @click="
                          submit();
                          dialog = false;
                        "
                        >Accept</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>

              <div class="time-lines" v-if="timeLines.length > 0">
                <h4 style="text-align: center">Time Lines Preview</h4>
                <v-data-table
                  :items="timeLines"
                  :headers="timelineHeaders"
                  :hide-default-footer="true"
                />
              </div>
            </div>
          </v-row>
        </v-container>
      </v-form>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";

import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  name: "DueCorrector",
  components: {
    "person-picker": PersonPicker,
  },
  data() {
    return {
      valid: true,

      dueTypes: ["author", "applicant"],
      year: new Date().getFullYear() - 1,
      correction: 0,
      maxYear: new Date().getFullYear(),
      minYear: new Date().getFullYear() - 2,
      message: null,
      timeLines: [],
      typeVal: null,
      typeValRules: [fieldRequiredRule("Due type")],
      instVal: null,
      reason: null,
      reasonRules: [fieldRequiredRule("Reason")],
      cmsId: null,
      cmsIdRules: [fieldRequiredRule("Person")],
      personString: null,
      remarks: "",
      reasons: [
        { value: "phd", text: "PHD" },
        { value: "pregnancy", text: "Pregnancy" },
        { value: "parenting", text: "Parenting" },
        { value: "mo_ab", text: "M&O A / B" },
        { value: "convener_l012_pog_pag", text: "L0 / L1 / L2 / POG / PAG" },
        { value: "illness", text: "Serious illness" },
        { value: "other", text: "Other" },
      ],
      timelineHeaders: [
        { text: "Year", value: "year", sortable: true },
        { text: "Start Date", value: "timestamp", sortable: true },
        { text: "Institute", value: "instCode", sortable: true },
        { text: "Activity", value: "category", sortable: true },
        { text: "Author Due", value: "dueAuthor", sortable: true },
        { text: "Applicant Due", value: "dueApplicant", sortable: true },
      ],
      dialog: false,
    };
  },
  methods: {
    openDialog() {
      this.dialog = this.$refs.form.validate();
    },
    submit() {
      new api.EprCorrectionCall(this.typeVal)
        .setCmsId(this.cmsId)
        .setYear(this.year)
        .setCorrection(this.correction)
        .setInstCode(this.instVal)
        .setReason(this.reason)
        .setRemarks(this.reamarks)
        .post()
        .then(() => {
          console.debug("Corrector custom SUCCESS");
          this.$store.dispatch("notification/infoMessage", "Email Sent!");
          this.updateTimeLines();
        });
    },
    async updateTimeLines() {
      this.timeLines = [];
      if (this.cmsId != null && this.year != null) {
        this.timeLines = await new api.EprTimeLinesCall()
          .setCmsId(this.cmsId)
          .setYear(this.year)
          .get();
      }
    },
  },
  watch: {
    dueTypes(newValue, oldValue) {
      if (newValue === oldValue) return;
      if (newValue.length == 1) this.typeVal = newValue[0];
    },
    instCodes(newValue, oldValue) {
      if (newValue === oldValue) return;
      if (newValue.length == 1) this.instVal = newValue[0];
    },
    cmsId() {
      this.updateTimeLines();
    },
  },
  computed: {
    instCodes() {
      var ans = [];
      for (var i in this.timeLines) {
        ans.push(this.timeLines[i]["instCode"]);
      }
      return Array.from(new Set(ans));
    },
  },
};
</script>

<style></style>
