<template>
  <v-dialog :value="value" @input="$emit('input', $value)" maxWidth="360px">
    <v-card>
      <v-card-title class="headline">{{
        isEdit ? "Edit Entry" : "New Entry"
      }}</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <person-picker
            v-model="cmsId"
            :rules="cmsIdRules"
            :disabled="isEdit"
            label="Person"
          />
          <v-text-field v-model="inspireId" label="Inspire Id" />
          <v-text-field v-model="orcId" :rules="orcIdRules" label="Orc Id" />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import { fieldRequiredRule } from "@/utils/validation";

import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  components: {
    PersonPicker,
  },
  props: {
    value: { type: Boolean },
    item: { default: null },
  },

  data() {
    return {
      valid: true,

      cmsId: null,
      cmsIdRules: [fieldRequiredRule("CMS Id")],

      inspireId: '',

      orcId: "",
      orcIdRules: [fieldRequiredRule("Orc Id")],
      loading: false,
    };
  },
  watch: {
    item(value) {
      if (value) {
        this.orcId = value.orc_id;
        this.inspireId = value.inspire_id;
        this.cmsId = value.cms_id;
      } else {
        this.orcId = null;
        this.inspireId = '';
        this.cmsId = null;
      }
    },
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;

      const call = new api.AuthorDataCall();

      let result;
      if (this.isEdit) {
        result = await call
          .setId(this.item.cms_id)
          .setCmsId(this.item.cms_id)
          .setLastUpdate(this.item.last_update)
          .setInspireId(this.inspireId)
          .setOrcId(this.orcId)
          .put();
      } else {
        result = await call
          .setCmsId(this.cmsId)
          .setInspireId(this.inspireId)
          .setOrcId(this.orcId)
          .post();
      }

      this.infoMessage("Orc ID Updated");
      this.$emit(this.isEdit ? "update" : "create", result);
      this.loading = false;
      this.close();
    },
  },
};
</script>
